{% extends "index-status-e.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="br-mainpanel bg-info" style="position: relative;">
<div class="br-pagebody mg-t-5 pd-x-30">

<div class="d-flex align-items-center justify-content-center bg-info ht-100v">
  {% include "messege.html" %}

      <div class=" bg-white rounded shadow-base col-md-8">
         <div class="card-body">
              <form enctype="multipart/form-data" method="POST">{% csrf_token %}
                {{form|crispy}}
                 <div class="form-layout-footer mg-t-30">
                <button class="btn btn-teal" type="submit"> GUARDAR</button>
                <button class="btn btn-warning mg-l-10" type="button" onClick="javascript:history.go(-1);"> volver</button></a>
                </div>
                </form>
          </div><!-- card-body -->
        
      </div><!-- login-wrapper -->
    </div>
</div>
{% endblock content %}