{% extends 'index-status-e.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="br-mainpanel" style="position: relative;">

  <div class="br-pageheader pd-y-15 pd-md-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item"> {{proyecto}} </a>
      <span class="breadcrumb-item active">Panel Administrador</span>
    </nav>
  </div>
  {% include "messege.html" %}
  <div class="br-pagebody mg-t-5 pd-x-30">
    <div class="card bd-0">
      <div class="card-header bg-dark">
        <ul class="nav nav-tabs nav-tabs-for-dark card-header-tabs">
          <li class="nav-item">
            <a class="nav-link bd-0 active pd-y-8" href="{% url 'encargado-index' %}">Agregar Responsable</a>
          </li>
          <li class="nav-item">
            <a class="nav-link bd-0 tx-gray-light" href="{% url 'encargado-grafico' %}">Graficas</a>
          </li>
        </ul>
      </div>
      <!-- card-header -->
      <div class="card-body">
        <div class="row row-sm mg-t-10 pd-y-15">
          <div class="col-lg-12">
            <div class="card shadow-base card-body bd-0">
              <div class="row">
                <div class="col-sm-12">
                  <h4 class="mg-b-0 tx-uppercase tx-bold tx-inverse tx-poppins mg-t-10 mg-b-20 "
                    style="text-align: left; margin-right: 30px">
                    Asignacion de responsabilidad
                  </h4>
                  <table id="datatable1"
                    class=" records_list table table-striped table-bordered table-hover dataTable no-footer table-primary "
                    style="width: 100%; table-layout: inherit">
                    <thead>
                      <tr role="row">
                        <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1"
                          style="color: #fff; text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;width: auto;">
                        </th>
                        <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1"
                          style="color: #fff;text-align: center;vertical-align: middle;font-size: 10px;padding: 5px; width: auto; ">
                          Especialidad
                        </th>
                        <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1"
                          style="
                          color: #fff;
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                          width: auto;
                        ">
                          Descripción
                        </th>
                        <th class="wd-20p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1"
                          style="
                          color: #fff;
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                          width: auto;
                        ">
                          Código
                        </th>
                        <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1"
                          style="
                          color: #fff;
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                          width: auto;
                        ">
                          Tipo
                        </th>
                        <th class="wd-10p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1"
                          style="
                          color: #fff;
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                          width: auto;
                        ">
                          Revisión <br />Actual
                        </th>
                        <th class="wd-25p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1"
                          style="
                          color: #fff;
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                          width: auto;
                        ">
                          A cargo de:
                        </th>
                        <th class="wd-25p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1"
                          style="
                          color: #fff;
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                          width: auto;
                        ">
                          Último Transmital
                        </th>
                        <th class="wd-25p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1"
                          style="
                          color: #fff;
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                          width: auto;
                        ">
                          Días de revisión
                        </th>
                        <th class="wd-25p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1"
                          style="
                          color: #fff;
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                          width: auto;
                        ">
                          Estado
                        </th>
                        <th class="wd-25p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1"
                          style="
                          color: #fff;
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                          width: auto;
                        ">
                          Fecha Inicial
                        </th>
                        <th class="wd-25p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1"
                          style="
                          color: #fff;
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                          width: auto;
                        ">
                          Fecha Final
                        </th>
                        <th class="wd-25p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1"
                          style="
                          color: #fff;
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                          width: auto;
                        ">
                          (%) de Avance
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <!--Loop Listar Documento-->
                      {% for documento in Listado %}
                      {% if documento.1.0 == 'no version' %}
                      <tr role="row" class="odd">
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                          <a href="{% url 'create-tarea' documento.0.pk %}"><i class="fa fa-pencil"></i></a>
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                          {{documento.0.Especialidad}}
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                          {{documento.0.Descripcion}}
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                          {{documento.0.Codigo_documento}}
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                          {{documento.0.Tipo_Documento}}
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                        </th>
                        <th style="text-align: center;vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                        "></th>
                        <th style="
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                        ">
                          {{documento.1.1}}
                        </th>
                        <th style="
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                        "></th>
                        <th style="
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                        "></th>
                        <th style="
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                        "></th>
                      </tr>
                      {% else %}
                      <tr role="row" class="odd">
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                          <a href="{% url 'create-tarea' documento.0.pk %}"><i class="fa fa-pencil"></i></a>
                        </th>
                        <th style="
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                        ">
                          {{documento.0.Especialidad}}
                        </th>
                        <th style="
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                        ">
                          {{documento.0.Descripcion}}
                        </th>
                        <th style="
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                        ">
                          <a href="{% url 'buscador-detalle' documento.0.pk %}">{{documento.0.Codigo_documento}}</a>
                        </th>
                        <th style="
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                        ">
                          {{documento.0.Tipo_Documento}}
                        </th>
                        <th style="
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                        ">
                          {{documento.1.0.get_revision_display}}
                        </th>
                        <th style="
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                        ">
                          {{documento.1.1.destinatario.perfil.empresa}}
                        </th>
                        <th style="
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                        "> {% if documento.1.1 %}
                          <a href="{% url 'paquete-detalle' documento.1.1.pk %}">{{documento.1.1}}
                          </a>
                          {% else %}
                          {% endif %}
                        </th>
                        <th style="
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                        ">
                          {{documento.1.6}}
                        </th>
                        <th style="
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                        ">
                          {% if not documento.1.0.get_estado_cliente_display %}
                          {{ documento.1.0.get_estado_contratista_display }}
                          {% else %}{{documento.1.0.get_estado_cliente_display}}
                          {% endif %}
                        </th>
                        <th style="
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                        ">
                          {{documento.1.5.fecha_creacion|date:"d-m-y"}}
                        </th>
                        <th style="
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                        ">
                          {{documento.1.1.fecha_creacion|date:"d-m-y"}}
                        </th>
                        <th style="
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                        ">
                          {{documento.1.3}}%
                        </th>
                      </tr>
                      {% endif %} {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-sm mg-t-10 pd-y-15">
          <div class="col-lg-12">
            <div class="card shadow-base card-body bd-0">
              <div class="row">
                <div class="col-sm-12">
                  <table id="datatable2"
                class=" records_list table table-striped table-bordered table-hover dataTable no-footer table-primary "
                    style="width: 100%; table-layout: inherit">
                    <thead>
                      <tr role="row">
                        <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1"
                          style="color: #fff; text-align: center; vertical-align: middle; font-size: 10px; padding: 5px; width: auto;">
                          CODIGO
                        </th>
                        <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1"
                          style="color: #fff;text-align: center;vertical-align: middle;font-size: 10px;padding: 5px; width: auto;">
                          Nombre
                        </th>
                        <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1"
                          style="
                          color: #fff;
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                          width: auto;
                        ">
                          ESTADO
                        </th>
                        <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1"
                          style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width: auto;text-transform:uppercase">
                          Detalle de validación</th>


                        <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1"
                          style="
                          color: #fff;
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                          width: auto;
                        ">
                          RESPONSABLE
                        </th>
                        <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1"
                          style="
                          color: #fff;
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                          width: auto;
                        ">
                          HH ASIGNADAS
                        </th>
                        <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1"
                          style="
                          color: #fff;
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                          width: auto;
                        ">
                          HH REALES
                        </th>
                        <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1"
                          style="
                          color: #fff;
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                          width: auto;
                        ">
                          RESTRICCION
                        </th>
                        <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1"
                          style="
                          color: #fff;
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                          width: auto;
                        ">
                          FECHA SOLICITUD
                        </th>
                        <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1"
                          style="
                          color: #fff;
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                          width: auto;
                        ">
                          FECHA REQUERIDO
                        </th>
                        <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1"
                          style="
                          color: #fff;
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                          width: auto;
                        ">
                          FECHA REALIZADO
                        </th>
                        <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1"
                          style="
                          color: #fff;
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                          width: auto;
                        "></th>
                        <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1"
                          style="
                          color: #fff;
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                          width: auto;
                        "></th>
                        <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1"
                          style="
                          color: #fff;
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                          width: auto;
                        "></th>
                      </tr>
                    </thead>
                    <tbody>
                      <!--Loop Listar Documento-->
                      {% for tarea in tareas %}
                      <tr role="row" class="odd">
                        <th style="
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                        ">
                          {{tarea.0.documento.Codigo_documento}}
                        </th>
                        <th style="
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                        ">
                          {{tarea.0.documento.Descripcion}}
                        </th>
                        <th style="
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                        ">
                          {% if tarea.0.estado == False %}
                          <h6 style="color: red" data-toggle="tooltip" data-placement="right" title="Tarea en revisión">
                            <strong>&#9587;</strong></h6>
                          {% elif tarea.0.estado == True %}
                          <h5 style="color: green" data-toggle="tooltip" data-placement="right" title="Tarea Aprobada">
                            <strong>&#10004;</strong></h5>


                          {% endif %}
                          {% comment %} <h4 style="color: orange"><strong>&#33;</strong></h4> {% endcomment %}
                        </th>
                        <th style="
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                          text-transform: capitalize;
                        ">

                          {% if tarea.0.task_answer.last.estado == 1 and tarea.0.task_answer.count > 0 %}
                          Pendiente Revisión
                          {% elif tarea.0.task_answer.last.estado == 3 and tarea.0.task_answer.count > 0 %}
                          En Ejecución
                          {% elif tarea.0.task_answer.last.estado == 2 and tarea.0.task_answer.count > 0 %}
                          Aprobado
                          {% else %}
                          En Ejecución
                          {% endif %}


                        </th>
                        <th style="
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                        ">
                          {{tarea.0.encargado}}
                        </th>
                        <th style="
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                        ">
                          {{tarea.0.contidad_hh}}
                        </th>
                        <th style="
                          text-align: center;
                          vertical-align: middle;
                          font-size: 10px;
                          padding: 5px;
                        ">
                          {{tarea.2}}
                        </th>
                        <th style="text-align: center; vertical-align: middle; font-size: 10px; padding: 5px; ">
                          {% if tarea.0.restricciones == None %}
                          Sin restricción
                          {% else %}
                          {{tarea.0.restricciones}}
                          {% endif %}
                        </th>
                        <th style="text-align: center; vertical-align: middle; font-size: 10px; padding: 5px;">
                          {{tarea.0.created_at|date:'d-M-y'}}
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                          {{tarea.0.plazo|date:'d-M-y'}}
                        </th>
                        <th style="text-align: center; vertical-align: middle; font-size: 10px;padding: 5px;">
                          {{tarea.1.contestado|date:'d-M-y'}}
                        </th>
                        <th style="text-align: center; vertical-align: middle; font-size: 10px; padding: 5px;">
                          <a href="{% url 'detail-tarea' tarea.0.pk %}"><i class="fa fa-eye"
                              style="color: teal"></i></a>
                        </th>
                        <th style="text-align: center; vertical-align: middle;  font-size: 10px;padding: 5px;">
                          <a href="{% url 'edit-tarea' tarea.0.pk %}"><i class="icon ion-edit"
                              style="color: blue"></i></a>
                        </th>
                        <th style=" text-align: center; vertical-align: middle; font-size: 10px; padding: 5px;">
                          <a href="{% url 'delete-tarea' tarea.0.pk %}"><i class="icon ion-trash-b"
                              style="color: red"></i></a>
                        </th>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- card -->
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script>
  $(document).ready(function () {
    $("#datatable1").DataTable({
      dom: 'B<"float-right"f>t<"float-left"l>p<"clearfix">',
      paging: true,
      pageLength: 5,
      responsive: true,
      "oLanguage": {
        "sSearch": "&#128270;" //search
      },
      language: {
        url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json",
      },
      order: [0, "asc"],

      buttons: {
        dom: {
          button: {
            className: "btn btn-success",
          },
        },
      },
      buttons: [
        {
          //definimos estilos del boton de excel
          extend: "excel",
          text: "Exportar a Excel",
          className: "btn btn-success",

          // 1 - ejemplo básico - uso de templates pre-definidos
          //definimos los parametros al exportar a excel

          excelStyles: {
            template: "header_blue", // Apply the 'header_blue' template part (white font on a blue background in the header/footer)
            template: "green_medium",

            template: ["blue_medium", "header_green", "title_medium"],
          },
        },
      ],
    });
  });
</script>
<script>
  $(document).ready(function () {
    $("#datatable2").DataTable({
      dom: 'B<"float-right"f>t<"float-left"l>p<"clearfix">',
      paging: true,
      pageLength: 5,
      bSort: false,
      "oLanguage": {
        "sSearch": "&#128270;" //search
      },
      responsive: true,
      language: {
        url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json",
      },
      order: [7, "asc"],

      buttons: {
        dom: {
          button: {
            className: "btn btn-success",
          },
        },
      },
      buttons: [
        {
          //definimos estilos del boton de excel
          extend: "excel",
          text: "Exportar a Excel",
          className: "btn btn-success",

          // 1 - ejemplo básico - uso de templates pre-definidos
          //definimos los parametros al exportar a excel

          excelStyles: {
            template: "header_blue", // Apply the 'header_blue' template part (white font on a blue background in the header/footer)
            template: "green_medium",

            template: ["blue_medium", "header_green", "title_medium"],
          },
        },
      ],
    });
  });
</script>
{% endblock content %}