{% extends 'index-status-e.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="br-mainpanel" style="position: relative;">

  <div class="br-pageheader pd-y-15 pd-md-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item"> {{proyecto}} </a>
      <span class="breadcrumb-item active">Panel Administrador</span>
    </nav>
  </div>
  {% include "messege.html" %}
  <div class="br-pagebody mg-t-5 pd-x-30">
    <div class="card bd-0">
      <div class="card-header bg-dark">
        <ul class="nav nav-tabs nav-tabs-for-dark card-header-tabs">
          <li class="nav-item">
            <a class="nav-link bd-0 active pd-y-8" href="{% url 'encargado-index' %}">Agregar Responsable</a>
          </li>
          <li class="nav-item">
            <a class="nav-link bd-0 tx-gray-light" href="{% url 'encargado-grafico' %}">Graficas</a>
          </li>
        </ul>
      </div>
      <!-- card-header -->
      <div class="card-body">
        <div class="row row-sm mg-t-10 pd-y-15">
          <div class="col-lg-12">
            <div class="card shadow-base card-body bd-0">
              <div class="row">
                <div class="col-sm-12">
                  <h4 class="mg-b-0 tx-uppercase tx-bold tx-inverse tx-poppins mg-t-10 mg-b-20 "
                    style="text-align: left; margin-right: 30px">
                    Asignacion de responsabilidad
                  </h4>
                  <table id="datatable1"class=" table table-striped table-bordered table-hover table-primary " style="width: 100%!important;">
                    <thead>
                      <tr role="row">
                        <th style="color: #fff;text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;width: auto;">
                        </th>
                        <th style="color: #fff;text-align: center;vertical-align: middle;font-size: 10px;padding: 5px; width: auto;">
                          Especialidad
                        </th>
                        <th style="color: #fff;text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;width: auto;">
                          Descripción
                        </th>
                        <th style="color: #fff;text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;width: auto;">
                          Código
                        </th>
                        <th style="color: #fff;text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;width: auto;">
                          Tipo
                        </th>
                        <th style="color: #fff;text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;width: auto;">
                          Revisión <br />Actual
                        </th>
                        <th style="color: #fff;text-align: center;vertical-align: middle;font-size: 10px;padding: 5px; width: auto;">
                          A cargo de:
                        </th>
                        <th style="color: #fff;text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;width: auto;">
                          Último Transmital
                        </th>
                        <th style="color: #fff;text-align: center;vertical-align: middle;font-size: 10px;padding: 5px; width: auto;">
                          Días de revisión
                        </th>
                        <th style="color: #fff;text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;width: auto;">
                          Estado
                        </th>
                        <th style=" color: #fff;text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;width: auto;">
                          Fecha Inicial
                        </th>
                        <th style=" color: #fff;text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;width: auto;">
                          Fecha Final
                        </th>
                        <th style="color: #fff;text-align: center;vertical-align: middle;font-size: 10px;padding: 5px; width: auto;">
                          (%) de Avance
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <!--Loop Listar Documento-->
                      {% for documento in Listado %}
                      {% if documento.1.0 == 'no version' %}
                      <tr role="row" class="odd">
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                          <a href="{% url 'create-tarea' documento.0.pk %}"><i class="fa fa-pencil"></i></a>
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                          {{documento.0.Especialidad}}
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                          {{documento.0.Descripcion}}
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                          {{documento.0.Codigo_documento}}
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                          {{documento.0.Tipo_Documento}}
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                          {{documento.1.1}}
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                        </th>
                      </tr>
                      {% else %}
                      <tr role="row" class="odd">
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                          <a href="{% url 'create-tarea' documento.0.pk %}"><i class="fa fa-pencil"></i></a>
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                          {{documento.0.Especialidad}}
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                          {{documento.0.Descripcion}}
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                          <a href="{% url 'buscador-detalle' documento.0.pk %}">
                           {{documento.0.Codigo_documento}}
                          </a>
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                          {{documento.0.Tipo_Documento}}
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                          {{documento.1.0.get_revision_display}}
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                          {{documento.1.1.destinatario.perfil.empresa}}
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;"> 
                          {% if documento.1.1 %}
                            <a href="{% url 'paquete-detalle' documento.1.1.pk %}">{{documento.1.1}}
                            </a>
                          {% else %}
                            <!--EMPTY-->
                          {% endif %}
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                          {{documento.1.6}}
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                          {% if not documento.1.0.get_estado_cliente_display %}
                            {{ documento.1.0.get_estado_contratista_display }}
                          {% else %}{{documento.1.0.get_estado_cliente_display}}
                            <!--EMPTY-->
                          {% endif %}
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                          {{documento.1.5.fecha_creacion|date:"d-m-y"}}
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                          {{documento.1.1.fecha_creacion|date:"d-m-y"}}
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                          {% if documento.1.0.get_estado_cliente_display == "Anulado" %}
                            100%
                          {% else %} 
                            {{documento.1.3}}% 
                          {% endif %}
                        </th>
                      </tr>
                      {% endif %} {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-sm mg-t-10 pd-y-15">
          <div class="col-lg-12">
            <div class="card shadow-base card-body bd-0">
              <div class="row">
                <div class="col-sm-12">
                  <table id="datatable2" class=" table table-striped table-bordered table-hover datatable table-primary "style="width: 100%!important;">
                    <thead>
                      <tr role="row">
                        <th style="color: #fff;text-align: center;vertical-align: middle;font-size: 10px;padding: 5px; width: auto;">
                          CODIGO
                        </th>
                        <th style="color: #fff;text-align: center;vertical-align: middle;font-size: 10px;padding: 5px; width: auto;">
                          Nombre
                        </th>
                        <th style="color: #fff;text-align: center;vertical-align: middle;font-size: 10px;padding: 5px; width: auto;">
                          ESTADO
                        </th>
                        <th style="color: #fff;text-align: center;vertical-align: middle;font-size: 10px;padding: 5px; width: auto;">
                          Detalle de validación
                        </th>
                        <th style="color: #fff;text-align: center;vertical-align: middle;font-size: 10px;padding: 5px; width: auto;">
                          RESPONSABLE
                        </th>
                        <th style="color: #fff;text-align: center;vertical-align: middle;font-size: 10px;padding: 5px; width: auto;">
                          HH ASIGNADAS
                        </th>
                        <th style="color: #fff;text-align: center;vertical-align: middle;font-size: 10px;padding: 5px; width: auto;">
                          HH REALES
                        </th>
                        <th style="color: #fff;text-align: center;vertical-align: middle;font-size: 10px;padding: 5px; width: auto;">
                          RESTRICCION
                        </th>
                        <th style="color: #fff;text-align: center;vertical-align: middle;font-size: 10px;padding: 5px; width: auto;">
                          FECHA SOLICITUD
                        </th>
                        <th style="color: #fff;text-align: center;vertical-align: middle;font-size: 10px;padding: 5px; width: auto;">
                          FECHA REQUERIDO
                        </th>
                        <th style="color: #fff;text-align: center;vertical-align: middle;font-size: 10px;padding: 5px; width: auto;">
                          FECHA REALIZADO
                        </th>
                        <th style="color: #fff;text-align: center;vertical-align: middle;font-size: 10px;padding: 5px; width: auto;"></th>
                        <th style="color: #fff;text-align: center;vertical-align: middle;font-size: 10px;padding: 5px; width: auto;"></th>
                        <th style="color: #fff;text-align: center;vertical-align: middle;font-size: 10px;padding: 5px; width: auto;"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <!--Loop Listar Documento-->
                      {% for tarea in tareas %}
                      <tr role="row" class="odd">
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                          {{tarea.0.documento.Codigo_documento}}
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                          {{tarea.0.documento.Descripcion}}
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                          {% if tarea.0.estado == False %}
                          <h6 style="color: red" data-toggle="tooltip" data-placement="right" title="Tarea en revisión">
                            <strong>&#9587;</strong></h6>
                          {% elif tarea.0.estado == True %}
                          <h5 style="color: green" data-toggle="tooltip" data-placement="right" title="Tarea Aprobada">
                            <strong>&#10004;</strong></h5>
                          {% endif %}
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;text-transform: capitalize;">
                          {% if tarea.0.task_answer.last.estado == 1 and tarea.0.task_answer.count > 0 %}
                            Pendiente Revisión
                          {% elif tarea.0.task_answer.last.estado == 3 and tarea.0.task_answer.count > 0 %}
                            En Ejecución
                          {% elif tarea.0.task_answer.last.estado == 2 and tarea.0.task_answer.count > 0 %}
                            Aprobado
                          {% else %}
                            En Ejecución
                          {% endif %}
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                          {{tarea.0.encargado}}
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                          {{tarea.0.contidad_hh}}
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                          {{tarea.2}}
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px; padding: 5px;">
                          {% if tarea.0.restricciones == None %}
                            Sin restricción
                          {% else %}
                            {{tarea.0.restricciones}}
                          {% endif %}
                        </th>
                        <th style="text-align: center; vertical-align: middle; font-size: 10px; padding: 5px;">
                          {{tarea.0.created_at|date:'d-M-y'}}
                        </th>
                        <th style="text-align: center;vertical-align: middle;font-size: 10px;padding: 5px;">
                          {{tarea.0.plazo|date:'d-M-y'}}
                        </th>
                        <th style="text-align: center; vertical-align: middle; font-size: 10px;padding: 5px;">
                          {{tarea.1.contestado|date:'d-M-y'}}
                        </th>
                        <th style="text-align: center; vertical-align: middle; font-size: 10px; padding: 5px;">
                          <a href="{% url 'detail-tarea' tarea.0.pk %}"><i class="fa fa-eye"
                              style="color: teal"></i></a>
                        </th>
                        <th style="text-align: center; vertical-align: middle;  font-size: 10px;padding: 5px;">
                          <a href="{% url 'edit-tarea' tarea.0.pk %}"><i class="icon ion-edit"
                              style="color: blue"></i></a>
                        </th>
                        <th style=" text-align: center; vertical-align: middle; font-size: 10px; padding: 5px;">
                          <a href="{% url 'delete-tarea' tarea.0.pk %}"><i class="icon ion-trash-b"
                              style="color: red"></i></a>
                        </th>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- card -->
  </div>
</div>

  <script type="text/javascript">
    jQuery(document).ready(function() {
      $('#datatable1').DataTable(
          {
            dom: 'B<"float-right"f>t<"float-left"l>p<"clearfix">',
            paging: true,
            responsive: true,
            paging: true,    
            lengthChange: true,
            searching: true,
            ordering: true,
            aaSorting:[],
            aoColumnDefs: [
            { 'bSortable': true, 'aTargets': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] }
              ],
            info: true,
            autoWidth: true,
            lengthMenu: [[5, 25, 50, -1], [5, 25, 50, "Mostrar Todos"]],          
            columnDefs: [
              {
                searchable: false,
                pageLength: 10,
              }
            ],
            language: {
              "processing": "Procesando...",
              "lengthMenu": "Mostrar _MENU_ registros",
              "zeroRecords": "No se encontraron resultados",
              "emptyTable": "Ningún dato disponible en esta tabla",
              "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
              "infoFiltered": "(filtrado de un total de _MAX_ registros)",
              "search": "&#128270;",
              "infoThousands": ",",
              "loadingRecords": "Cargando...",
              "paginate": {
                  "first": "Primero",
                  "last": "Último",
                  "next": "Siguiente",
                  "previous": "Anterior"
               },
              "aria": {
                  "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                  "sortDescending": ": Activar para ordenar la columna de manera descendente"
                },
              "buttons": {
                  "copy": "Copiar",
                  "colvis": "Visibilidad",
                  "collection": "Colección",
                  "colvisRestore": "Restaurar visibilidad",
                  "copyKeys": "Presione ctrl o u2318 + C para copiar los datos de la tabla al portapapeles del sistema. <br \/> <br \/> Para cancelar, haga clic en este mensaje o presione escape.",
                  "copySuccess": {
                      "1": "Copiada 1 fila al portapapeles",
                      "_": "Copiadas %d fila al portapapeles"
                  },
                  "copyTitle": "Copiar al portapapeles",
                  "csv": "CSV",
                  "excel": "Excel",
                  "pageLength": {
                      "-1": "Mostrar todas las filas",
                      "_": "Mostrar %d filas"
                  },
                  "pdf": "PDF",
                  "print": "Imprimir"
               },
              "autoFill": {
                  "cancel": "Cancelar",
                  "fill": "Rellene todas las celdas con <i>%d<\/i>",
                  "fillHorizontal": "Rellenar celdas horizontalmente",
                  "fillVertical": "Rellenar celdas verticalmentemente"
               },
              "decimal": ",",
              "searchBuilder": {
                  "add": "Añadir condición",
                  "button": {
                      "0": "Constructor de búsqueda",
                      "_": "Constructor de búsqueda (%d)"
                  },
              "clearAll": "Borrar todo",
              "condition": "Condición",
              "conditions": {
                  "date": {
                    "after": "Despues",
                    "before": "Antes",
                    "between": "Entre",
                    "empty": "Vacío",
                    "equals": "Igual a",
                    "notBetween": "No entre",
                    "notEmpty": "No Vacio",
                    "not": "Diferente de"
                  },
                  "number": {
                      "between": "Entre",
                      "empty": "Vacio",
                      "equals": "Igual a",
                      "gt": "Mayor a",
                      "gte": "Mayor o igual a",
                      "lt": "Menor que",
                      "lte": "Menor o igual que",
                      "notBetween": "No entre",
                      "notEmpty": "No vacío",
                      "not": "Diferente de"
                    },
                  "string": {
                      "contains": "Contiene",
                      "empty": "Vacío",
                      "endsWith": "Termina en",
                      "equals": "Igual a",
                      "notEmpty": "No Vacio",
                      "startsWith": "Empieza con",
                      "not": "Diferente de"
                   },
                  "array": {
                    "not": "Diferente de",
                    "equals": "Igual",
                    "empty": "Vacío",
                    "contains": "Contiene",
                    "notEmpty": "No Vacío",
                    "without": "Sin"
                    }
                },
              "data": "Data",
              "deleteTitle": "Eliminar regla de filtrado",
              "leftTitle": "Criterios anulados",
              "logicAnd": "Y",
              "logicOr": "O",
              "rightTitle": "Criterios de sangría",
              "title": {
                    "0": "Constructor de búsqueda",
                    "_": "Constructor de búsqueda (%d)"
                  },
                    "value": "Valor"
               },
              "searchPanes": {
                  "clearMessage": "Borrar todo",
                  "collapse": {
                      "0": "Paneles de búsqueda",
                      "_": "Paneles de búsqueda (%d)"
                    },
                  "count": "{total}",
                  "countFiltered": "{shown} ({total})",
                  "emptyPanes": "Sin paneles de búsqueda",
                  "loadMessage": "Cargando paneles de búsqueda",
                  "title": "Filtros Activos - %d"
                  },
              "select": {
                  "cells": {
                        "1": "1 celda seleccionada",
                        "_": "%d celdas seleccionadas"
                    },
                  "columns": {
                      "1": "1 columna seleccionada",
                      "_": "%d columnas seleccionadas"
                    },
                  "rows": {
                        "1": "1 fila seleccionada",
                        "_": "%d filas seleccionadas"
                    }
                },
              "thousands": ".",
              "datetime": {
                  "previous": "Anterior",
                  "next": "Proximo",
                  "hours": "Horas",
                  "minutes": "Minutos",
                  "seconds": "Segundos",
                  "unknown": "-",
                  "amPm": [
                      "AM",
                      "PM"
                    ],
                  "months": {
                      "0": "Enero",
                      "1": "Febrero",
                      "10": "Noviembre",
                      "11": "Diciembre",
                      "2": "Marzo",
                      "3": "Abril",
                      "4": "Mayo",
                      "5": "Junio",
                      "6": "Julio",
                      "7": "Agosto",
                      "8": "Septiembre",
                      "9": "Octubre"
                   },
                  "weekdays": [
                      "Dom",
                      "Lun",
                      "Mar",
                      "Mie",
                      "Jue",
                      "Vie",
                      "Sab"
                    ]
                 },
              "editor": {
                  "close": "Cerrar",
                  "create": {
                      "button": "Nuevo",
                      "title": "Crear Nuevo Registro",
                      "submit": "Crear"
                  },
                  "edit": {
                      "button": "Editar",
                      "title": "Editar Registro",
                      "submit": "Actualizar"
                  },
                  "remove": {
                      "button": "Eliminar",
                      "title": "Eliminar Registro",
                      "submit": "Eliminar",
                      "confirm": {
                          "_": "¿Está seguro que desea eliminar %d filas?",
                          "1": "¿Está seguro que desea eliminar 1 fila?"
                      }
                  },
                  "error": {
                      "system": "Ha ocurrido un error en el sistema (<a target=\"\\\" rel=\"\\ nofollow\" href=\"\\\">Más información&lt;\\\/a&gt;).<\/a>"
                  },
                  "multi": {
                      "title": "Múltiples Valores",
                      "info": "Los elementos seleccionados contienen diferentes valores para este registro. Para editar y establecer todos los elementos de este registro con el mismo valor, hacer click o tap aquí, de lo contrario conservarán sus valores individuales.",
                      "restore": "Deshacer Cambios",
                      "noMulti": "Este registro puede ser editado individualmente, pero no como parte de un grupo."
                  }
                },
              "info": "Mostrando _START_ a _END_ de _TOTAL_ registros"
                     },         
            buttons:[ 
              'excel',  'pdf', 'print',
             ],  
            
             "order": [[ 7, "desc" ]]});
    } );
    
  </script>
  <script type="text/javascript">
    jQuery(document).ready(function() {
      $('#datatable2').DataTable(
          {
            dom: 'B<"float-right"f>t<"float-left"l>p<"clearfix">',
            paging: true,
            responsive: true,
            paging: true,    
            lengthChange: true,
            searching: true,
            ordering: true,
            info: true,
            autoWidth: true,
            lengthMenu: [[5, 25, 50, -1], [5, 25, 50, "Mostrar Todos"]],          
            columnDefs: [
              {
                searchable: false,
                pageLength: 10,
              }
            ],
            language: {
              "processing": "Procesando...",
              "lengthMenu": "Mostrar _MENU_ registros",
              "zeroRecords": "No se encontraron resultados",
              "emptyTable": "Ningún dato disponible en esta tabla",
              "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
              "infoFiltered": "(filtrado de un total de _MAX_ registros)",
              "search": "&#128270;",
              "infoThousands": ",",
              "loadingRecords": "Cargando...",
              "paginate": {
                  "first": "Primero",
                  "last": "Último",
                  "next": "Siguiente",
                  "previous": "Anterior"
               },
              "aria": {
                  "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                  "sortDescending": ": Activar para ordenar la columna de manera descendente"
                },
              "buttons": {
                  "copy": "Copiar",
                  "colvis": "Visibilidad",
                  "collection": "Colección",
                  "colvisRestore": "Restaurar visibilidad",
                  "copyKeys": "Presione ctrl o u2318 + C para copiar los datos de la tabla al portapapeles del sistema. <br \/> <br \/> Para cancelar, haga clic en este mensaje o presione escape.",
                  "copySuccess": {
                      "1": "Copiada 1 fila al portapapeles",
                      "_": "Copiadas %d fila al portapapeles"
                  },
                  "copyTitle": "Copiar al portapapeles",
                  "csv": "CSV",
                  "excel": "Excel",
                  "pageLength": {
                      "-1": "Mostrar todas las filas",
                      "_": "Mostrar %d filas"
                  },
                  "pdf": "PDF",
                  "print": "Imprimir"
               },
              "autoFill": {
                  "cancel": "Cancelar",
                  "fill": "Rellene todas las celdas con <i>%d<\/i>",
                  "fillHorizontal": "Rellenar celdas horizontalmente",
                  "fillVertical": "Rellenar celdas verticalmentemente"
               },
              "decimal": ",",
              "searchBuilder": {
                  "add": "Añadir condición",
                  "button": {
                      "0": "Constructor de búsqueda",
                      "_": "Constructor de búsqueda (%d)"
                  },
              "clearAll": "Borrar todo",
              "condition": "Condición",
              "conditions": {
                  "date": {
                    "after": "Despues",
                    "before": "Antes",
                    "between": "Entre",
                    "empty": "Vacío",
                    "equals": "Igual a",
                    "notBetween": "No entre",
                    "notEmpty": "No Vacio",
                    "not": "Diferente de"
                  },
                  "number": {
                      "between": "Entre",
                      "empty": "Vacio",
                      "equals": "Igual a",
                      "gt": "Mayor a",
                      "gte": "Mayor o igual a",
                      "lt": "Menor que",
                      "lte": "Menor o igual que",
                      "notBetween": "No entre",
                      "notEmpty": "No vacío",
                      "not": "Diferente de"
                    },
                  "string": {
                      "contains": "Contiene",
                      "empty": "Vacío",
                      "endsWith": "Termina en",
                      "equals": "Igual a",
                      "notEmpty": "No Vacio",
                      "startsWith": "Empieza con",
                      "not": "Diferente de"
                   },
                  "array": {
                    "not": "Diferente de",
                    "equals": "Igual",
                    "empty": "Vacío",
                    "contains": "Contiene",
                    "notEmpty": "No Vacío",
                    "without": "Sin"
                    }
                },
              "data": "Data",
              "deleteTitle": "Eliminar regla de filtrado",
              "leftTitle": "Criterios anulados",
              "logicAnd": "Y",
              "logicOr": "O",
              "rightTitle": "Criterios de sangría",
              "title": {
                    "0": "Constructor de búsqueda",
                    "_": "Constructor de búsqueda (%d)"
                  },
                    "value": "Valor"
               },
              "searchPanes": {
                  "clearMessage": "Borrar todo",
                  "collapse": {
                      "0": "Paneles de búsqueda",
                      "_": "Paneles de búsqueda (%d)"
                    },
                  "count": "{total}",
                  "countFiltered": "{shown} ({total})",
                  "emptyPanes": "Sin paneles de búsqueda",
                  "loadMessage": "Cargando paneles de búsqueda",
                  "title": "Filtros Activos - %d"
                  },
              "select": {
                  "cells": {
                        "1": "1 celda seleccionada",
                        "_": "%d celdas seleccionadas"
                    },
                  "columns": {
                      "1": "1 columna seleccionada",
                      "_": "%d columnas seleccionadas"
                    },
                  "rows": {
                        "1": "1 fila seleccionada",
                        "_": "%d filas seleccionadas"
                    }
                },
              "thousands": ".",
              "datetime": {
                  "previous": "Anterior",
                  "next": "Proximo",
                  "hours": "Horas",
                  "minutes": "Minutos",
                  "seconds": "Segundos",
                  "unknown": "-",
                  "amPm": [
                      "AM",
                      "PM"
                    ],
                  "months": {
                      "0": "Enero",
                      "1": "Febrero",
                      "10": "Noviembre",
                      "11": "Diciembre",
                      "2": "Marzo",
                      "3": "Abril",
                      "4": "Mayo",
                      "5": "Junio",
                      "6": "Julio",
                      "7": "Agosto",
                      "8": "Septiembre",
                      "9": "Octubre"
                   },
                  "weekdays": [
                      "Dom",
                      "Lun",
                      "Mar",
                      "Mie",
                      "Jue",
                      "Vie",
                      "Sab"
                    ]
                 },
              "editor": {
                  "close": "Cerrar",
                  "create": {
                      "button": "Nuevo",
                      "title": "Crear Nuevo Registro",
                      "submit": "Crear"
                  },
                  "edit": {
                      "button": "Editar",
                      "title": "Editar Registro",
                      "submit": "Actualizar"
                  },
                  "remove": {
                      "button": "Eliminar",
                      "title": "Eliminar Registro",
                      "submit": "Eliminar",
                      "confirm": {
                          "_": "¿Está seguro que desea eliminar %d filas?",
                          "1": "¿Está seguro que desea eliminar 1 fila?"
                      }
                  },
                  "error": {
                      "system": "Ha ocurrido un error en el sistema (<a target=\"\\\" rel=\"\\ nofollow\" href=\"\\\">Más información&lt;\\\/a&gt;).<\/a>"
                  },
                  "multi": {
                      "title": "Múltiples Valores",
                      "info": "Los elementos seleccionados contienen diferentes valores para este registro. Para editar y establecer todos los elementos de este registro con el mismo valor, hacer click o tap aquí, de lo contrario conservarán sus valores individuales.",
                      "restore": "Deshacer Cambios",
                      "noMulti": "Este registro puede ser editado individualmente, pero no como parte de un grupo."
                  }
                },
              "info": "Mostrando _START_ a _END_ de _TOTAL_ registros"
                     },         
            buttons:[ 
              'excel',  'pdf', 'print',
             ],  
            
             order: [[ 8, "desc" ]]});
    } );
    
  </script>
    
{% endblock content %}