{% extends 'index-status-e.html' %}

{% load crispy_forms_tags %}

{% block content %}
<!--Titulo-->
  <div class="row row-sm mg-t-10 pd-y-15">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item" > {{proyecto}} </a>
      <span class="breadcrumb-item active">Panel Administrador</span>
    </nav>
  </div>

  <div class="card bd-0">
  <div class="card-header bg-dark">
    <ul class="nav nav-tabs nav-tabs-for-dark card-header-tabs">
      <li class="nav-item">
        <a class="nav-link bd-0 active pd-y-8" href="{% url 'encargado-index' %}">Agregar Responsable</a>
      </li>
      <li class="nav-item">
        <a class="nav-link bd-0 tx-gray-light" href="{% url 'encargado-grafico' %}">Graficas</a>
      </li>
    </ul>
  </div><!-- card-header -->
  <div class="card-body">
    <div class="row row-sm mg-t-10 pd-y-15">
      <div class="col-lg-12">
        <div class="card shadow-base card-body bd-0">
          <div class="row">
            <div class="col-sm-12">
              <h4 class="mg-b-0 tx-uppercase tx-bold tx-inverse tx-poppins mg-t-10 mg-b-20" style="text-align: left; margin-right: 30px;" >Asignacion de responsabilidad</h4>
              <table id="datatable1" class="records_list table table-striped table-bordered table-hover dataTable no-footer table-primary"style="width:100%;table-layout:Inherit;">
                <thead>
                  <tr role="row">
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;">Responsable</th>
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;">Especialidad</th>
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;">Descripción</th>
                  <th class="wd-20p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;">Código</th>
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;">Tipo</th>
                  <th class="wd-10p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;">Revisión <br>Actual</th>
                  <th class="wd-25p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;">A cargo de:</th>
                  <th class="wd-25p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;">Último Paquete</th>
                  <th class="wd-25p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;">Días de revisión</th>
                  <th class="wd-25p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;">Estado</th>
                  <th class="wd-25p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;">Fecha Inicial</th>
                  <th class="wd-25p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;">Fecha Final</th>
                  <th class="wd-25p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;">(%) de Avance</th>
                  <th class="wd-25p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;">Ciclo revisión(d)</th>
                  </tr>
                </thead>
                  <tbody>
              <!--Loop Listar Documento-->
              {% for documento in Listado %}
                {% if not documento.1 %}
                <tr role="row" class="odd">
                  <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > <a href="{% url 'create-tarea' documento.0.pk %}"><button class="btn btn-teal"><i class="fa fa-pencil"></i></button> </a>  </th>
                  <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > {{documento.0.Especialidad}} </th>
                  <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > {{documento.0.Descripcion}} </th>
                  <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > {{documento.0.Codigo_documento}} </th>
                  <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > {{documento.0.Tipo_Documento}} </th>
                  <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > </th>
                  <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > </th>
                  <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > </th>
                  <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > </th>
                  <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > Pendiente </th>
                  <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > </th>
                  <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > </th>
                  <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > </th>
                  <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > </th>
                </tr>
                {% else %}
                <tr role="row" class="odd">
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > <a href="{% url 'create-tarea' documento.0.pk %}"><button class="btn btn-teal"><i class="fa fa-pencil"></i></button> </a> </th>
                  <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;"> {{documento.0.Especialidad}} </th>
                  <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;"> {{documento.0.Descripcion}} </th>
                  <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;"> <a href="{% url 'buscador-detalle' documento.0.pk %}">{{documento.0.Codigo_documento}}</a></th>
                  <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;"> {{documento.0.Tipo_Documento}} </th>
                  <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;"> {{documento.1.0.get_revision_display}} </th>
                  <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;"> {{documento.1.1.0.destinatario.perfil.empresa}} </th>
                  <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;"> <a href="{% url 'paquete-detalle' documento.1.1.0.pk %}">{{documento.1.1.0}} </a></th>
                  <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;"> {{documento.1.4}} di­as </th>
                  <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;"> {% if not documento.1.0.get_estado_cliente_display %} Sin Revision {% else %}{{documento.1.0.get_estado_cliente_display}} {% endif %}  </th>
                  <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;"> {{documento.1.1.0.fecha_creacion|date:"d-m-y"}} </th>
                  <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;"> {{documento.1.5|date:"d-m-y"}} </th>
                  <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;"> {{documento.1.3}} </th>
                  <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;"> {{documento.1.6}} </th>
                </tr>
                {% endif %}
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-sm mg-t-10 pd-y-15">
      <div class="col-lg-12">
        <div class="card shadow-base card-body bd-0">
          <div class="row">
            <div class="col-sm-12">
            <table id="datatable1" class="records_list table table-striped table-bordered table-hover dataTable no-footer table-primary"style="width:100%;table-layout:Inherit;">
              <thead>
                <tr role="row">
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;">CODIGO</th>
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;">Nombre</th>
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;">ESTADO</th>
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;">RESPONSABLE</th>
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;">RESTRICCION</th>
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;">FECHA SOLICITUD</th>
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;">FECHA REQUERIDO</th>
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;">FECHA REALIZADO</th>
                </tr>
              </thead>
                <tbody>
            <!--Loop Listar Documento-->
              <tr role="row" class="odd">
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > </th>
              </tr>
              
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- card -->
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>



<script>
  $(document).ready(function() {
      $('#datatable1').DataTable(
        {
          "dom": 'B<"float-right"f>t<"float-left"l>p<"clearfix">',
          "paging": true,
          pageLength: 5,
          "responsive": true,
          "language": {
              "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
          },
          buttons:{
            dom: {
                button: {
                    className: 'btn btn-success'
                }
            },
          },
          buttons:[ 
            {
                //definimos estilos del boton de excel
                extend: "excel",
                text:'Exportar a Excel',
                className:'btn btn-success',

                // 1 - ejemplo básico - uso de templates pre-definidos
                //definimos los parametros al exportar a excel
                
                excelStyles: {                
                    template: "header_blue",  // Apply the 'header_blue' template part (white font on a blue background in the header/footer)
                    template:"green_medium",
                    
                    "template": [
                        "blue_medium",
                        "header_green",
                        "title_medium"
                    ] 
                    
                },
                

            }]	     
        });
  } );
</script>
<!--Graf 1-->
<script>
  var ctx = document.getElementById('chartBar1').getContext('2d');
  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
      datasets: [
        {
        label: '# of a',
        data: [12, 39, 20, 10, 25, 18],
        backgroundColor: '#27AAC8'
      },
      {
        label: '# of b',
        data: [12, 39, 20, 10, 25, 18],
        backgroundColor: '#EB984E'
      }
      ]
    },
    options: {
      plugins: {
        title: {
          display: true,
          text: 'Documentos Asignados Vs Documentos Realizado'
        },
      },
      legend: {
        display: false,
          labels: {
            display: false
          }
      },
      scales: {
          yAxes: [{
            stacked: true
          }],
          xAxes: [{
            stacked: true
          }]
        }
    }
  });
</script>
<!--Graf 3-->
<script>
  var ctx = document.getElementById('chartBar2').getContext('2d');
  new Chart(ctx, {
    type: 'horizontalBar',
    data: {
      labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
      datasets: [{
        label: '# of Votes',
        data: [12, 39, 20, 10, 25, 18],
        backgroundColor: '#27AAC8'
      }]
    },
    options: {
      legend: {
        display: false,
          labels: {
            display: false
          }
      },
      scales: {
        yAxes: [{
          stacked: true,
          ticks: {
            beginAtZero:true,
            fontSize: 10,
            max: 80
          }
        }],
        xAxes: [{
          stacked: true,
          ticks: {
            beginAtZero:true,
            fontSize: 11
          }
        }]
      }
    }
  });
</script>
<!--Graf 3-->
<script>
  var ctx = document.getElementById('chartBar3').getContext('2d');
  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Jan', 'Feb', 'Mar'],
      datasets: [{
        label: '# of Votes',
        data: [12, 39, 20],
        backgroundColor: '#27AAC8'
      }]
    },
    options: {
      legend: {
        display: false,
          labels: {
            display: false
          }
      },
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero:true,
            fontSize: 10,
            max: 80
          }
        }],
        xAxes: [{
          ticks: {
            beginAtZero:true,
            fontSize: 11
          }
        }]
      }
    }
  });
</script>
<!--Graf4-->
<script>
  var ctx = document.getElementById('chartBar4').getContext('2d');
    new Chart(ctx, {
      type: 'doughnut',
      data: {
        labels: ['Jan', 'Feb', 'Mar'],
        datasets: [{
          label: '# of Votes',
          data: [12, 39, 20],
          backgroundColor: '#27AAC8'
        }]
      },
      options: {
        legend: {
          display: false,
            labels: {
              display: false
            }
        },
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero:true,
              fontSize: 10,
              max: 80
            }
          }],
          xAxes: [{
            ticks: {
              beginAtZero:true,
              fontSize: 11
            }
          }]
        }
      }
    });
  </script>
<!--Graf 5-->
<script>
  var ctx = document.getElementById('chartBar5').getContext('2d');
    new Chart(ctx, {
      type: 'doughnut',
      data: {
        labels: ['Jan', 'Feb', 'Mar'],
        datasets: [{
          label: '# of Votes',
          data: [12, 39, 20],
          backgroundColor: '#27AAC8'
        }]
      },
      options: {
        legend: {
          display: false,
            labels: {
              display: false
            }
        },
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero:true,
              fontSize: 10,
              max: 80
            }
          }],
          xAxes: [{
            ticks: {
              beginAtZero:true,
              fontSize: 11
            }
          }]
        }
      }
    });
  </script>
{% endblock content %}
