{% extends "index-status-e.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="d-flex align-items-center justify-content-center bg-info ht-100v">

      <div class=" bg-white rounded shadow-base col-md-8">
         <div class="card-body">
              <form method="POST">{% csrf_token %}
                {{form|crispy}}
                 <div class="form-layout-footer mg-t-30">
                  <button class="btn btn-teal" type="submit"> Guardar</button>
                  <button class="btn btn-warning mg-l-10" type="button" onClick="javascript:history.go(-1);"> volver</button></a>
                </div>
                </form>
          </div><!-- card-body -->
        
      </div><!-- login-wrapper -->
    </div>
{% endblock content %}