{% extends 'index-status-e.html' %}

{% load crispy_forms_tags %}


{% block content %}
<!--Titulo-->
  <div class="br-pagebody">

  <div class="row row-sm mg-t-10 pd-y-15">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item" > {{proyecto}} </a>
      <span class="breadcrumb-item active">Panel Administrador</span>
    </nav>
  </div>

  <div class="card bd-0">
  <div class="card-header bg-dark">
    <ul class="nav nav-tabs nav-tabs-for-dark card-header-tabs">
    <li class="nav-item">
        <a class="nav-link bd-0 tx-gray-light " href="{% url 'revisor-index' %}">Tabla de Tareas</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link bd-0 active pd-y-8" href="{% url 'revisor-sent' %}">Enviados</a>
      </li> -->
    </ul>
  </div><!-- card-header -->
  <div class="card-body">
  <div class="row row-sm mg-t-10 pd-y-15">
  {% include "messege.html" %}

    <div class="col-lg-12">
      <div class="card shadow-base card-body bd-0">
        <div class="row">
          <div class="col-sm-12">
            <h4 class="mg-b-0 tx-uppercase tx-bold tx-inverse tx-poppins mg-t-10 mg-b-20" style="text-align: left; margin-right: 30px;" >Asignacion de responsabilidad</h4>
            <table id="datatable1" class="records_list table table-striped table-bordered table-hover dataTable no-footer table-primary"style="width:100%;table-layout:Inherit;">
              <thead>
                <tr role="row">
                <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;">Documento</th>
                <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;">Fecha Contestado</th>
                <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;">No Cumplimiento</th>
                <th class="wd-20p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;">Cantidad HH</th>
                <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;">Comentarios</th>
                <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;">Archivo</th>
                </tr>
              </thead>
                <tbody>
            <!--Loop Listar Documento-->
            {% for tarea in respuestas %}
              {% if tarea.estado == True %}
              {% else %}
                <tr role="row" class="odd">
                  <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > {{tarea.tarea.documento}} </th>
                  <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > {{tarea.contestado}} </th>
                  <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > {% if tarea.not_done == None %} Sin Causas de No Cumplimiento {% else %} {{tarea.not_done}} {% endif %} </th>
                  <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > {{tarea.contidad_hh}} </th>
                  <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > {{tarea.comentarios}} </th>
                  {% if tarea.archivo.url is not None %}
                  <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > <a href="{{tarea.archivo.url}}"><button class="btn btn-teal"><i class="icon ion-arrow-down-a"></i></button></a> </th>
                  {% else %}
                  <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > </th>
                  {% endif %}
                </tr>
              {% endif %}

            {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</div><!-- card -->
  

{% endblock content %}
