{% extends 'index-status-e.html' %}

{% load crispy_forms_tags %}

{% block content %}
<!--Titulo-->
<div class="br-pagebody">

<div class="card-body">
   <div class="row row-sm mg-t-10 pd-y-15">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item" > {{proyecto}} </a>
      <span class="breadcrumb-item active">Panel Administrador</span>
    </nav>
  </div>
<div class="card bd-0">
  <div class="card-header bg-dark">
    <ul class="nav nav-tabs nav-tabs-for-dark card-header-tabs">
      <li class="nav-item">
        <a class="nav-link bd-0 active pd-y-8" href="{% url 'revisor-index' %}">Tabla de Tareas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link bd-0 tx-gray-light" href="{% url 'revisor-sent' %}">Enviados</a>
      </li>
    </ul>
  </div><!-- card-header -->
  
  <div class="row row-sm mg-t-10 pd-y-15">
    <div class="col-lg-12">
      <div class="card shadow-base card-body bd-0">
        <div class="row">
          <div class="col-sm-12">
            <h4 class="mg-b-0 tx-uppercase tx-bold tx-inverse tx-poppins mg-t-10 mg-b-20" style="text-align: left; margin-right: 30px;" >Asignacion de responsavilidad</h4>
                          <table class="table table-responsive mg-b-0 tx-12">
                <thead>
                  <tr class="tx-10">
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="text-align: center;vertical-align: middle;">CODIGO</th>
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="text-align: center;vertical-align: middle;">Nombre</th>
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="text-align: center;vertical-align: middle;">ESTADO</th>
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="text-align: center;vertical-align: middle;">RESPONSABLE</th>
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="text-align: center;vertical-align: middle;">RESTRICCION</th>
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="text-align: center;vertical-align: middle;">FECHA SOLICITUD</th>
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="text-align: center;vertical-align: middle;">FECHA REQUERIDO</th>
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="text-align: center;vertical-align: middle;">FECHA REALIZADO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr role="row" class="odd">
                    <th style="text-align: center;vertical-align:middle;" > {{tarea.documento.Codigo_documento}} </th>
                    <th style="text-align: center;vertical-align:middle;" > {{tarea.documento.Descripcion}} </th>
                    <th style="text-align: center;vertical-align:middle;" > {% if tarea.estado == False %} <i class="fa fa-close" style="color:red;"></i> {% else %} <i class="fa fa-check" style="color:green;"></i> {% endif %}</th>
                    <th style="text-align: center;vertical-align:middle;" > {{tarea.encargado}} </th>
                    <th style="text-align: center;vertical-align:middle;" > {% if tarea.restricciones == None %}Sin restricción {% else %}{{tarea.restricciones}}{% endif %} </th>
                    <th style="text-align: center;vertical-align:middle;" > {{tarea.created_at|date:'d-M-y H:i'}} </th>
                    <th style="text-align: center;vertical-align:middle;" > {{tarea.plazo|date:'d-M-y'}} </th>
                    <th style="text-align: center;vertical-align:middle;" > {{tarea.task_answer.contestado|date:'d-M-y H:i'}} </th>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div><!-- card -->
</div>
 

{% endblock content %}
