{% extends 'index-status-e.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="br-pagebody">

<!--Titulo-->
  <div class="row row-sm mg-t-10 pd-y-15">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item" > {{proyecto}} </a>
      <span class="breadcrumb-item active">Panel Administrador</span>
    </nav>
  </div>

<div class="card bd-0">
  <div class="card-header bg-dark">
    <ul class="nav nav-tabs nav-tabs-for-dark card-header-tabs">
      <li class="nav-item">
        <a class="nav-link bd-0 active pd-y-8" href="{% url 'encargado-index' %}">Agregar Responsable</a>
      </li>
      <li class="nav-item">
        <a class="nav-link bd-0 tx-gray-light" href="{% url 'encargado-grafico' %}">Graficas</a>
      </li>
    </ul>
  </div><!-- card-header -->
  <div class="card-body">
    <div class="row row-sm mg-t-10 pd-y-15">
      <div class="col-lg-12">
        <div class="card shadow-base card-body bd-0">
          <div class="row">
            <div class="col-sm-12">
            <table id="datatable2" class="records_list table table-striped table-bordered table-hover dataTable no-footer table-primary"style="width:100%;table-layout:Inherit;">
              <thead>
                <tr role="row">
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width: auto;">CODIGO</th>
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width: auto;">Nombre</th>
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width: auto;">ESTADO</th>
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width: auto;">RESPONSABLE</th>
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width: auto;">HH ASIGNADAS</th>
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width: auto;">HH REALES</th>
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width: auto;">RESTRICCION</th>
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width: auto;">FECHA SOLICITUD</th>
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width: auto;">FECHA REQUERIDO</th>
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width: auto;">FECHA REALIZADO</th>
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width: auto;"></th>
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width: auto;"></th>
                </tr>
              </thead>
                <tbody>
            <!--Loop Listar Documento-->
                {% for tarea in tareas %}
                  <tr role="row" class="odd">
                    <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > {{tarea.documento.Codigo_documento}} </th>
                    <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > {{tarea.documento.Descripcion}} </th>
                    <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > {% if tarea.estado == False %} <h6 style="color:red;"><strong>&#9587;</strong></h6> {% else %} <h5 style="color:green;"><strong>&#10004;</strong></h5> {% endif %}</th>

                    <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > {{tarea.encargado}} </th>
                    <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > {{tarea.contidad_hh}} </th>
                    <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > {{tarea.task_answer.contidad_hh}} </th>
                    <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > {% if tarea.restricciones == None %}Sin restricción {% else %}{{tarea.restricciones}}{% endif %} </th>
                    <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > {{tarea.created_at|date:'d-M-y'}} </th>
                    <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > {{tarea.plazo|date:'d-M-y'}} </th>
                    <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > {{tarea.task_answer.contestado|date:'d-M-y'}} </th>
                    <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > <a href="{% url 'detail-tarea' tarea.pk %}"><i class="fa fa-eye" style="color:teal;"></i></a> </th>
                    <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > <a href="{% url 'create-respuesta' tarea.pk %}"><i class="icon ion-reply" style="color:blue;"></i></a> </th>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- card -->
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>



<script>
  $(document).ready(function() {
      $('#datatable1').DataTable(
        {
          "dom": 'B<"float-right"f>t<"float-left"l>p<"clearfix">',
          "paging": true,
          pageLength: 5,
          "responsive": true,
          "language": {
              "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
          },
         
          
          buttons:{
            dom: {
                button: {
                    className: 'btn btn-success'
                }
            },
          },
          buttons:[ 
            {
                //definimos estilos del boton de excel
                extend: "excel",
                text:'Exportar a Excel',
                className:'btn btn-success',

                // 1 - ejemplo básico - uso de templates pre-definidos
                //definimos los parametros al exportar a excel
                
                excelStyles: {                
                    template: "header_blue",  // Apply the 'header_blue' template part (white font on a blue background in the header/footer)
                    template:"green_medium",
                    
                    "template": [
                        "blue_medium",
                        "header_green",
                        "title_medium"
                    ] 
                    
                },
                

            }]	     
        });
  } );
</script>
<script>
  $(document).ready(function() {
      $('#datatable2').DataTable(
        {
          "dom": 'B<"float-right"f>t<"float-left"l>p<"clearfix">',
          "paging": true,
          "bSort": false,
          "responsive": true,
          "language": {
              "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
          },
          "order":[ 7, 'asc' ],

          buttons:{
            dom: {
                button: {
                    className: 'btn btn-success'
                }
            },
          },
          buttons:[ 
            {
                //definimos estilos del boton de excel
                extend: "excel",
                text:'Exportar a Excel',
                className:'btn btn-success',

                // 1 - ejemplo básico - uso de templates pre-definidos
                //definimos los parametros al exportar a excel
                
                excelStyles: {                
                    template: "header_blue",  // Apply the 'header_blue' template part (white font on a blue background in the header/footer)
                    template:"green_medium",
                    
                    "template": [
                        "blue_medium",
                        "header_green",
                        "title_medium"
                    ] 
                    
                },
                

            }]	     
        });
  } );
</script>
{% endblock content %}
