{% extends "index-status-e.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row row-sm mg-t-20">
          <div class="col-lg-6">
            <div class="card shadow-base bd-0">
              <div class="card-header bg-transparent pd-20">
                <h6 class="card-title tx-uppercase tx-12 mg-b-0">Datos de Tarea Asignada por Administrador</h6>
              </div><!-- card-header -->
              <table class="table table-responsive mg-b-0 tx-12">
                <thead>
                  <tr class="tx-10">
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width: auto;">CODIGO</th>
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width: auto;">Nombre</th>
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width: auto;">ESTADO</th>
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width: auto;">RESPONSABLE</th>
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width: auto;">RESTRICCION</th>
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width: auto;">FECHA SOLICITUD</th>
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width: auto;">FECHA REQUERIDO</th>
                  <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width: auto;">FECHA REALIZADO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr role="row" class="odd">
                    <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > {{tarea.documento.Codigo_documento}} </th>
                    <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > {{tarea.documento.Descripcion}} </th>
                    <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > {% if tarea.estado == False %} <i class="fa fa-close" style="color:red;"></i> {% else %} <i class="fa fa-check" style="color:green;"></i> {% endif %}</th>
                    <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > {{tarea.encargado}} </th>
                    <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > {% if tarea.restricciones == None %}Sin restricción {% else %}{{tarea.restricciones}}{% endif %} </th>
                    <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > {{tarea.created_at|date:'d-M-y H:i'}} </th>
                    <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > {{tarea.plazo|date:'d-M-y'}} </th>
                    <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > {{tarea.task_answer.contestado|date:'d-M-y H:i'}} </th>
                  </tr>
                </tbody>
              </table>
            </div><!-- card -->
          </div><!-- col-6 -->
          <div class="col-lg-6 mg-t-20 mg-lg-t-0">
            <div class="card shadow-base bd-0">
              <div class="card-header pd-20 bg-transparent">
                <h6 class="card-title tx-uppercase tx-12 mg-b-0">Datos de revisor</h6>
              </div><!-- card-header -->
              <table class="table table-responsive mg-b-0 tx-12">
                <thead>
                  <tr class="tx-10">
                <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;">Fecha Contestado</th>
                <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;">No Cumplimiento</th>
                <th class="wd-20p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;">Cantidad HH</th>
                <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;">Comentarios</th>
                  </tr>
                </thead>
                <tbody>
                    {% if tarea.task_answer %}
                    <tr role="row" class="odd">
                      <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > {{tarea.task_answer.contestado}} </th>
                      <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > {{tarea.task_answer.not_done}} </th>
                      <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > {{tarea.task_answer.contidad_hh}} </th>
                      <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > {{tarea.task_answer.comentarios}} </th>
                      <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;" > <a href=""><button class="btn btn-teal"><i class="icon ion-arrow-down-a"></i></button></a> </th>
                    </tr>
                    {% else %}
                    Sin Respuesta
                    {% endif %}
               
                </tbody>
              </table>
            </div><!-- card -->
          </div><!-- col-6 -->
        </div>
{% endblock content %}