{% extends "index-status-e.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="br-mainpanel" style="position: relative;">
<div class="row row-sm mg-t-10 pd-y-15">
  <nav class="breadcrumb pd-0 mg-0 tx-12">
    <a class="breadcrumb-item" > {{proyecto}} </a>
    <span class="breadcrumb-item active">Panel Administrador</span>
  </nav>
</div>
  <div class="br-pagebody mg-t-5 pd-x-30">

<div class="br-section-wrapper">
  {% include "messege.html" %}

<div class="row row-sm mg-t-20">
          <div class="col-lg-12">
            <div class="card shadow-base bd-0">
              <div class="card-header bg-transparent pd-20">
                <h6 class="card-title tx-uppercase tx-12 mg-b-0">Datos de Tarea Asignada por Administrador</h6>
              </div><!-- card-header -->
              <table class="table mg-b-0 tx-12 table-primary">
                <thead>
                  <tr class="tx-10">
                  <th tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="text-align: center;vertical-align: middle;width:auto;color:#fff;">CODIGO</th>
                  <th tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="text-align: center;vertical-align: middle;width:auto;color:#fff;">Nombre</th>
                  <th tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="text-align: center;vertical-align: middle;width:auto;color:#fff;">ESTADO</th>
                  <th tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="text-align: center;vertical-align: middle;width:auto;color:#fff;">RESPONSABLE</th>
                  <th tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="text-align: center;vertical-align: middle;width:auto;color:#fff;">RESTRICCION</th>
                  <th tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="text-align: center;vertical-align: middle;width:auto;color:#fff;">FECHA SOLICITUD</th>
                  <th tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="text-align: center;vertical-align: middle;width:auto;color:#fff;">FECHA REQUERIDO</th>
                  <th tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="text-align: center;vertical-align: middle;width:auto;color:#fff;">FECHA REALIZADO</th>
                  <th tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="text-align: center;vertical-align: middle;width:auto;color:#fff;"></th>
                  <th tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="text-align: center;vertical-align: middle;width:auto;color:#fff;"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr role="row" class="odd">
                    <th style="text-align: center;vertical-align:middle;" > {{tarea.documento.Codigo_documento}} </th>
                    <th style="text-align: center;vertical-align:middle;" > {{tarea.documento.Descripcion}} </th>
                    <th style="text-align: center;vertical-align:middle;" > {% if tarea.estado == False %} <i class="fa fa-close" style="color:red;"></i> {% else %} <i class="fa fa-check" style="color:green;"></i> {% endif %}</th>
                    <th style="text-align: center;vertical-align:middle;" > {{tarea.encargado}} </th>
                    <th style="text-align: center;vertical-align:middle;" > {% if tarea.restricciones == None %}Sin restricción {% else %}{{tarea.restricciones}}{% endif %} </th>
                    <th style="text-align: center;vertical-align:middle;" > {{tarea.created_at|date:'d-M-y H:i'}} </th>
                    <th style="text-align: center;vertical-align:middle;" > {{tarea.plazo|date:'d-M-y'}} </th>
                    <th style="text-align: center;vertical-align:middle;" > {{tarea.task_answer.last.contestado|date:'d-M-y H:i'}} </th>
                    {% if tarea.archivo.url is not None%}
                    <th style="text-align: center;vertical-align:middle;" > <a href="{{tarea.archivo.url}}"><i class="icon ion-arrow-down-a" style="color:orange;"></i></a> </th>
                    {% else %}
                    <th style="text-align: center;vertical-align:middle;" > </th>
                    {% endif %}
                    {% if request.user.perfil.rol_usuario == 2 or request.user.perfil.rol_usuario == 5 %}
                    <th style="text-align: center;vertical-align:middle;" ><a href="{% url 'create-respuesta' tarea.pk %}"><i class="icon ion-reply" style="color:blue;"></i></a> </th>

                    {% else %}
                    <th style="text-align: center;vertical-align:middle;"></th>
                    {% endif %}
                  </tr>
                   <tr>
                    <th colspan="10">
                          <div class="card bd-0">
                            <div class="card-header tx-medium bd-0 tx-white bg-info">
                              Comentarios:
                            </div><!-- card-header -->
                            <div class="card-body bd bd-t-0 rounded-bottom">
                              <p class="mg-b-0">
                                {{tarea.comentarios}} 
                              </p>
                            </div><!-- card-body -->
                        </div>
                    </th>
                    </tr>
                </tbody>
              </table>
            </div><!-- card -->
          </div><!-- col-6 -->
</div>

<div class="row row-sm mg-t-20">
  <div class="col-lg-12 mg-t-20 mg-lg-t-0">
    <div class="card shadow-base bd-0">
      <div class="card-header pd-20 bg-transparent">
        <h6 class="card-title tx-uppercase tx-12 mg-b-0">Datos de Respuesta revisor</h6>
      </div><!-- card-header -->

      {% for answer in tarea.task_answer.all|dictsortreversed:"contestado" %}
        <div class="card shadow-base bd-0">
      <div class="card-header pd-20 bg-transparent">
        <h6 class="card-title tx-uppercase tx-12 mg-b-0"></h6>
      </div><!-- card-header -->
      <form action="{% url 'detail-tarea' tarea.pk %}" method="post">{% csrf_token %}
        <table class="table mg-b-0 tx-12 table-primary">
          <thead>
            <tr class="tx-10">
          <th class="sorting_1" tabindex="0" aria-controls="datatable1" style="text-align: center;vertical-align: middle;color:#fff;">RESPONSABLE</th>
          <th class="sorting_1" tabindex="0" aria-controls="datatable1" style="text-align: center;vertical-align: middle;color:#fff;">Fecha Contestado</th>
          <th class="sorting_1" tabindex="0" aria-controls="datatable1" style="text-align: center;vertical-align: middle;color:#fff;">No Cumplimiento</th>
          <th class="sorting_1" tabindex="0" aria-controls="datatable1" style="text-align: center;vertical-align: middle;color:#fff;">Cantidad HH</th>
          <th class="sorting_1" tabindex="0" aria-controls="datatable1" style="text-align: center;vertical-align: middle;color:#fff;">Estado</th>
          {% if answer.archivo.url is not None%}
          <th class="sorting_1" tabindex="0" aria-controls="datatable1" style="text-align: center;vertical-align: middle;color:#fff;"> Descargar </th>
          {% else %}
          <th class="sorting_1" tabindex="0" aria-controls="datatable1" style="text-align: center;vertical-align: middle;color:#fff;"> </th>
          {% endif %}
            
          </thead>
          <tbody>
              <tr role="row" class="odd">
                <th style="text-align: center;vertical-align:middle;" > {{tarea.encargado}} </th>
                <th style="text-align: center;vertical-align:middle;" > {{answer.contestado|date:'d-M-y H:i'}} </th>
                <th style="text-align: center;vertical-align:middle;" > {% if answer.not_done is None %} No registrado {% else %} {{answer.not_done}} {% endif %}  </th>
                <th style="text-align: center;vertical-align:middle;" > {{answer.contidad_hh}} </th>
                <th style="text-align: center;vertical-align:middle;" > {{answer.get_estado_display}} </th>
              
                {% if answer.archivo.url is not None%}
                <th style="text-align: center;vertical-align:middle;" > <a type="submit" href="{{answer.archivo.url}}"><i class="icon ion-arrow-down-a" style="color:orange;"></i></a></th>
                {% else %}
                <th style="text-align: center;vertical-align:middle;" >  </th>
                {% endif %}

              </tr>
              
              <tr>
                <th colspan="7">
                    <div class="card bd-0">
                      <div class="card-header tx-medium bd-0 tx-white bg-info">
                        Comentarios:
                      </div><!-- card-header -->
                      <div class="card-body bd bd-t-0 rounded-bottom">
                        <p class="mg-b-0">
                          {{answer.comentarios}} 
                        </p>
                      </div><!-- card-body -->
                      {% if answer.estado == 1  %}
                        {% if request.user.perfil.rol_usuario == 1 or request.user.perfil.rol_usuario == 4  or request.user.is_superuser == True %}
                        <div class="card bd-0">
                            <div class="card-header tx-medium bd-0 tx-white bg-info">
                              Evaluación:
                            </div><!-- card-header -->
                            <div class="card-body bd bd-t-0 rounded-bottom">
                              <p class="mg-b-0">
                                <textarea name="motivo" id="motivo" cols="100" rows="10"></textarea>
                              </p>
                            </div><!-- card-body -->
                        </div>
                        {% endif %}
                      {% endif %}
                      
                    </div>
                </th>
              </tr>
              {% if answer.motivo %}
              <tr>
                <th colspan="7">
                    <div class="card bd-0">
                      <div class="card-header tx-medium bd-0 tx-white bg-teal">
                        Evaluacionón:
                      </div><!-- card-header -->
                      <div class="card-body bd bd-t-0 rounded-bottom">
                        <p class="mg-b-0">
                          {{answer.motivo}}
                        </p>
                      </div><!-- card-body -->                      
                    </div>
                </th>
              </tr>
              {% else %}
               <tr>
                <th colspan="7">
                    <div class="card bd-0">
                      <div class="card-header tx-medium bd-0 tx-white bg-teal">
                        Evaluacionón:
                      </div><!-- card-header -->
                      <div class="card-body bd bd-t-0 rounded-bottom">
                        <p class="mg-b-0">
                          Sin comentarios de evaluación
                        </p>
                      </div><!-- card-body -->                      
                    </div>
                </th>
              </tr>
              {% endif %}
          </tbody>
        </table>
        {% if answer.estado == 1 %}
          {% if request.user.perfil.rol_usuario == 1 or request.user.perfil.rol_usuario == 4 %}
            <div class="form-layout-footer mg-t-30">
              <button name="aprobado" type="submit" value="{{answer.pk}}" class="btn btn-primary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20">Aprobar</button>
              <button name="rechazado" type="submit" value="{{answer.pk}}" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20">Rechazar</button>
            </div>
          {% else %}
          {% endif %}
        {% endif %}
      </form>

      {% empty %}
        <table class="table mg-b-0 tx-12 table-primary">
          <thead></thead>
          <tbody>
            <tr role="row" class="odd">
              <th style="text-align: center;vertical-align:middle;" > Sin Respuesta </th>
            </tr>
          </tbody>
        </table>
      {% endfor %}

      <div class="form-layout-footer mg-t-30">
        <button class="btn btn-warning mg-l-10" type="button" onClick="javascript:history.go(-1);"> volver</button></a>
      </div>
    </div><!-- card -->
  </div><!-- col-6 -->
</div>
</div>
</div>
{% endblock content %}