<!DOCTYPE html>
{% load static %}
<html lang="es-ES">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Software de Gestion y administracion de archivos.">
    <meta name="author" content="STOD CHILE for DM">

     <link rel="stylesheet" href="https://www.stod.cl/bracket.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>

  <body style="margin: 0;font-size: 0.875rem; font-weight: normal; line-height: 1.5; color: #868ba1; background-color: #E9ECEF;">
     <div style="height: 100vh;background-color: #1D2939;align-items: center !important;justify-content: center !important;display: flex !important;    box-sizing: inherit;">
      <div style="box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 21%); padding: 25px !important;width: 300px; border-radius: 3px !important;background-color: #fff !important;box-sizing: inherit;display: block;">
        <div style="font-size: 28px;align-items:center;color:black;font-weight:700;text-align: center;color: #343a40;    box-sizing: inherit;"><span class="tx-normal">[</span> Planit <span class="tx-normal">]</span></div>
        <div class="tx-center mg-b-40" style="color:grey;font-weight: 600;margin-bottom: 40px;">Plataforma de gestión de ingenieria</div>
        <h6 style="font-size: 28px;align-items:center;color:black;font-weight:700;text-align: center;color: #343a40;    box-sizing: inherit;">Hola {{usuario.first_name}} {{usuario.last_name}}!:</h6>
        <p class="mg-b-25 mg-lg-b-50">Se ha creado tu perfil de usuario como {{ usuario.perfil.get_rol_usuario_display }},
                                      en la platafor <strong>Planit</strong>. <br><br>
                                      Para Realizar el ingreso debe crear su contraseña de acceso en el siguiente link.
                                      </p>
        <a type="submit" href="{{url}}" style="display: block;width: 100%;color: #fff;background-color: #17a2b8; border-color: #17a2b8;font-weight: normal;
        text-align: center; white-space: nowrap; vertical-align: middle; user-select: none; border: 1px solid transparent; padding: 0.65rem 0.75rem; font-size: 0.875rem;line-height: 1.25; border-radius: 3px;transition: all 0.15s ease-in-out;">Pinchar Aqui.</button>
      </div><!-- login-wrapper -->
    </div>
  </body>
</html>
