<div class="br-sideleft overflow-y-auto">
  <label class="sidebar-label pd-x-15 mg-t-20">Navegación</label>
  <div class="br-sideleft-menu">
    <a href="{% url 'index' %}" class="br-menu-link">
      <div class="br-menu-item">
        <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
        <span class="menu-item-label">Escritorio</span>
      </div><!-- menu-item -->
    </a><!-- br-menu-link -->

    {% if request.user.perfil.rol_usuario == 1 or request.user.perfil.rol_usuario == 4 or request.user.is_superuser %}
    <a href="{% url 'PanelCarga' %}" class="br-menu-link ">
      <div class="br-menu-item">
        <i class="menu-item-icon icon ion-ios-photos-outline tx-20"></i>
        <span class="menu-item-label">Panel de Carga</span>
      </div><!-- menu-item -->
    </a>
    {% endif %}
    <a href="{% url 'Bandejaeys' %}" class="br-menu-link ">
      <div class="br-menu-item">
        <i class="menu-item-icon icon ion-ios-email-outline tx-24"></i>
        <span class="menu-item-label">Bandeja</span>
      </div><!-- menu-item -->
    </a><!-- br-menu-link -->
    <a href="{% url 'analitica-index' %}" class="br-menu-link active">
      <div class="br-menu-item active">
        <i class="menu-item-icon fa fa-bar-chart tx-24 "></i>
        <span class="menu-item-label">Analítica</span>
      </div><!-- menu-item -->
    </a><!-- br-menu-link -->

    <a href="{% url 'status-index' %}" class="br-menu-link">
      <div class="br-menu-item">
        <i class="menu-item-icon ion-ios-redo-outline tx-24"></i>
        <span class="menu-item-label">Estatus</span>
      </div><!-- menu-item -->
    </a><!-- br-menu-link -->
    <a href="{% url 'encargado-index' %}" class="br-menu-link">
      <div class="br-menu-item ">
        <i class=" menu-item-icon icon ion-person tx-24"></i>
        <span class="menu-item-label">Asignación de<br>Responsabilidades</span>
      </div>
    </a>
    <a href="{% url 'buscador-index' %}" class="br-menu-link">
      <div class="br-menu-item">
        <i class="menu-item-icon icon ion-ios-list-outline tx-22"></i>
        <span class="menu-item-label">Buscador</span>
      </div><!-- menu-item -->
    </a><!-- br-menu-link -->
    <a href="{% url 'list-notif-umbrales' %}" class="br-menu-link">
      <div class="br-menu-item">
        <i class="menu-item-icon icon fa fa-clock-o tx-24"></i>
        <span class="menu-item-label">Historial del<br>Umbrales</span>
      </div>
      <!-- menu-item -->
    </a>
    <a href="{% url 'configuracion-index' %}" class="br-menu-link">
      <div class="br-menu-item">
        <i class="menu-item-icon icon ion-ios-gear-outline tx-24"></i>
        <span class="menu-item-label">Configuración</span>
      </div><!-- menu-item -->
    </a><!-- br-menu-link -->

  </div><!-- br-sideleft-menu -->
</div><!-- br-sideleft -->
<script>
  var header = document.getElementById("myDIV");
  var btns = header.getElementsByClassName("btn");
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function () {
      var current = document.getElementsByClassName("active");
      current[0].className = current[0].className.replace(" active", "");
      this.className += " active";
    });
  }
</script>