<!DOCTYPE html>
{% load static %}
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Software de Gestion y administracion de archivos.">
    <meta name="author" content="STOD CHILE for DM">

    <title>PLANNIT || {{proyecto.nombre}}</title>

    <!-- vendor css -->
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'Ionicons/css/ionicons.css' %}" rel="stylesheet">
    <link href="{% static 'perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet">
    <link href="{% static 'jquery-switchbutton/jquery.switchButton.css' %}" rel="stylesheet">
    <link href="{% static 'rickshaw/rickshaw.min.css' %}" rel="stylesheet">
    <link href="{% static 'chartist/chartist.css' %}" rel="stylesheet">
    <link href="{% static 'jt.timepicker/jquery.timepicker.css' %}" rel="stylesheet">
    
    
    <link href="{% static 'select2/css/select2.css' %}" rel="stylesheet" />
    <link href="{% static 'select2/css/select2.min.css' %}" rel="stylesheet" />
    <link href="{% static 'select2/css/select2-boostrap4.css' %}" rel="stylesheet" />
    <link href="{% static 'select2/css/select2-boostrap4.min.css' %}" rel="stylesheet" />
    <link href="{% static 'select2/css/select2-bootstrap4.min.css' %}" rel="stylesheet" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <link href="{% static 'jquery.steps/jquery.steps.css' %}" rel="stylesheet" />
     
     <link rel="stylesheet" href="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.18/datatables.min.css">
     <script src="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.18/datatables.min.js"></script>
     

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"></script>

     <!-- Datatables -->
  <link rel="stylesheet" href="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.18/datatables.min.css">
     <script src="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.18/datatables.min.js"></script>
     

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

     <!-- Bootstrap CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

      <!-- Datatables -->
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css"/>
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/autofill/2.3.6/css/autoFill.bootstrap4.css"/>
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.bootstrap4.min.css"/>
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/datetime/1.0.3/css/dataTables.dateTime.min.css"/>
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.1.8/css/fixedHeader.bootstrap4.min.css"/>
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.7/css/responsive.bootstrap4.min.css"/>
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/searchbuilder/1.0.1/css/searchBuilder.bootstrap4.min.css"/>
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/searchpanes/1.2.2/css/searchPanes.bootstrap4.min.css"/>
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.3/css/select.bootstrap4.min.css"/>
      
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
     <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
     <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
     <script type="text/javascript" src="https://cdn.datatables.net/autofill/2.3.6/js/dataTables.autoFill.min.js"></script>
     <script type="text/javascript" src="https://cdn.datatables.net/autofill/2.3.6/js/autoFill.bootstrap4.min.js"></script>
     <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
     <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.bootstrap4.min.js"></script>
     <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
     <script type="text/javascript" src="https://cdn.datatables.net/datetime/1.0.3/js/dataTables.dateTime.min.js"></script>
     <script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.1.8/js/dataTables.fixedHeader.min.js"></script>
     <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"></script>
     <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.7/js/responsive.bootstrap4.min.js"></script>
     <script type="text/javascript" src="https://cdn.datatables.net/searchbuilder/1.0.1/js/dataTables.searchBuilder.min.js"></script>
     <script type="text/javascript" src="https://cdn.datatables.net/searchbuilder/1.0.1/js/searchBuilder.bootstrap4.min.js"></script>
     <script type="text/javascript" src="https://cdn.datatables.net/searchpanes/1.2.2/js/dataTables.searchPanes.min.js"></script>
     <script type="text/javascript" src="https://cdn.datatables.net/searchpanes/1.2.2/js/searchPanes.bootstrap4.min.js"></script>
     <script type="text/javascript" src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
    <!--Fin datatable--> <!--Fin datatable-->

    <!--Buttons-->
     <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.53/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.53/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<!--Fin b-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
       
           <script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
    <!-- Development version -->
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
    
    <!-- Production version -->
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://code.jquery.com/ui/1.13.0-rc.2/jquery-ui.js"
      integrity="sha256-bLjSmbMs5XYwqLIj5ppZFblCo0/9jfdiG/WjPhg52/M=" crossorigin="anonymous"></script>
    <!-- Bracket CSS -->
    <style>
      .buttons-excel {
        color: #fff !important;
        background: #23BF08 !important;
        border-color: #23BF08 !important;
        display: block !important;
        width: 100% !important;
        border-radius: 50px !important;
        margin-left: 20px !important;
      }
    
      .pagination {
        margin-left: auto;
        margin-right: auto;
        padding-right: 80px;
      }
    
      .page-link {
        width: 15vh;
      }
    
      .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 0px;
        margin-left: 0px;
        display: inline;
        border: 0px;
      }
    
      .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        border: 0px;
      }
    </style>
    <link rel="stylesheet" href="{% static 'css/bracket.css' %}"> 
   
  </head>
  <body class="collapsed-menu">
  {% block menublank %}
 
    <!-- ########## START: LEFT PANEL ########## -->
    <div class="br-logo"><a href=""><span>[</span>{{proyecto.nombre}}<span>]</span></a></div>
    <div class="br-sideleft overflow-y-auto ps ps--theme_default ps--active-x ps--active-y" data-ps-id="9f275960-8fc4-263c-8019-2d3495e7d5c1">
      <label class="sidebar-label pd-x-15 mg-t-20">Navegación</label>
      <div class="br-sideleft-menu">
        <a href="{% url 'index' %}" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
            <span class="menu-item-label">Escritorio</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        
         {% if request.user.perfil.rol_usuario == 1 or request.user.perfil.rol_usuario == 4 or request.user.is_superuser %}
         <a href="{% url 'PanelCarga' %}" class="br-menu-link ">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-photos-outline tx-20"></i>
            <span class="menu-item-label">Panel de Carga</span>
          </div><!-- menu-item -->
          </a>
        {% endif %}
        <a href="{% url 'Bandejaeys' %}" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-email-outline tx-24"></i>
            <span class="menu-item-label">Bandeja</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
         <a href="{% url 'analitica-index' %}" class="br-menu-link">
          <div class="br-menu-item active">
           <i class="menu-item-icon fa fa-bar-chart tx-24 "></i>
            <span class="menu-item-label">Analítica</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
       
        <a href="{% url 'status-index' %}" class="br-menu-link active">
          <div class="br-menu-item active">
            <i class="menu-item-icon ion-ios-redo-outline tx-24"></i>
            <span class="menu-item-label">Estatus</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
       {% if request.user.perfil.rol_usuario == 3 or request.user.perfil.rol_usuario == 6 %}
       
        {% else %}
         <a href="{% url 'encargado-index' %}" class="br-menu-link">
          <div class="br-menu-item ">
            <i class=" menu-item-icon icon ion-person tx-24"></i>
            <span class="menu-item-label">Asignación de<br>Responsabilidades</span>
          </div>
        </a>
        {% endif %}
        <a href="{% url 'buscador-index' %}" class="br-menu-link ">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-list-outline tx-22"></i>
            <span class="menu-item-label">Buscador</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
         <a href="{% url 'list-notif-umbrales' %}" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon fa fa-clock-o tx-24"></i>
            <span class="menu-item-label">Historial de<br>Umbrales</span>
          </div>
          <!-- menu-item --> 
          </a>
        <a href="{% url 'configuracion-index' %}" class="br-menu-link">
          <div class="br-menu-item active">
            <i class="menu-item-icon icon ion-ios-gear-outline tx-24"></i>
            <span class="menu-item-label">Configuración</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
      </div><!-- br-sideleft-menu -->
    </div><!-- br-sideleft -->
    <!-- ########## END: LEFT PANEL ########## -->

     <!-- ########## START: HEAD PANEL ########## -->
  <div class="br-header">
      <div class="br-header-left">
        <div class="navicon-left hidden-md-down">
          <a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a>
        </div>
        <div class="navicon-left hidden-lg-up">
          <a id="btnLeftMenuMobile" href=""
            ><i class="icon ion-navicon-round"></i
          ></a>
        </div>
                <nav class="nav" style="display: inline-flex;">
              <ul class="list-unstyled user-profile-nav"style="
              display: flex;
              align-items: center;
              margin: 0 15px;
          
          ">        
               <li style="text-align: center;font-weight: 700;">
                <strong>{{user.first_name}} {{user.last_name}}</strong>
                </li>&numsp;
              </ul>
        </nav>
      </div>
      <!-- br-header-left -->
         <div class="br-header-right">
        <nav class="nav" style="display: inline-flex;">
              <ul class="list-unstyled user-profile-nav"style="
              display: flex;
              align-items: unset;
          ">        
            
                <li style="
                text-align: center;
            "><a href="{% url 'proyecto-select' %}"><i class="icon ion-ios-folder"></i> Cambiar Proyecto</a></li>
                <li style="
                text-align: center;
            "><a href="{% url 'account_logout' %}"><i class="icon ion-power"></i> Cerrar Sesión</a></li>

              </ul>
        </nav>
      </div><!-- br-header-right -->
      <!-- br-header-right -->
    </div>
    <!-- ########## END: HEAD PANEL ########## -->


 {% endblock menublank %}
  {% include "messege.html" %}

{% block content %}
{% endblock content %}

    <!-- ########## END: MAIN PANEL ########## -->

    <script src="{% static 'jquery/jquery.js' %}"></script> 
    <script src="{% static 'bootstrap/bootstrap.js' %}"></script>
    <script src="{% static 'perfect-scrollbar/js/perfect-scrollbar.jquery.js' %}"></script>
    <script src="{% static 'moment/moment.js' %}"></script>
    <script src="{% static 'jquery-switchbutton/jquery.switchButton.js' %}"></script>
    <script src="{% static 'peity/jquery.peity.js' %}"></script>
    <script src="{% static 'jquery.sparkline.bower/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'd3/d3.js' %}"></script>
    <script src="{% static 'jt.timepicker/jquery.timepicker.js' %}"></script>
    <script src="{% static 'highlightjs/highlight.pack.js' %}"></script>  

    <script src="{% static 'select2/js/select2.js' %}"></script>
    <script src="{% static 'select2/js/select2.full.js' %}"></script>
    <script src="{% static 'select2/js/select2.full.min.js' %}"></script>
    <script src="{% static 'select2/js/select2.full.min.js' %}"></script>
    <script src="{% static 'select2/js/i18n/es.js' %}"></script> 


    <script src="{% static 'js/bracket.js' %}"></script>
    <script src="{% static 'js/ResizeSensor.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script> 
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.53/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.53/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
   
    <script src="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.18/datatables.min.js"></script>
    
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>

    <!-- Development version -->
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>

    <!-- Production version -->
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://code.jquery.com/ui/1.13.0-rc.2/jquery-ui.js"integrity="sha256-bLjSmbMs5XYwqLIj5ppZFblCo0/9jfdiG/WjPhg52/M=" crossorigin="anonymous"></script>
     <script>
    $('#alert').fadeIn();     
      setTimeout(function() {
          $("#alert").fadeOut();           
      },2000);
    </script>
    
  </body>
</html>
