<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Software de Gestion y administracion de archivos.">
    <meta name="author" content="STOD CHILE for DM">

    <title>{{proyecto.nombre}}</title>

    <!-- vendor css -->
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet"> 
    <link href="{% static 'Ionicons/css/ionicons.css' %}" rel="stylesheet">
    <link href="{% static 'perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet">
    <link href="{% static 'jquery-switchbutton/jquery.switchButton.css' %}" rel="stylesheet">
    <link href="{% static 'rickshaw/rickshaw.min.css' %}" rel="stylesheet">
    <link href="{% static 'jt.timepicker/jquery.timepicker.css' %}" rel="stylesheet">
    
    
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="{% static 'Jquery-Autosave/autosaveform.js' %}"></script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="{% static 'Jquery-Autosave/autosaveform.js' %}"></script>
    <!--Chart js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="{% static 'css/bracket.css' %}"> 

    <script>
    $('#alert').fadeIn();     
      setTimeout(function() {
          $("#alert").fadeOut();           
      },2000);
    </script>
   <script>
      window.onload = function(){
      var fecha = new Date(); //Fecha actual
      var mes = fecha.getMonth()+1; //obteniendo mes
      var dia = fecha.getDate(); //obteniendo dia
      var ano = fecha.getFullYear(); //obteniendo año
      if(dia<10)
        dia='0'+dia; //agrega cero si el menor de 10
      if(mes<10)
        mes='0'+mes //agrega cero si el menor de 10
      document.getElementById('fechaActual').value=dia+"-"+mes+"-"+ano;
    }
   </script>
  </head>

  <body>

    <!-- ########## START: LEFT PANEL ########## -->
    <div class="br-logo"><a href=""><span>[</span>{{proyecto.nombre}}<span>]</span></a></div>
    <div class="br-sideleft overflow-y-auto">
      <label class="sidebar-label pd-x-15 mg-t-20">Navegación</label>
      <div class="br-sideleft-menu">
        <a href="{% url 'index' %}" class="br-menu-link active">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
            <span class="menu-item-label">Escritorio</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
       {% if request.user.perfil.rol_usuario == 1 or request.user.perfil.rol_usuario == 4 or request.user.is_superuser %}
         <a href="{% url 'PanelCarga' %}" class="br-menu-link ">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-photos-outline tx-20"></i>
            <span class="menu-item-label">Panel de Carga</span>
          </div><!-- menu-item -->
          </a>
        {% endif %}
        <a href="{% url 'Bandejaeys' %}" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-email-outline tx-24"></i>
            <span class="menu-item-label">Bandeja</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
         <a href="{% url 'analitica-index' %}" class="br-menu-link">
          <div class="br-menu-item active">
           <i class="menu-item-icon fa fa-bar-chart tx-24 "></i>
            <span class="menu-item-label">Analítica</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
       
        <a href="{% url 'status-index' %}" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon ion-ios-redo-outline tx-24"></i>
            <span class="menu-item-label">Estatus</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
         <a href="{% url 'encargado-index' %}" class="br-menu-link">
          <div class="br-menu-item ">
            <i class=" menu-item-icon icon ion-person tx-24"></i>
            <span class="menu-item-label">Asignación de<br>Responsabilidades</span>
          </div>
        </a>   
        <a href="{% url 'buscador-index' %}" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-list-outline tx-22"></i>
            <span class="menu-item-label">Buscador</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
            {% if request.user.perfil.rol_usuario == 1 or request.user.perfil.rol_usuario == 4 or request.user.is_superuser %}
        <a href="{% url 'list-notif-umbrales' %}" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon fa fa-clock-o tx-24"></i>
            <span class="menu-item-label">Historial del<br>Umbrales</span>
          </div>
          <!-- menu-item --> 
          </a>
          {% endif %}
      {% if request.user.perfil.rol_usuario == 1 or request.user.perfil.rol_usuario == 4 or request.user.is_superuser %}
        <a href="{% url 'configuracion-index' %}" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-gear-outline tx-24"></i>
            <span class="menu-item-label">Configuración</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        {% endif %}
      </div><!-- br-sideleft-menu -->
    </div><!-- br-sideleft -->
    <!-- ########## END: LEFT PANEL ########## -->

     <!-- ########## START: HEAD PANEL ########## -->
    <div class="br-header">
      <div class="br-header-left">
        <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a></div>
        <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href=""><i class="icon ion-navicon-round"></i></a></div>
    
      </div><!-- br-header-left -->
      <div class="br-header-right">
        <nav class="nav">
          <div class="dropdown">
            <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
              <span class="logged-name hidden-md-down"> {{user.first_name}} {{user.last_name}} </span>
              <img src="http://via.placeholder.com/64x64" class="wd-32 rounded-circle" alt="">
              <span class="square-10 bg-success"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-header wd-200">
              <ul class="list-unstyled user-profile-nav">
                <li><a href="{% url 'proyecto-select' %}"><i class="icon ion-ios-folder"></i> Cambiar Proyecto</a></li>
                <li><a href="{% url 'account_logout' %}"><i class="icon ion-power"></i> Cerrar Sesión</a></li>
              </ul>
            </div><!-- dropdown-menu -->
          </div><!-- dropdown -->
        </nav>
      </div><!-- br-header-right -->
    </div><!-- br-header -->
    <!-- ########## END: HEAD PANEL ########## -->

  

    <!-- ########## START: MAIN PANEL ########## -->
    <div class="br-mainpanel">
      <div class="br-pagebody mg-t-5 pd-x-30">
   
      
      {% block navegacion %}
      
      {% endblock navegacion %}
      
        {% include "messege.html" %}
      
      {% block content %}

      {% endblock content %}
      </div><!-- br-pagebody -->
    </div><!-- br-mainpanel -->
    <!-- ########## END: MAIN PANEL ########## -->

    <script src="{% static 'jquery/jquery.js' %}"></script> 
    <script src="{% static 'popper.js/popper.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.js' %}"></script>
    <script src="{% static 'perfect-scrollbar/js/perfect-scrollbar.jquery.js' %}"></script>
    <script src="{% static 'moment/moment.js' %}"></script>
    <script src="{% static 'jquery-ui/jquery-ui.js' %}"></script>
    <script src="{% static 'jquery-switchbutton/jquery.switchButton.js' %}"></script>
    <script src="{% static 'peity/jquery.peity.js' %}"></script>
    <script src="{% static 'chartist/chartist.js' %}"></script>
    <script src="{% static 'jquery.sparkline.bower/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'd3/d3.js' %}"></script>
    <script src="{% static 'rickshaw/rickshaw.min.js' %}"></script>
    <script src="{% static 'jt.timepicker/jquery.timepicker.js' %}"></script>
    <script src="{% static 'highlightjs/highlight.pack.js' %}"></script>    
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="{% static 'select2/js/select2.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>

    <script src="{% static 'js/bracket.js' %}"></script>
    <script src="{% static 'js/ResizeSensor.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script> 

    <script>
      $(function(){
        'use strict'

        // FOR DEMO ONLY
        // menu collapsed by default during first page load or refresh with screen
        // having a size between 992px and 1299px. This is intended on this page only
        // for better viewing of widgets demo.
        $(window).resize(function(){
          minimizeMenu();
        });

        minimizeMenu();

        function minimizeMenu() {
          if(window.matchMedia('(min-width: 992px)').matches && window.matchMedia('(max-width: 1299px)').matches) {
            // show only the icons and hide left menu label by default
            $('.menu-item-label,.menu-item-arrow').addClass('op-lg-0-force d-lg-none');
            $('body').addClass('collapsed-menu');
            $('.show-sub + .br-menu-sub').slideUp();
          } else if(window.matchMedia('(min-width: 1300px)').matches && !$('body').hasClass('collapsed-menu')) {
            $('.menu-item-label,.menu-item-arrow').removeClass('op-lg-0-force d-lg-none');
            $('body').removeClass('collapsed-menu');
            $('.show-sub + .br-menu-sub').slideDown();
          }
        }
      });
    </script>
  </body>
</html>
