<!DOCTYPE html>
{% load static %}
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Software de Gestion y administracion de archivos.">
    <meta name="author" content="STOD CHILE for DM">

    <title>{{proyecto.nombre}}</title>

    <!-- vendor css -->
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet"> 
    <link href="{% static 'Ionicons/css/ionicons.css' %}" rel="stylesheet">
    <link href="{% static 'perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet">
    <link href="{% static 'jquery-switchbutton/jquery.switchButton.css' %}" rel="stylesheet">
    <link href="{% static 'rickshaw/rickshaw.min.css' %}" rel="stylesheet">
    <link href="{% static 'jt.timepicker/jquery.timepicker.css' %}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="{% static 'Jquery-Autosave/autosaveform.js' %}"></script>

            <!-- Development version -->
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>

    <!-- Production version -->
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <!-- Bracket CSS -->
    <link rel="stylesheet" href="{% static 'css/bracket.css' %}"> 
  
  </head>

  <body>

    <!-- ########## START: LEFT PANEL ########## -->
    {% include 'titulo.html' %}
    <!-- ########## END: LEFT PANEL ########## -->

     <!-- ########## START: HEAD PANEL ########## -->

      <div class="br-header">
      <div class="br-header-left">
        <div class="navicon-left hidden-md-down">
          <a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a>
        </div>
        <div class="navicon-left hidden-lg-up">
          <a id="btnLeftMenuMobile" href=""
            ><i class="icon ion-navicon-round"></i
          ></a>
        </div>
                <nav class="nav" style="display: inline-flex;">
              <ul class="list-unstyled user-profile-nav"style="
              display: flex;
              align-items: center;
              margin: 0 15px;
          
          ">        
                <li style="
                text-align: center;
            ">{{user.first_name}} {{user.last_name}}</li>&numsp;
            <li style="
                text-align: center;
            ">  {% include "messege.html" %}
           </li>&numsp;
    
              </ul>
        </nav>
      </div>
      <!-- br-header-left -->
         <div class="br-header-right">
        <nav class="nav" style="display: inline-flex;">
              <ul class="list-unstyled user-profile-nav"style="
              display: flex;
              align-items: unset;
          ">        
                <li style="
                text-align: center;
            "><strong>Conectado como:&numsp;</strong><br>{{user.first_name}} {{user.last_name}}</a></li>&numsp;
                
                <li style="
                text-align: center;
            "><a href="{% url 'proyecto-select' %}"><i class="icon ion-ios-folder"></i> Cambiar Proyecto</a></li>
                <li style="
                text-align: center;
            "><a href="{% url 'account_logout' %}"><i class="icon ion-power"></i> Cerrar Sesión</a></li>

              </ul>
        </nav>
      </div><!-- br-header-right -->
      <!-- br-header-right -->
    </div>
    <!-- ########## END: HEAD PANEL ########## -->

  

    <!-- ########## START: MAIN PANEL ########## -->
 {% block content %}
      {% endblock content %}
    <!-- ########## END: MAIN PANEL ########## -->

    <script src="{% static 'jquery/jquery.js' %}"></script> 
    <script src="{% static 'bootstrap/bootstrap.js' %}"></script>
    <script src="{% static 'perfect-scrollbar/js/perfect-scrollbar.jquery.js' %}"></script>
    <script src="{% static 'moment/moment.js' %}"></script>
    <script src="{% static 'jquery-ui/jquery-ui.js' %}"></script>
    <script src="{% static 'jquery-switchbutton/jquery.switchButton.js' %}"></script>
    <script src="{% static 'peity/jquery.peity.js' %}"></script>
    <script src="{% static 'jquery.sparkline.bower/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'd3/d3.js' %}"></script>
    <script src="{% static 'jt.timepicker/jquery.timepicker.js' %}"></script>
    <script src="{% static 'highlightjs/highlight.pack.js' %}"></script>    


    <script src="{% static 'js/bracket.js' %}"></script>
    <script src="{% static 'js/ResizeSensor.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script> 

            <!-- Development version -->
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>

    <!-- Production version -->
    <script src="https://unpkg.com/@popperjs/core@2"></script>
  </body>
</html>
