{% extends 'index-Status.html' %}

{% load crispy_forms_tags %}

{% block content %}
<!--Titulo-->
<div class="br-mainpanel" style="position: relative;">

 <div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item" > {{proyecto}} </a>
      <span class="breadcrumb-item active">Estatus</span>
    </nav>
  </div>
  <div class="pd-30">
    <h4 class="tx-gray-800 mg-b-5">Estatus documental del proyecto / {{proyecto}}</h4>
 </div>
   <div class="br-pagebody mg-t-5 pd-x-30">

  <div class="br-section-wrapper" style="overflow-x: auto;padding:10px 10px 2px 2px;margin: 2px;">
<!--Tabla-->
            <table id="datatable1" class="table table-striped table-bordered table-primary"style="width:100%;table-layout:Inherit;font-size:10px;">
              <thead>
                <tr role="row">
                <th   style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width:auto;">Especialidad</th>
                <th   style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width:auto;">Descripción</th>
                <th   style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width:170px;">Código</th>
                <th   style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width:auto;">Tipo</th>
                <th   style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width:auto;">Revisión Actual</th>
                <th   style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width:auto;">A cargo de:</th>
                <th   style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width:auto;">Último transmittal</th>
                <th   style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width:auto;">Días de revisión</th>
                <th   style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width:auto;">Estado</th>
                <th   style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width:auto;">Fecha Inicial</th>
                <th   style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width:auto;">Fecha Final</th>
                <th   style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width:auto;">(%)<br>Avance</th>
                <th   style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width:auto;">Ciclo revisión (d)</th>
                </tr>
              </thead>
                <tbody>
            <!--Loop Listar Documento-->
            {% for documento in Listado %}
              {% if documento.1.0 == 'no version' %}
              <tr role="row" class="odd">
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;" > {{documento.0.Especialidad}} </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;" > {{documento.0.Descripcion}} </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;" > {{documento.0.Codigo_documento}} </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;" > {{documento.0.Tipo_Documento}} </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;" > </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;" > </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;" > </th>
                {% if documento.1.1 == 'Atrasado' %} 
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;" > {{documento.1.2}} </th> 
                {% else %} 
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;" > </th> 
                {% endif %}
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;" > {{documento.1.1}} </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;" > </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;" > </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;" > </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;" > </th>
              </tr>
              {% else %}
              <tr role="row" class="odd">
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;"> {{documento.0.Especialidad}} </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;"> {{documento.0.Descripcion}} </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;"> <a href="{% url 'buscador-detalle' documento.0.pk %}">{{documento.0.Codigo_documento}}</a></th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;"> {{documento.0.Tipo_Documento}} </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;"> {{documento.1.0.get_revision_display}} </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;"> {{documento.1.1.destinatario.perfil.empresa}} </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;"> {% if documento.1.1 %} <a href="{% url 'paquete-detalle' documento.1.1.pk %}"> {{documento.1.1}} </a></th> {% else %} {% endif %}
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;"> {{documento.1.6}} </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;"> {% if not documento.1.0.get_estado_cliente_display %} {{ documento.1.0.get_estado_contratista_display }} {% else %}{{documento.1.0.get_estado_cliente_display}} {% endif %}  </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;"> {{documento.1.5.fecha_creacion|date:"d-m-y"}}</th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;"> {{documento.1.1.fecha_creacion|date:"d-m-y"}} </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;"> {% if documento.1.0.get_estado_cliente_display == "Anulado" %} 100% {% else %} {{documento.1.3}}% {% endif %} </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;"> {{documento.1.4}} </th>
              </tr>
              {% endif %}
              {% endfor %}
            </table>
            {% if is_paginated %}
            <div class="ht-80 bd pd-x-20 d-flex align-items-center justify-content-between">
              {% if page_obj.has_previous %}
               <ul class="pagination pagination-basic mg-b-0">
                 <li class="page-item">             
                  <a class="page-link" href="?page=1" aria-label="Last">
                     <i class="fa fa-angle-double-left"></i>
                   </a>
                 </li>
                 <li class="page-item">
                   <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Next">
                     <i class="fa fa-angle-left"></i>
                   </a>
                 </li>
               </ul>
               {% endif %}
               <ul class="pagination pagination-basic mg-b-0"style="margin-left:auto;margin-right:auto;">
                 <li class="page-item"disabled><a class="page-link" disabled>Pag</a></li>
                 <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
                 <li class="page-item"disabled><a class="page-link hidden-xs-down"disabled>de</a></li>
                 <li class="page-item"><a class="page-link hidden-xs-down" href="#">{{ page_obj.paginator.num_pages }}</a></li>
               </ul>
                {% if page_obj.has_next %}
               <ul class="pagination pagination-basic mg-b-0">
                 <li class="page-item">
                   <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                     <i class="fa fa-angle-right"></i>
                   </a>
                 </li>
                 <li class="page-item">
                   <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                     <i class="fa fa-angle-double-right"></i>
                   </a>
                 </li>
               </ul>
               {% endif %}
             </div>
            {% endif %}

  </div>

</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>
  $("#fileInput").change(function(){
    $("button").prop("disabled", this.files.length == 0);
});
</script>

<script type="text/javascript">
  jQuery(document).ready(function() {
    $('#datatable1').DataTable(
        {
          dom: 'B<"float-right"f>t<"float-left"l>p<"clearfix">',
          paging: true,
          responsive: true,
          paging: true,    
          lengthChange: true,
          searching: true,
          ordering: true,
          aaSorting:[],
          aoColumnDefs: [
          { 'bSortable': true, 'aTargets': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] }
            ],
          info: true,
          autoWidth: true,
          lengthMenu: [[5, 25, 50, -1], [5, 25, 50, "Mostrar Todos"]],          
          columnDefs: [
            {
              searchable: false,
              pageLength: 10,
            }
          ],
          language: {
            "processing": "Procesando...",
            "lengthMenu": "Mostrar _MENU_ registros",
            "zeroRecords": "No se encontraron resultados",
            "emptyTable": "Ningún dato disponible en esta tabla",
            "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "infoFiltered": "(filtrado de un total de _MAX_ registros)",
            "search": "&#128270;",
            "infoThousands": ",",
            "loadingRecords": "Cargando...",
            "paginate": {
                "first": "Primero",
                "last": "Último",
                "next": "Siguiente",
                "previous": "Anterior"
             },
            "aria": {
                "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sortDescending": ": Activar para ordenar la columna de manera descendente"
              },
            "buttons": {
                "copy": "Copiar",
                "colvis": "Visibilidad",
                "collection": "Colección",
                "colvisRestore": "Restaurar visibilidad",
                "copyKeys": "Presione ctrl o u2318 + C para copiar los datos de la tabla al portapapeles del sistema. <br \/> <br \/> Para cancelar, haga clic en este mensaje o presione escape.",
                "copySuccess": {
                    "1": "Copiada 1 fila al portapapeles",
                    "_": "Copiadas %d fila al portapapeles"
                },
                "copyTitle": "Copiar al portapapeles",
                "csv": "CSV",
                "excel": "Excel",
                "pageLength": {
                    "-1": "Mostrar todas las filas",
                    "_": "Mostrar %d filas"
                },
                "pdf": "PDF",
                "print": "Imprimir"
             },
            "autoFill": {
                "cancel": "Cancelar",
                "fill": "Rellene todas las celdas con <i>%d<\/i>",
                "fillHorizontal": "Rellenar celdas horizontalmente",
                "fillVertical": "Rellenar celdas verticalmentemente"
             },
            "decimal": ",",
            "searchBuilder": {
                "add": "Añadir condición",
                "button": {
                    "0": "Constructor de búsqueda",
                    "_": "Constructor de búsqueda (%d)"
                },
            "clearAll": "Borrar todo",
            "condition": "Condición",
            "conditions": {
                "date": {
                  "after": "Despues",
                  "before": "Antes",
                  "between": "Entre",
                  "empty": "Vacío",
                  "equals": "Igual a",
                  "notBetween": "No entre",
                  "notEmpty": "No Vacio",
                  "not": "Diferente de"
                },
                "number": {
                    "between": "Entre",
                    "empty": "Vacio",
                    "equals": "Igual a",
                    "gt": "Mayor a",
                    "gte": "Mayor o igual a",
                    "lt": "Menor que",
                    "lte": "Menor o igual que",
                    "notBetween": "No entre",
                    "notEmpty": "No vacío",
                    "not": "Diferente de"
                  },
                "string": {
                    "contains": "Contiene",
                    "empty": "Vacío",
                    "endsWith": "Termina en",
                    "equals": "Igual a",
                    "notEmpty": "No Vacio",
                    "startsWith": "Empieza con",
                    "not": "Diferente de"
                 },
                "array": {
                  "not": "Diferente de",
                  "equals": "Igual",
                  "empty": "Vacío",
                  "contains": "Contiene",
                  "notEmpty": "No Vacío",
                  "without": "Sin"
                  }
              },
            "data": "Data",
            "deleteTitle": "Eliminar regla de filtrado",
            "leftTitle": "Criterios anulados",
            "logicAnd": "Y",
            "logicOr": "O",
            "rightTitle": "Criterios de sangría",
            "title": {
                  "0": "Constructor de búsqueda",
                  "_": "Constructor de búsqueda (%d)"
                },
                  "value": "Valor"
             },
            "searchPanes": {
                "clearMessage": "Borrar todo",
                "collapse": {
                    "0": "Paneles de búsqueda",
                    "_": "Paneles de búsqueda (%d)"
                  },
                "count": "{total}",
                "countFiltered": "{shown} ({total})",
                "emptyPanes": "Sin paneles de búsqueda",
                "loadMessage": "Cargando paneles de búsqueda",
                "title": "Filtros Activos - %d"
                },
            "select": {
                "cells": {
                      "1": "1 celda seleccionada",
                      "_": "%d celdas seleccionadas"
                  },
                "columns": {
                    "1": "1 columna seleccionada",
                    "_": "%d columnas seleccionadas"
                  },
                "rows": {
                      "1": "1 fila seleccionada",
                      "_": "%d filas seleccionadas"
                  }
              },
            "thousands": ".",
            "datetime": {
                "previous": "Anterior",
                "next": "Proximo",
                "hours": "Horas",
                "minutes": "Minutos",
                "seconds": "Segundos",
                "unknown": "-",
                "amPm": [
                    "AM",
                    "PM"
                  ],
                "months": {
                    "0": "Enero",
                    "1": "Febrero",
                    "10": "Noviembre",
                    "11": "Diciembre",
                    "2": "Marzo",
                    "3": "Abril",
                    "4": "Mayo",
                    "5": "Junio",
                    "6": "Julio",
                    "7": "Agosto",
                    "8": "Septiembre",
                    "9": "Octubre"
                 },
                "weekdays": [
                    "Dom",
                    "Lun",
                    "Mar",
                    "Mie",
                    "Jue",
                    "Vie",
                    "Sab"
                  ]
               },
            "editor": {
                "close": "Cerrar",
                "create": {
                    "button": "Nuevo",
                    "title": "Crear Nuevo Registro",
                    "submit": "Crear"
                },
                "edit": {
                    "button": "Editar",
                    "title": "Editar Registro",
                    "submit": "Actualizar"
                },
                "remove": {
                    "button": "Eliminar",
                    "title": "Eliminar Registro",
                    "submit": "Eliminar",
                    "confirm": {
                        "_": "¿Está seguro que desea eliminar %d filas?",
                        "1": "¿Está seguro que desea eliminar 1 fila?"
                    }
                },
                "error": {
                    "system": "Ha ocurrido un error en el sistema (<a target=\"\\\" rel=\"\\ nofollow\" href=\"\\\">Más información&lt;\\\/a&gt;).<\/a>"
                },
                "multi": {
                    "title": "Múltiples Valores",
                    "info": "Los elementos seleccionados contienen diferentes valores para este registro. Para editar y establecer todos los elementos de este registro con el mismo valor, hacer click o tap aquí, de lo contrario conservarán sus valores individuales.",
                    "restore": "Deshacer Cambios",
                    "noMulti": "Este registro puede ser editado individualmente, pero no como parte de un grupo."
                }
              },
            "info": "Mostrando _START_ a _END_ de _TOTAL_ registros"
                   },         
          buttons:[ 
            'excel',  'pdf', 'print',
           ],  
          
           "order": [[ 4, "desc" ]]});
  } );
  
</script>

{% endblock content %}
