{% extends 'index-Status.html' %}

{% load crispy_forms_tags %}

{% block content %}
<!--Titulo-->
 <div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item" > {{proyecto}} </a>
      <span class="breadcrumb-item active">Estatus</span>
    </nav>
  </div>
  <div class="br-section-wrapper" style="overflow-x: auto;padding: 2px;margin: 2px;">
<!--Tabla-->
<h4 class="mg-b-0 tx-uppercase tx-bold tx-inverse tx-poppins mg-t-10 mg-b-20" style="text-align: left; margin-right: 30px;" >Estatus documental del proyecto / {{proyecto}}</h4>

              <!--Fin Loop-->
            <table id="datatable1" class="records_list table table-striped table-bordered table-hover dataTable no-footer table-primary"style="width:100%;table-layout:Inherit;">
              <thead>
                <tr role="row">
                <th  tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width:auto;">Especialidad</th>
                <th  tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width:auto;">Descripción</th>
                <th  tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width:100px">Código</th>
                <th  tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width:auto;">Tipo</th>
                <th  tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width:auto;">Revisión Actual</th>
                <th  tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width:auto;">A cargo de:</th>
                <th  tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width:auto;">Último transmittal</th>
                <th  tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width:auto;">Días de revisión</th>
                <th  tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width:auto;">Estado</th>
                <th  tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width:auto;">Fecha Inicial</th>
                <th  tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width:auto;">Fecha Final</th>
                <th  tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width:auto;">(%)Avance</th>
                <th  tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="color:#fff;text-align: center;vertical-align: middle;font-size: 10px;padding:5px;width:auto;">Ciclo revisión (d)</th>
                </tr>
              </thead>
                <tbody>
            <!--Loop Listar Documento-->
            {% for documento in Listado %}
              {% if not documento.1 %}
              <tr role="row" class="odd">
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;" > {{documento.0.Especialidad}} </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;" > {{documento.0.Descripcion}} </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;" > {{documento.0.Codigo_documento}} </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;" > {{documento.0.Tipo_Documento}} </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;" > </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;" > </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;" > </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;" > </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;" > Pendiente </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;" > </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;" > </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;" > </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;" > </th>
              </tr>
              {% else %}
              <tr role="row" class="odd">
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;"> {{documento.0.Especialidad}} </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;"> {{documento.0.Descripcion}} </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;"> <a href="{% url 'buscador-detalle' documento.0.pk %}">{{documento.0.Codigo_documento}}</a></th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;"> {{documento.0.Tipo_Documento}} </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;"> {{documento.1.0.get_revision_display}} </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;"> {{documento.1.1.0.destinatario.perfil.empresa}} </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;"> <a href="{% url 'paquete-detalle' documento.1.1.0.pk %}">{{documento.1.1.0}} </a></th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;"> {{documento.1.4}} di­as </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;"> {% if not documento.1.0.get_estado_cliente_display %} {{ documento.1.0.get_estado_contratista_display }} {% else %}{{documento.1.0.get_estado_cliente_display}} {% endif %}  </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;"> {{documento.1.1.0.fecha_creacion|date:"d-m-y"}} </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;"> {{documento.1.5|date:"d-m-y"}} </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;"> {{documento.1.3}} </th>
                <th style="text-align: center;vertical-align:middle;font-size: 10px;padding:5px;width:auto;"> {{documento.1.6}} </th>
              </tr>
              {% endif %}
              {% endfor %}
            </table>
            {% if is_paginated %}
            <div class="ht-80 bd pd-x-20 d-flex align-items-center justify-content-between">
              {% if page_obj.has_previous %}
               <ul class="pagination pagination-basic mg-b-0">
                 <li class="page-item">             
                  <a class="page-link" href="?page=1" aria-label="Last">
                     <i class="fa fa-angle-double-left"></i>
                   </a>
                 </li>
                 <li class="page-item">
                   <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Next">
                     <i class="fa fa-angle-left"></i>
                   </a>
                 </li>
               </ul>
               {% endif %}
               <ul class="pagination pagination-basic mg-b-0"style="margin-left:auto;margin-right:auto;">
                 <li class="page-item"disabled><a class="page-link" disabled>Pag</a></li>
                 <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
                 <li class="page-item"disabled><a class="page-link hidden-xs-down"disabled>de</a></li>
                 <li class="page-item"><a class="page-link hidden-xs-down" href="#">{{ page_obj.paginator.num_pages }}</a></li>
               </ul>
                {% if page_obj.has_next %}
               <ul class="pagination pagination-basic mg-b-0">
                 <li class="page-item">
                   <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                     <i class="fa fa-angle-right"></i>
                   </a>
                 </li>
                 <li class="page-item">
                   <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                     <i class="fa fa-angle-double-right"></i>
                   </a>
                 </li>
               </ul>
               {% endif %}
             </div>
            {% endif %}

    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>


<script>
  $("#fileInput").change(function(){
    $("button").prop("disabled", this.files.length == 0);
});
</script>

<script>
  $(document).ready(function() {
      $('#datatable1').DataTable(
        {
          "dom": 'B<"float-right"f>t<"float-left"l>p<"clearfix">',
          "responsive": true,
          "language": {
              "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
          },
          "order":[[4,"desc"]],
          buttons:{
            dom: {
                button: {
                    className: 'btn btn-success'
                }
            },
          },
          buttons:[ 
            {
                //definimos estilos del boton de excel
                extend: "excel",
                text:'Exportar a Excel',
                className:'btn btn-success',

                // 1 - ejemplo básico - uso de templates pre-definidos
                //definimos los parametros al exportar a excel
                
                excelStyles: {                
                    template: "header_blue",  // Apply the 'header_blue' template part (white font on a blue background in the header/footer)
                    template:"green_medium",
                    
                    "template": [
                        "blue_medium",
                        "header_green",
                        "title_medium"
                    ] 
                    
                },
                

            }]	     
        });
  } );
</script>

{% endblock content %}
