<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Software de Gestion y administracion de archivos.">
    <meta name="author" content="STOD CHILE for DM">

    <title>PLANNIT</title>
    <link rel="stylesheet" href="https://www.stod.cl/bracket.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body
    style="width:500px;margin: 0 auto;font-size: 0.875rem; font-weight: normal; line-height: 1.5; ">
    <div
        style="align-items:center;background-color: grey;align-items: center !important;justify-content: center !important;display: flex !important;    box-sizing: inherit;">
        <div
            style="border-radius: 3px !important;box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 21%);padding: 5px 40px;width: 300px!important; border-radius: 3px !important;background-color: #fff !important;box-sizing: inherit;display: block;">
            <div
                style="font-size: 28px;align-items:center;text-align: center;color:black;font-weight:700;text-align: center;padding: 25px !important;color: #343a40; box-sizing: inherit;">
                <span class="tx-normal">[</span> Plannit <span class="tx-normal">]</span>
            </div>

            <div
                style="color: rgb(10, 10, 10); font-weight: 600;align-items: center; text-align: center;">
                Plataforma de gesti&oacute;n de ingenieria</div>
            <h4 class="null" style="text-align: center;"><br />
                <span class="mc-toc-title">
                    <span style="font-family:helvetica neue,helvetica,arial,verdana,sans-serif">
                                           <h5
                            style="font-size: 28px;align-items:center;color:black;font-weight:700;text-align: center;color: #343a40;box-sizing: inherit;">
                           Hola {{usuario.first_name}}&nbsp;{{usuario.last_name}} !</h5>
                        ha recibido una Tarea para el documento {{task.documento.CodigoDocumento}}<br>en el proyecto {{task.documento.proyecto.nombre}} .
              </h4>
            <a href="https://plannit-app.cl{% url 'encargado-index' %}"
                style="/* margin-left:115px; */margin-right: auto;display:block;/* width:100%; */color:#fff;background-color:#17a2b8;border-color:#17a2b8;font-weight:normal;text-align:center;white-space:nowrap;vertical-align:middle;border:1px solid transparent;padding:0.75rem;font-size:0.875rem;line-height:1.25;border-radius:3px;align-items: center;margin-left: auto;"
                type="submit">Abrir Aqu&iacute;. </a>
        </div>
    </div>
</body>

</html>