{% extends 'index-buscador.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="br-pageheader pd-y-15 pd-md-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item"> {{proyecto}}</a>
      <a class="breadcrumb-item" href="{% url 'Bandejaeys' %}">Bandeja Entrada y Salida</a>      
      <span class="breadcrumb-item active">Detalle Paquete</span>
    </nav>
  </div><!-- br-pageheader -->

  <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <h4 class="tx-gray-800 mg-b-5">Historial de documento</h4>
  </div>


   <div class="col-lg-12">
            <div class="card shadow-base bd-0">
                <div class="form-layout form-layout-7 ">               
              <div class="row no-gutters">
              <div class="col-5 col-sm-4" style="text-align: center;color:black;font-weight: 900;font-size: 13px;justify-content: flex-start;text-transform:capitalize;">
                Código Documento
              </div><!-- col-4 -->
              <div class="col-7 col-sm-8" style="color:black;font-weight: 900;font-size: 13px;justify-content: flex-start;text-transform:capitalize;">
                {{documento.Codigo_documento}}
              </div><!-- col-8 -->
              </div> 
              <div class="row no-gutters">
                <div class="col-5 col-sm-4" style="text-align: center;color:black;font-weight: 900;font-size: 13px;justify-content: flex-start;text-transform:capitalize;">
                  Creador
                </div><!-- col-4 -->
                <div class="col-7 col-sm-8" style="color:black;font-weight: 900;font-size: 13px;justify-content: flex-start;text-transform:capitalize;">
                {{documento.owner}}
                </div><!-- col-8 -->
              </div>
              <div class="row no-gutters">
                <div class="col-5 col-sm-4" style="text-align: center;color:black;font-weight: 900;font-size: 13px;justify-content: flex-start;text-transform:capitalize;text-transform:capitalize;">
                  Fecha Primera Emisión
                </div><!-- col-4 -->
                <div class="col-7 col-sm-8" style="color:black;font-weight: 900;font-size: 13px;justify-content: flex-start;text-transform:capitalize;">
                  {{first_date|date:'d-m-y'}}
                </div><!-- col-8 -->
              </div>              
               <div class="row no-gutters">
                <div class="col-5 col-sm-4" style="text-align: center;color:black;font-weight: 900;font-size: 13px;justify-content: flex-start;text-transform:capitalize;">
                  Fecha Última Emisión
                </div><!-- col-4 -->
                <div class="col-7 col-sm-8" style="color:black;font-weight: 900;font-size: 13px;justify-content: flex-start;text-transform:capitalize;">
                  {{last_date|date:'d-m-y'}}
                </div><!-- col-8 -->
              </div>               <div class="row no-gutters">
                <div class="col-5 col-sm-4" style="text-align: center;color:black;font-weight: 900;font-size: 13px;justify-content: flex-start;text-transform:capitalize;">
                  Tiempo de ciclo
                </div><!-- col-4 -->
                <div class="col-7 col-sm-8" style="color:black;font-weight: 900;font-size: 13px;justify-content: flex-start;text-transform:capitalize;">
                  {{delta_date}} días
                </div><!-- col-8 -->
              </div>                                           
            </div>
              <div class="card bd-0 shadow-base dataTables_wrapper no-footer " style="padding:20px;"id="mydatatable-container">
                <table id="mydatatable" class="table display responsive nowrap dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable1_info" style="width: 1110px;">
                  <thead>
                    <tr role="row"> 
                      <th class="tx-10-force tx-mont tx-medium hidden-xs-down"tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1" style="width: 143px;" aria-sort="ascending"style="vertical-align:center;text-align:center;text-align:center;display:flow-root;">Creador</th>
                      <th class="tx-10-force tx-mont tx-medium hidden-xs-down"tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1" style="width: 143px;" aria-sort="ascending"style="vertical-align:center;text-align:center;text-align:center;display:flow-root;">Revisión</th>
                      <th class="tx-10-force tx-mont tx-medium hidden-xs-down"tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1" style="width: 143px;" aria-sort="ascending"style="vertical-align:center;text-align:center;text-align:center;display:flow-root;">Paquete</th>
                      <th class="tx-10-force tx-mont tx-medium hidden-xs-down"tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1" style="width: 143px;" aria-sort="ascending"style="vertical-align:center;text-align:center;text-align:center;display:flow-root;">Estado</th>
                      <th class="tx-10-force tx-mont tx-medium hidden-xs-down"tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1" style="width: 143px;" aria-sort="ascending"style="vertical-align:center;text-align:center;text-align:center;display:flow-root;">Fecha<br>Creación</th>
                      <th class="tx-10-force tx-mont tx-medium hidden-xs-down"tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1" style="width: 143px;" aria-sort="ascending"style="vertical-align:center;text-align:center;text-align:center;display:flow-root;">Archivo</th>
                      <th class="tx-10-force tx-mont tx-medium hidden-xs-down"tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1" style="width: 143px;" aria-sort="ascending"style="vertical-align:center;text-align:center;text-align:center;display:flow-root;">Detalle</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for version in lista_final %}
                    <tr role="row" class="odd">
                      <td class="valign-middle hidden-xs-down"tabindex="0" class="sorting_1"style="vertical-align:center;text-align:center;">{{version.0.owner.first_name}} {{version.0.owner.last_name}}</td>            
                      <td class="valign-middle hidden-xs-down"style="vertical-align:center;text-align:center;"> {{version.0.get_revision_display}} </td>           
                      <td class="valign-middle hidden-xs-down"style="vertical-align:center;text-align:center;"> <a href="{% url 'paquete-detalle' version.1.pk %}" >{{version.1.codigo}} </a></td>
                      {% if not version.0.estado_contratista %}
                      <td class="valign-middle hidden-xs-down"style="vertical-align:center;text-align:center;">{{version.0.get_estado_cliente_display}}</td>
                      {% endif %}
                      {% if not version.0.estado_cliente %}
                      <td class="valign-middle hidden-xs-down"style="vertical-align:center;text-align:center;">{{version.0.get_estado_contratista_display}}</td>
                      {% endif %}
                      <td class="valign-middle hidden-xs-down"style="vertical-align:center;text-align:center;">{{version.0.fecha|date:'d-m-y'}}</td>
                      {% if version.0.archivo.url is not None %}
                      <td class="valign-middle hidden-xs-down"style="vertical-align:center;text-align:center;"><a href="{{version.0.archivo.url}}"><i class="icon ion-archive fa-1x"></i></a></td>
                      {% else %}
                      <td class="valign-middle hidden-xs-down"style="vertical-align:center;text-align:center;">Sin documento adjunto.</td>
                      {% endif %} 
                      <td class="valign-middle hidden-xs-down"style="vertical-align:center;text-align:center;">
                        <i class="icon ion-eye"></i></a>       
                      </td>
                      {% empty %}
                      <h4> El Documento {{documento}}, no tiene Versiones </h4>
                      
                      {% endfor %}   
                    </tr>
                    </tbody>
                  </table>
                
          {% if is_paginated %}
          <div class="ht-80 bd pd-x-20 d-flex align-items-center justify-content-between">
          <ul class="pagination pagination-basic mg-b-0"> 
          {% if page_obj.has_previous %}
          <li class="page-item">
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="ANTERIOR">
              <i class="fa fa-angle-left"></i>
            </a>
            ANTERIOR 
          </li>
          </ul>
          {% endif %}
          {% if page_obj.has_next %}
          <ul class="pagination pagination-basic mg-b-0">
          <li class="page-item">
            <a href="?page={{ page_obj.next_page_number }}" class="page-link">
              <i class="fa fa-angle-right"></i>  
            </a>
          </li>
          </ul>
          {% endif %}
          {% endif %}      
           </ul>
          </nav>
              </div>
          </div><!-- br-contentpanel -->
            
            </div><!-- card -->
          </div> 
          <div class="row no-gutters" style="float: left;margin-top: 10px;margin-right: 10px;margin-bottom: 10px;">
                  <a onclick="history.back();"><button  class="btn btn-warning tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-l-10" type="buttom"> volver </button></a>
          </div>
        </div><!-- card-header -->
        
</div>
 
<script>
$(document).ready(function() {
    $('#mydatatable').DataTable(
      {
          "dom": 'B<"float-right"f>t<"float-left"l><"clearfix">',
          "responsive": true,
          "language": {
              "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
          }
        }

    );
    
} );
</script>

{% endblock content %}
    