{% extends 'index-buscador.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="br-mainpanel" style="position: relative;">

  <div class="br-pageheader pd-y-15 pd-md-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item"> {{proyecto}}</a>
      <a class="breadcrumb-item" href="{% url 'Bandejaeys' %}">Panel Buscador</a>      
      <span class="breadcrumb-item active">Detalle Documento</span>
    </nav>
  </div><!-- br-pageheader -->
  <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <h4 class="tx-gray-800 mg-b-5">Historial de documento</h4>
  </div>
  <div class="br-pagebody mg-t-5 pd-x-30">
  <div class="col-lg-12">
    <div class="card shadow-base bd-0">
      <div class="form-layout form-layout-7 ">               
              <div class="row no-gutters">
              <div class="col-5 col-sm-4" style="text-align: center;color:black;font-weight: 900;font-size: 13px;justify-content: flex-start;text-transform:capitalize;">
                Código
              </div><!-- col-4 -->
              <div class="col-7 col-sm-8" style="color:black;font-weight: 900;font-size: 13px;justify-content: flex-start;text-transform:capitalize;">
                {{documento.Codigo_documento}}
              </div><!-- col-8 -->
              </div> 
              <div class="row no-gutters">
              <div class="col-5 col-sm-4" style="text-align: center;color:black;font-weight: 900;font-size: 13px;justify-content: flex-start;text-transform:capitalize;">
               Descripción
              </div><!-- col-4 -->
              <div class="col-7 col-sm-8" style="color:black;font-weight: 900;font-size: 13px;justify-content: flex-start;text-transform:capitalize;">
                {{documento.Descripcion}}
              </div><!-- col-8 -->
              </div> 
              <div class="row no-gutters">
                <div class="col-5 col-sm-4" style="text-align: center;color:black;font-weight: 900;font-size: 13px;justify-content: flex-start;text-transform:capitalize;">
                  Emisor
                </div><!-- col-4 -->
                <div class="col-7 col-sm-8" style="color:black;font-weight: 900;font-size: 13px;justify-content: flex-start;text-transform:capitalize;">
                {% for version in versiones %}
                {% if forloop.last %} {{version.owner.first_name}} {{version.owner.last_name}} {% endif %}
                {% endfor %}
                </div><!-- col-8 -->
              </div>
              <div class="row no-gutters">
                <div class="col-5 col-sm-4" style="text-align: center;color:black;font-weight: 900;font-size: 13px;justify-content: flex-start;text-transform:capitalize;text-transform:capitalize;">
                  Fecha Primera Emisión
                </div><!-- col-4 -->
                <div class="col-7 col-sm-8" style="color:black;font-weight: 900;font-size: 13px;justify-content: flex-start;text-transform:capitalize;">
                  {{first_date|date:'d-m-y'}}
                </div><!-- col-8 -->
              </div>              
               <div class="row no-gutters">
                <div class="col-5 col-sm-4" style="text-align: center;color:black;font-weight: 900;font-size: 13px;justify-content: flex-start;text-transform:capitalize;">
                  Fecha Última Emisión
                </div><!-- col-4 -->
                <div class="col-7 col-sm-8" style="color:black;font-weight: 900;font-size: 13px;justify-content: flex-start;text-transform:capitalize;">
                  {{last_date|date:'d-m-y'}}
                </div><!-- col-8 -->
              </div>               <div class="row no-gutters">
                <div class="col-5 col-sm-4" style="text-align: center;color:black;font-weight: 900;font-size: 13px;justify-content: flex-start;text-transform:capitalize;">
                  Tiempo de ciclo
                </div><!-- col-4 -->
                <div class="col-7 col-sm-8" style="color:black;font-weight: 900;font-size: 13px;justify-content: flex-start;text-transform:capitalize;">
                  {{delta_date}} días
                </div><!-- col-8 -->
              </div>                                           
      </div>
      <div class="card bd-0 shadow-base dataTables_wrapper no-footer " style="padding:20px;"id="mydatatable-container">
                <table id="mydatatable" class="records_list table table-striped table-bordered table-hover table-primary" role="grid" aria-describedby="datatable1_info" style="width: 100%">
                  <thead>
                    <tr role="row"> 
                      <th class="tx-10-force tx-mont tx-medium hidden-xs-down"tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1"  aria-sort="ascending"style="vertical-align:center;text-align:center;text-align:center;color:#fff;">Emisor</th>
                      <th class="tx-10-force tx-mont tx-medium hidden-xs-down"tabindex="1" aria-controls="datatable2" rowspan="1" colspan="1"  aria-sort="ascending"style="vertical-align:center;text-align:center;text-align:center;color:#fff;">Revisión</th>
                      <th class="tx-10-force tx-mont tx-medium hidden-xs-down"tabindex="2" aria-controls="datatable2" rowspan="1" colspan="1"  aria-sort="ascending"style="vertical-align:center;text-align:center;text-align:center;color:#fff;">Transmittal</th>
                      <th class="tx-10-force tx-mont tx-medium hidden-xs-down"tabindex="3" aria-controls="datatable2" rowspan="1" colspan="1"  aria-sort="ascending"style="vertical-align:center;text-align:center;text-align:center;color:#fff;">Estado</th>
                      <th class="tx-10-force tx-mont tx-medium hidden-xs-down"tabindex="4" aria-controls="datatable2" rowspan="1" colspan="1"  aria-sort="ascending"style="vertical-align:center;text-align:center;text-align:center;color:#fff;">Fecha</th>
                      <th class="tx-10-force tx-mont tx-medium hidden-xs-down"tabindex="4" aria-controls="datatable2" rowspan="1" colspan="1"  aria-sort="ascending"style="vertical-align:center;text-align:center;text-align:center;color:#fff;">Hora</th>
                      <th class="tx-10-force tx-mont tx-medium hidden-xs-down"tabindex="5" aria-controls="datatable2" rowspan="1" colspan="1"  aria-sort="ascending"style="vertical-align:center;text-align:center;text-align:center;color:#fff;">Archivo</th>
                                </tr>
                    <tr>
                     <th style="text-align: center;vertical-align: middle;padding: 5px; font-size: 10px;"colspan="6">
                      </th>
                       {% if request.user.perfil.rol_usuario == 3 or request.user.perfil.rol_usuario == 6 %}
                      <th style="text-align: center; vertical-align: middle;padding: 5px; font-size: 10px;">
                     
                      </th >
                      {% else %}
                      <th style="text-align: center; vertical-align: middle;padding: 5px; font-size: 10px;">
                      <form method="POST">{% csrf_token %}
                        <input type="submit" class="btn btn-warning" style="text-align: center;padding:2px;"value="Descargar ZIP">
                      </form>
                      </th >

                      {% endif %}

                  </thead>
                  <tbody>
                    {% for version in versiones %}
                    <tr role="row" class="odd">
                      <td class="valign-middle hidden-xs-down"tabindex="0" class="sorting_1"style="vertical-align:center;text-align:center;">{{version.owner.first_name}} {{version.owner.last_name}}</td>
                      <td class="valign-middle hidden-xs-down"style="vertical-align:center;text-align:center;"> {{version.get_revision_display}} </td>    
                      {% if version.paquete_set.all.0 %}
                      <td class="valign-middle hidden-xs-down"style="vertical-align:center;text-align:center;"> <a href="{% url 'paquete-detalle' version.paquete_set.all.0.pk %}" >{{version.paquete_set.all.0.codigo}} </a></td>
                      
                      {% else %}
                      <td class="valign-middle hidden-xs-down"style="vertical-align:center;text-align:center;"> <a></a></td>

                      {% endif %}       
                      {% if not version.estado_contratista %}
                      <td class="valign-middle hidden-xs-down"style="vertical-align:center;text-align:center;">{{version.get_estado_cliente_display}}</td>
                      {% endif %}
                      {% if not version.estado_cliente %}
                      <td class="valign-middle hidden-xs-down"style="vertical-align:center;text-align:center;">{{version.get_estado_contratista_display}}</td>
                      {% endif %}
                      <td class="valign-middle hidden-xs-down"style="vertical-align:center;text-align:center;">{{version.fecha|date:'d-m-y'}}</td>
                      <td class="valign-middle hidden-xs-down"style="vertical-align:center;text-align:center;">{{version.fecha|date:'H:i'}}</td>
                      
                     {% if request.user.perfil.rol_usuario == 3 or request.user.perfil.rol_usuario == 6 %}
                      {% if version.archivo.url is not None %}
                      <td class="valign-middle hidden-xs-down"style="vertical-align:center;text-align:center;"></td>
                      {% else %}
                      <td class="valign-middle hidden-xs-down"style="vertical-align:center;text-align:center;">Sin documento adjunto.</td>
                      {% endif %} 
                     {% else %}
                      {% if version.archivo.url is not None %}
                      <td class="valign-middle hidden-xs-down"style="vertical-align:center;text-align:center;"><a href="{{version.archivo.url}}"><i class="icon ion-archive fa-1x"></i></a></td>
                      {% else %}
                      <td class="valign-middle hidden-xs-down"style="vertical-align:center;text-align:center;">Sin documento adjunto.</td>
                      {% endif %} 
                     {% endif %}
                     
                      {% empty %}
                      <h4> El Documento {{documento}}, no tiene Versiones </h4>
                      {% endfor %}    
                    </tr>
                    </tbody>
                  </table>

          <div class="row no-gutters" style="float: left;margin-top: 10px;margin-right: 10px;margin-bottom: 10px;">
            <a onclick="history.back();"><button  class="btn btn-warning tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-l-10" type="buttom"> volver </button></a>
          </div> 
      </div>
     
    </div><!-- br-contentpanel -->   
   
  </div><!-- card -->
  
</div><!-- card-header -->        
</div>
 <script>
  $(document).ready(function() {
      $('#mydatatable').DataTable(
        {
         dom: 'B<"float-right"f>t<"float-left"l>p<"clearfix">',
          paging: true,
          responsive: true,
          paging: true,    
          lengthChange: true,
          searching: true,
          ordering: true,
          order:[[1,"asc"],[4,"desc"]],
          info: true,
          autoWidth: true,
          lengthMenu: [[5, 25, 50, -1], [5, 25, 50, "Mostrar Todos"]],          
          columnDefs: [
            {
              searchable: false,
              pageLength: 5,
            }
          ],
          language: {
            "processing": "Procesando...",
            "lengthMenu": "Mostrar _MENU_ registros",
            "zeroRecords": "No se encontraron resultados",
            "emptyTable": "Ningún dato disponible en esta tabla",
            "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "infoFiltered": "(filtrado de un total de _MAX_ registros)",
            "search": "&#128270;",
            "infoThousands": ",",
            "loadingRecords": "Cargando...",
            "paginate": {
                "first": "Primero",
                "last": "Último",
                "next": "Siguiente",
                "previous": "Anterior"
             },
            "aria": {
                "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sortDescending": ": Activar para ordenar la columna de manera descendente"
              },
            "buttons": {
                "copy": "Copiar",
                "colvis": "Visibilidad",
                "collection": "Colección",
                "colvisRestore": "Restaurar visibilidad",
                "copyKeys": "Presione ctrl o u2318 + C para copiar los datos de la tabla al portapapeles del sistema. <br \/> <br \/> Para cancelar, haga clic en este mensaje o presione escape.",
                "copySuccess": {
                    "1": "Copiada 1 fila al portapapeles",
                    "_": "Copiadas %d fila al portapapeles"
                },
                "copyTitle": "Copiar al portapapeles",
                "csv": "CSV",
                "excel": "Excel",
                "pageLength": {
                    "-1": "Mostrar todas las filas",
                    "_": "Mostrar %d filas"
                },
                "pdf": "PDF",
                "print": "Imprimir"
             },
            "autoFill": {
                "cancel": "Cancelar",
                "fill": "Rellene todas las celdas con <i>%d<\/i>",
                "fillHorizontal": "Rellenar celdas horizontalmente",
                "fillVertical": "Rellenar celdas verticalmentemente"
             },
            "decimal": ",",
            "searchBuilder": {
                "add": "Añadir condición",
                "button": {
                    "0": "Constructor de búsqueda",
                    "_": "Constructor de búsqueda (%d)"
                },
            "clearAll": "Borrar todo",
            "condition": "Condición",
            "conditions": {
                "date": {
                  "after": "Despues",
                  "before": "Antes",
                  "between": "Entre",
                  "empty": "Vacío",
                  "equals": "Igual a",
                  "notBetween": "No entre",
                  "notEmpty": "No Vacio",
                  "not": "Diferente de"
                },
                "number": {
                    "between": "Entre",
                    "empty": "Vacio",
                    "equals": "Igual a",
                    "gt": "Mayor a",
                    "gte": "Mayor o igual a",
                    "lt": "Menor que",
                    "lte": "Menor o igual que",
                    "notBetween": "No entre",
                    "notEmpty": "No vacío",
                    "not": "Diferente de"
                  },
                "string": {
                    "contains": "Contiene",
                    "empty": "Vacío",
                    "endsWith": "Termina en",
                    "equals": "Igual a",
                    "notEmpty": "No Vacio",
                    "startsWith": "Empieza con",
                    "not": "Diferente de"
                 },
                "array": {
                  "not": "Diferente de",
                  "equals": "Igual",
                  "empty": "Vacío",
                  "contains": "Contiene",
                  "notEmpty": "No Vacío",
                  "without": "Sin"
                  }
              },
            "data": "Data",
            "deleteTitle": "Eliminar regla de filtrado",
            "leftTitle": "Criterios anulados",
            "logicAnd": "Y",
            "logicOr": "O",
            "rightTitle": "Criterios de sangría",
            "title": {
                  "0": "Constructor de búsqueda",
                  "_": "Constructor de búsqueda (%d)"
                },
                  "value": "Valor"
             },
            "searchPanes": {
                "clearMessage": "Borrar todo",
                "collapse": {
                    "0": "Paneles de búsqueda",
                    "_": "Paneles de búsqueda (%d)"
                  },
                "count": "{total}",
                "countFiltered": "{shown} ({total})",
                "emptyPanes": "Sin paneles de búsqueda",
                "loadMessage": "Cargando paneles de búsqueda",
                "title": "Filtros Activos - %d"
                },
            "select": {
                "cells": {
                      "1": "1 celda seleccionada",
                      "_": "%d celdas seleccionadas"
                  },
                "columns": {
                    "1": "1 columna seleccionada",
                    "_": "%d columnas seleccionadas"
                  },
                "rows": {
                      "1": "1 fila seleccionada",
                      "_": "%d filas seleccionadas"
                  }
              },
            "thousands": ".",
            "datetime": {
                "previous": "Anterior",
                "next": "Proximo",
                "hours": "Horas",
                "minutes": "Minutos",
                "seconds": "Segundos",
                "unknown": "-",
                "amPm": [
                    "AM",
                    "PM"
                  ],
                "months": {
                    "0": "Enero",
                    "1": "Febrero",
                    "10": "Noviembre",
                    "11": "Diciembre",
                    "2": "Marzo",
                    "3": "Abril",
                    "4": "Mayo",
                    "5": "Junio",
                    "6": "Julio",
                    "7": "Agosto",
                    "8": "Septiembre",
                    "9": "Octubre"
                 },
                "weekdays": [
                    "Dom",
                    "Lun",
                    "Mar",
                    "Mie",
                    "Jue",
                    "Vie",
                    "Sab"
                  ]
               },
            "editor": {
                "close": "Cerrar",
                "create": {
                    "button": "Nuevo",
                    "title": "Crear Nuevo Registro",
                    "submit": "Crear"
                },
                "edit": {
                    "button": "Editar",
                    "title": "Editar Registro",
                    "submit": "Actualizar"
                },
                "remove": {
                    "button": "Eliminar",
                    "title": "Eliminar Registro",
                    "submit": "Eliminar",
                    "confirm": {
                        "_": "¿Está seguro que desea eliminar %d filas?",
                        "1": "¿Está seguro que desea eliminar 1 fila?"
                    }
                },
                "error": {
                    "system": "Ha ocurrido un error en el sistema (<a target=\"\\\" rel=\"\\ nofollow\" href=\"\\\">Más información&lt;\\\/a&gt;).<\/a>"
                },
                "multi": {
                    "title": "Múltiples Valores",
                    "info": "Los elementos seleccionados contienen diferentes valores para este registro. Para editar y establecer todos los elementos de este registro con el mismo valor, hacer click o tap aquí, de lo contrario conservarán sus valores individuales.",
                    "restore": "Deshacer Cambios",
                    "noMulti": "Este registro puede ser editado individualmente, pero no como parte de un grupo."
                }
              },
            "info": "Mostrando _START_ a _END_ de _TOTAL_ registros"
                   },         
          buttons:[ 
          'excel',
           ]
        });
  } );
</script>
{% endblock content %}
    