{% extends 'index-buscador.html' %}

{% load crispy_forms_tags %}

{% block content %}
<!--Titulo-->
<div class="br-mainpanel" style="position: relative;">
 <div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item" > {{proyecto}} </a>
      <span class="breadcrumb-item active">Buscador</span>
    </nav>
 </div>
  <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <h4 class="tx-gray-800 mg-b-5">Panel de búsqueda / {{proyecto}}</h4>
    <p class="mg-b-0">
     </p>
  </div>
<div class="br-pagebody mg-t-5 pd-x-30">

  <div class="br-section-wrapper">
  
  <form action="{% url 'buscador-index' %}" method="post">{% csrf_token %}
   
    <table id="datatable2" class="table table-striped table-bordered table-hover table-primary" role="grid" aria-describedby="datatable2_info" style="width: 100%;">
      <thead>
        <tr style="background:#fff;">   
          <td colspan="8" style="background:#fff;">
            <input type="submit" style="float: right;"class="btn btn-warning" value="⬇️ Descargar Últimas Versiones" onClick="return confirmation()">
          </td>
        </tr>
        <tr role="row">
        <script type="text/javascript">
          function toggle(source) {
            checkboxes = document.getElementsByClassName('onoffswitch-checkbox');
            for(var i=0, n=checkboxes.length;i<n;i++) {
              checkboxes[i].checked = source.checked;
            }
          }
        </script>
        <th tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="width: auto;text-align:center;color:#fff;"><input type="checkbox" name="dnld" value="{{documento.1}}" class="onoffswitch-checkbox" onClick ="toggle(this)"></th>
        <th tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="width: auto;text-align:center;color:#fff;"></th>
        <th tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="width: auto;text-align:center;color:#fff;">Especialidad</th>
        <th tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="width: auto;text-align:center;color:#fff;" >Descripción</th>
        <th tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="width: auto;text-align:center;color:#fff;" >Código</th>
        <th tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="width: auto;text-align:center;color:#fff;" >Tipo</th>
       <th tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="width: auto;text-align:center;color:#fff;" >Revisión Actual</th> 
       <th tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="width: auto;text-align:center;color:#fff;" > Descargar <br> Revisión Actual</th> 
        </tr>
      </thead>
      <tbody>
       {% for documento in documentos %}
          <tr role="row" class="odd">
            <td class="valign-middle hidden-xs-down"tabindex="0" class="sorting_1"style="vertical-align:center;text-align:center;"><input type="checkbox" name="dnld" value="{{documento.1}}" class="onoffswitch-checkbox"></td>
            <td class="valign-middle hidden-xs-down"tabindex="0" class="sorting_1"style="vertical-align:center;text-align:center;"><a href="{% url 'buscador-detalle' documento.0.pk %}" class="btn btn-teal center"><i class="fa fa-plus"></i></a></td>            
            <td class="valign-middle hidden-xs-down"tabindex="0" class="sorting_1"style="vertical-align:center;text-align:center;">{{documento.0.Especialidad}}</td>            
            <td class="valign-middle hidden-xs-down"tabindex="0" class="sorting_1"style="vertical-align:center;text-align:center;">{{documento.0.Descripcion}}</td>            
            <td class="valign-middle hidden-xs-down"tabindex="0" class="sorting_1"style="vertical-align:center;text-align:center;">{{documento.0.Codigo_documento}}</td>            
            <td class="valign-middle hidden-xs-down"tabindex="0" class="sorting_1"style="vertical-align:center;text-align:center;">{{documento.0.Tipo_Documento}}</td>            
           <td class="valign-middle hidden-xs-down"tabindex="0" class="sorting_1"style="vertical-align:center;text-align:center;">{{documento.2}}</td>         
           <td class="valign-middle hidden-xs-down"tabindex="0" class="sorting_1"style="vertical-align:center;text-align:center;">
            {% if documento.3 %}
              <a class="btn btn-teal"href="{{documento.3.url}}" download="iPhone User's Guide.PDF"><i class="icon ion-archive fa-lg"></i></a>
            {% else %}
              SIN ARCHIVO
            {% endif %} 
            </td>          
          </tr>
          {% endfor %} 
        </tbody>
    </table>  
  </form>

  </div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>


<script>
  $("#fileInput").change(function(){
    $("button").prop("disabled", this.files.length == 0);
});
</script>

 <script>
  $(document).ready(function() {
      $('#datatable2').DataTable(
        {
         dom: 'B<"float-right"f>t<"float-left"l>p<"clearfix">',
          paging: true,
          responsive: true,
          paging: true,    
          lengthChange: true,
          searching: true,
          ordering: true,
          order:[[1,"asc"],[4,"desc"]],
          info: true,
          autoWidth: true,
          lengthMenu: [[5, 25, 50, -1], [5, 25, 50, "Mostrar Todos"]],          
          columnDefs: [
            {
              searchable: false,
              pageLength: 5,
            }
          ],
          language: {
            "processing": "Procesando...",
            "lengthMenu": "Mostrar _MENU_ registros",
            "zeroRecords": "No se encontraron resultados",
            "emptyTable": "Ningún dato disponible en esta tabla",
            "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "infoFiltered": "(filtrado de un total de _MAX_ registros)",
            "search": "&#128270;",
            "infoThousands": ",",
            "loadingRecords": "Cargando...",
            "paginate": {
                "first": "Primero",
                "last": "Último",
                "next": "Siguiente",
                "previous": "Anterior"
             },
            "aria": {
                "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sortDescending": ": Activar para ordenar la columna de manera descendente"
              },
            "buttons": {
                "copy": "Copiar",
                "colvis": "Visibilidad",
                "collection": "Colección",
                "colvisRestore": "Restaurar visibilidad",
                "copyKeys": "Presione ctrl o u2318 + C para copiar los datos de la tabla al portapapeles del sistema. <br \/> <br \/> Para cancelar, haga clic en este mensaje o presione escape.",
                "copySuccess": {
                    "1": "Copiada 1 fila al portapapeles",
                    "_": "Copiadas %d fila al portapapeles"
                },
                "copyTitle": "Copiar al portapapeles",
                "csv": "CSV",
                "excel": "Excel",
                "pageLength": {
                    "-1": "Mostrar todas las filas",
                    "_": "Mostrar %d filas"
                },
                "pdf": "PDF",
                "print": "Imprimir"
             },
            "autoFill": {
                "cancel": "Cancelar",
                "fill": "Rellene todas las celdas con <i>%d<\/i>",
                "fillHorizontal": "Rellenar celdas horizontalmente",
                "fillVertical": "Rellenar celdas verticalmentemente"
             },
            "decimal": ",",
            "searchBuilder": {
                "add": "Añadir condición",
                "button": {
                    "0": "Constructor de búsqueda",
                    "_": "Constructor de búsqueda (%d)"
                },
            "clearAll": "Borrar todo",
            "condition": "Condición",
            "conditions": {
                "date": {
                  "after": "Despues",
                  "before": "Antes",
                  "between": "Entre",
                  "empty": "Vacío",
                  "equals": "Igual a",
                  "notBetween": "No entre",
                  "notEmpty": "No Vacio",
                  "not": "Diferente de"
                },
                "number": {
                    "between": "Entre",
                    "empty": "Vacio",
                    "equals": "Igual a",
                    "gt": "Mayor a",
                    "gte": "Mayor o igual a",
                    "lt": "Menor que",
                    "lte": "Menor o igual que",
                    "notBetween": "No entre",
                    "notEmpty": "No vacío",
                    "not": "Diferente de"
                  },
                "string": {
                    "contains": "Contiene",
                    "empty": "Vacío",
                    "endsWith": "Termina en",
                    "equals": "Igual a",
                    "notEmpty": "No Vacio",
                    "startsWith": "Empieza con",
                    "not": "Diferente de"
                 },
                "array": {
                  "not": "Diferente de",
                  "equals": "Igual",
                  "empty": "Vacío",
                  "contains": "Contiene",
                  "notEmpty": "No Vacío",
                  "without": "Sin"
                  }
              },
            "data": "Data",
            "deleteTitle": "Eliminar regla de filtrado",
            "leftTitle": "Criterios anulados",
            "logicAnd": "Y",
            "logicOr": "O",
            "rightTitle": "Criterios de sangría",
            "title": {
                  "0": "Constructor de búsqueda",
                  "_": "Constructor de búsqueda (%d)"
                },
                  "value": "Valor"
             },
            "searchPanes": {
                "clearMessage": "Borrar todo",
                "collapse": {
                    "0": "Paneles de búsqueda",
                    "_": "Paneles de búsqueda (%d)"
                  },
                "count": "{total}",
                "countFiltered": "{shown} ({total})",
                "emptyPanes": "Sin paneles de búsqueda",
                "loadMessage": "Cargando paneles de búsqueda",
                "title": "Filtros Activos - %d"
                },
            "select": {
                "cells": {
                      "1": "1 celda seleccionada",
                      "_": "%d celdas seleccionadas"
                  },
                "columns": {
                    "1": "1 columna seleccionada",
                    "_": "%d columnas seleccionadas"
                  },
                "rows": {
                      "1": "1 fila seleccionada",
                      "_": "%d filas seleccionadas"
                  }
              },
            "thousands": ".",
            "datetime": {
                "previous": "Anterior",
                "next": "Proximo",
                "hours": "Horas",
                "minutes": "Minutos",
                "seconds": "Segundos",
                "unknown": "-",
                "amPm": [
                    "AM",
                    "PM"
                  ],
                "months": {
                    "0": "Enero",
                    "1": "Febrero",
                    "10": "Noviembre",
                    "11": "Diciembre",
                    "2": "Marzo",
                    "3": "Abril",
                    "4": "Mayo",
                    "5": "Junio",
                    "6": "Julio",
                    "7": "Agosto",
                    "8": "Septiembre",
                    "9": "Octubre"
                 },
                "weekdays": [
                    "Dom",
                    "Lun",
                    "Mar",
                    "Mie",
                    "Jue",
                    "Vie",
                    "Sab"
                  ]
               },
            "editor": {
                "close": "Cerrar",
                "create": {
                    "button": "Nuevo",
                    "title": "Crear Nuevo Registro",
                    "submit": "Crear"
                },
                "edit": {
                    "button": "Editar",
                    "title": "Editar Registro",
                    "submit": "Actualizar"
                },
                "remove": {
                    "button": "Eliminar",
                    "title": "Eliminar Registro",
                    "submit": "Eliminar",
                    "confirm": {
                        "_": "¿Está seguro que desea eliminar %d filas?",
                        "1": "¿Está seguro que desea eliminar 1 fila?"
                    }
                },
                "error": {
                    "system": "Ha ocurrido un error en el sistema (<a target=\"\\\" rel=\"\\ nofollow\" href=\"\\\">Más información&lt;\\\/a&gt;).<\/a>"
                },
                "multi": {
                    "title": "Múltiples Valores",
                    "info": "Los elementos seleccionados contienen diferentes valores para este registro. Para editar y establecer todos los elementos de este registro con el mismo valor, hacer click o tap aquí, de lo contrario conservarán sus valores individuales.",
                    "restore": "Deshacer Cambios",
                    "noMulti": "Este registro puede ser editado individualmente, pero no como parte de un grupo."
                }
              },
            "info": "Mostrando _START_ a _END_ de _TOTAL_ registros"
                   },         
          buttons:[ 
          'excel','pdf', 
           ],
           "order": [[ 7, "asc" ]]
        });
  } );
</script>
{% comment %} <script>
  function check_checkbox() {
    checkboxes = document.getElementsByClassName('onoffswitch-checkbox');
      if(checkboxes[0].checked == false){
          return alert('Tiene que seleccionar al menos un documento para poder descargarlo.')
        }
    } 
</script> {% endcomment %}
  <script type="text/javascript">
    function confirmation() {
      checkboxes = document.getElementsByClassName('onoffswitch-checkbox');
      if(checkboxes[0].checked == false){
        if(confirm("Tiene que seleccionar al menos un documento para poder descargarlo. ¿desea continuar?")){
          return true;
        }
        else{
          return false;
      }
    }
      else(check_checkbox[0].checked== true){
        return true;
      }
  }
  </script>
{% endblock content %}
    
