{% extends 'index-blank.html' %}


{% load crispy_forms_tags %}

{% block mailing %}
<div class="br-subleft">
      <div class="pd-10">
        <a  href="{% url 'paquete-preview' %}" class="btn btn-warning bd-0 btn-compose"><i class="icon ion-ios-compose-outline"></i> Nuevo Paquete</a>
      </div>
    
      <!-- <nav class="nav br-nav-mailbox flex-column">
        <h6 class="tx-uppercase tx-10 mg-t-40 pd-x-10 bd-b pd-b-10 tx-roboto tx-white-7">filtros</h6>
        <label class="tx-uppercase tx-10 tx-mont tx-spacing-1 mg-b-0 pd-l-10 tx-white-7">{{filter.form.id|as_crispy_field}}</label>
        <label class="tx-uppercase tx-10 tx-mont tx-spacing-1 mg-b-0 pd-l-10 tx-white-7">{{filter.form.owner|as_crispy_field}}</label>
        <label class="tx-uppercase tx-10 tx-mont tx-spacing-1 mg-b-0 pd-l-10 tx-white-7">{{filter.form.fecha_creacion|as_crispy_field}}</label>
        <input type="submit" class="btn btn-primary btn-block tx-uppercase tx-10 tx-mont tx-spacing-2 tx-medium active" style="background: #00b297; border-color: #00b297;" value="Filtrar">
      
      </nav> -->

      <h6 class="tx-uppercase tx-10 mg-t-40 pd-x-10 bd-b pd-b-10 tx-roboto tx-white-7">SECCIONES</h6>

      <nav class="nav br-nav-mailbox flex-column">
        <a href="{% url 'Bandejaeys' %}" class="nav-link active"><i class="icon fa fa-reply"></i> Recibidos</a>
        <a href="{% url 'Borradores' %}" class="nav-link"><i class="icon icon ion-edit"></i> Borradores</a>
        <a href="{% url 'bandeja-enviados' %}" class="nav-link"><i class="icon fa fa-share"></i> Enviados</a>
      </nav>
</div>

{% endblock mailing %}

{% block content %}   

<div class="br-contentpanel">
  
  <div class="br-pageheader pd-y-15 pd-md-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item"> {{proyecto}}</a>
      <a class="breadcrumb-item" href="{% url 'Bandejaeys' %}">Bandeja Entrada y Salida</a>      
      <span class="breadcrumb-item active">Bandeja Entradas </span>
    </nav>
  </div><!-- br-pageheader -->
<!--Filtros-->

<form action="" method="GET">
  <div class="ht-65 bd bg-gray-100 pd-x-40 d-flex align-items-center justify-content-between pd-t-50 pd-b-40 ">
    <h4 class="mg-b-0 tx-uppercase tx-bold tx-spacing--2 tx-inverse tx-poppins mg-r-20">Filtros</h4>
    <ul class="nav nav-gray-600 active-info tx-uppercase tx-12 tx-medium tx-spacing-2 flex-column flex-sm-row " role="tablist">
      <li class="nav-item mg-10"></li>
      <li class="nav-item mg-10">{{filter.form.owner|as_crispy_field}}</li>
      <li class="nav-item mg-10">{{filter.form.fecha_creacion|as_crispy_field}}</li>
      <li class="nav-item mg-t-35">
        <input type="submit" class="btn btn-primary btn-block tx-uppercase tx-10 tx-mont tx-spacing-2 tx-medium active" style="background: #00b297; border-color: #00b297;" value="Filtrar">
      </li>
    </ul>
  </div><!-- ht-65 -->
</form>
<!--Fin Filtros-->
  <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <h4 class="tx-gray-800 mg-b-5">Bandeja Entrada</h4>
  </div>

  <div class="br-pagebody pd-x-20 pd-sm-x-30">
    <div class="card bd-0 shadow-base">
      <table class="table mg-b-0 table-contact">
        <thead>
            <th class="tx-10-force tx-mont tx-medium hidden-xs-down">Transmital</th>
            <!-- <th class="tx-10-force tx-mont tx-medium hidden-xs-down">Descripción</th> -->
            <th class="tx-10-force tx-mont tx-medium hidden-xs-down">Asunto</th>
            <th class="tx-10-force tx-mont tx-medium hidden-xs-down">Autor</th>
            <th class="tx-10-force tx-mont tx-medium hidden-xs-down">Fecha</th>
            <th class="tx-10-force tx-mont tx-medium hidden-xs-down">Detalle</th>
          </tr>
        </thead>
        <tbody>
        {% for paquete in paquetes %}
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <div class="mg-l-15">
                  <div class="tx-inverse"> <a href="{% url 'paquete-detalle' paquete.pk %}">{{paquete.codigo}}</a> </div>
                  
                </div>
              </div>
            </td>            
            <!-- <td class="valign-middle hidden-xs-down"> {{ paquete.descripcion }} </td>            -->
            <td class="valign-middle hidden-xs-down"> {{ paquete.asunto }} </td>           
            <td class="valign-middle hidden-xs-down"> {{ paquete.owner }}</td>
            <td><span class="tx-15"><strong>{{ paquete.fecha_creacion|date:'d-m-yy'}} - {{paquete.fecha_creacion|date:'H:i'}}</strong> </span></td>
            <td class="valign-middle hidden-xs-down">
              <a class="btn btn-teal"href="{% url 'paquete-detalle' paquete.pk %}" class="nav-link">Detalle</a>       
            </td>
          </tr>
          
          {% empty %}

          <div class="modal fade in" id="myModal" role="dialog" style="display: block; padding-right: 16px;">
            <div class="modal-dialog" role="document">
              <div class="modal-content tx-size-sm">
                <div class="modal-body tx-center pd-y-20 pd-x-20">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <i class="icon icon ion-ios-close-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>
                  <h4 class="tx-danger  tx-semibold mg-b-20">Error: No hay Información Ingresada!</h4>
                  <button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20" data-dismiss="modal" aria-label="Close">
                    Continue</button>
                  </div><!-- modal-body -->
                </div><!-- modal-content -->
              </div><!-- modal-dialog -->
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
        <script type="text/javascript">
         $(function(){
          $("#myModal").modal();
         });
        </script>

          {% endfor %}
      </table>    
</div>
{% if is_paginated %}
<div class="ht-80 bd pd-x-20 d-flex align-items-center justify-content-between">
<ul class="pagination pagination-basic mg-b-0"> 
{% if page_obj.has_previous %}
<li class="page-item">
  <a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="ANTERIOR">
    <i class="fa fa-angle-left"></i>
  </a>
  ANTERIOR 
</li>
</ul>
{% endif %}
{% if page_obj.has_next %}
<ul class="pagination pagination-basic mg-b-0">
<li class="page-item">
  <a href="?page={{ page_obj.next_page_number }}" class="page-link">
    <i class="fa fa-angle-right"></i>  
  </a>
</li>
</ul>
{% endif %}
{% endif %}      
 </ul>
</nav>
    </div>
  </div><!-- br-pagebody -->  
</div><!-- br-contentpanel -->
 
<!--Script-->
<script>
  $(function(){
    'use strict';

    // show only the icons and hide left menu label by default
    $('.menu-item-label,.menu-item-arrow').addClass('op-lg-0-force d-lg-none');

    $(document).on('mouseover', function(e){
      e.stopPropagation();
      if($('body').hasClass('collapsed-menu')) {
        var targ = $(e.target).closest('.br-sideleft').length;
        if(targ) {
          $('body').addClass('expand-menu');

          // show current shown sub menu that was hidden from collapsed
          $('.show-sub + .br-menu-sub').slideDown();

          var menuText = $('.menu-item-label,.menu-item-arrow');
          menuText.removeClass('d-lg-none');
          menuText.removeClass('op-lg-0-force');

        } else {
          $('body').removeClass('expand-menu');

          // hide current shown menu
          $('.show-sub + .br-menu-sub').slideUp();

          var menuText = $('.menu-item-label,.menu-item-arrow');
          menuText.addClass('op-lg-0-force');
          menuText.addClass('d-lg-none');
        }
      }
    });

    // Showing sub left menu
    $('#showSubLeft').on('click', function(){
      if($('body').hasClass('show-subleft')) {
        $('body').removeClass('show-subleft');
      } else {
        $('body').addClass('show-subleft');
      }
    });

  });
</script>
{% endblock content %}