{% extends 'index-blank.html' %}



{% block mailing %}
{% load crispy_forms_tags %}

<div class="br-subleft bg-info">
  <h6 class="tx-uppercase tx-10 tx-mont tx-spacing-1 mg-t-10 pd-x-10 tx-white-7">Filtros de Busqueda</h6>
  <form method="GET" class="form-group col-lg-17 mg-t-33">
  <div class="mg-t-20 pd-x-10 mg-b-40">
    <div class="form-group" >
          {{filter.form.id|as_crispy_field}}
    </div><!-- form-group -->
          {{filter.form.owner|as_crispy_field}}
    <div class="form-group">
          {{filter.form.fecha_creacion|as_crispy_field}}
    </div><!-- form-group -->
       <input type="submit" class="btn btn-primary btn-block tx-uppercase tx-10 tx-mont tx-spacing-2 tx-medium" value="Filtrar">
  </div>
  </form>
<h6 class="tx-uppercase tx-10 tx-mont tx-spacing-1 mg-t-10 pd-x-10 tx-white-7">SECCIONES</h6>

  <nav class="nav br-nav-mailbox flex-column">
       <a href="{% url 'Bandejaeys' %}" class="nav-link active"><i class="icon ion-person-stalker tx-16-force"></i> <strong>Inbox</strong></a>
    <a href="{% url 'Borradores' %}" class="nav-link"><i class="icon ion-person-stalker tx-16-force"></i> <strong>Borradores</strong></a>
    <a href="{% url 'bandeja-enviados' %}" class="nav-link"><i class="icon ion-person-stalker tx-16-force"></i> <strong>Enviados</strong></a>
  </nav>
</div><!-- br-subleft -->

{% endblock mailing %}

{% block content %}   

<div class="br-subleft bg-info">
  <h6 class="tx-uppercase tx-10 tx-mont tx-spacing-1 mg-t-10 pd-x-10 tx-white-7">Filter Users</h6>

  <div class="mg-t-20 pd-x-10 mg-b-40">
    <div class="form-group">
     <input type="text" class="form-control form-control-inverse tx-13" placeholder="Nombre de paquete">
    </div><!-- form-group -->
    <div class="form-group">
      <input type="text" class="form-control form-control-inverse tx-13" placeholder="Enter location of user">
    </div><!-- form-group -->
       <button class="btn btn-primary btn-block tx-uppercase tx-10 tx-mont tx-spacing-2 tx-medium">Filtros</button>
  </div>
<h6 class="tx-uppercase tx-10 tx-mont tx-spacing-1 mg-t-10 pd-x-10 tx-white-7">SECCIONES</h6>

  <nav class="nav br-nav-mailbox flex-column">
       <a href="{% url 'Bandejaeys' %}" class="nav-link active"><i class="icon ion-person-stalker tx-16-force"></i> <strong>Inbox</strong></a>
    <a href="{% url 'Borradores' %}" class="nav-link"><i class="icon ion-person-stalker tx-16-force"></i> <strong>Borradores</strong></a>
    <a href="{% url 'bandeja-enviados' %}" class="nav-link"><i class="icon ion-person-stalker tx-16-force"></i> <strong>Enviados</strong></a>
    <a href="" class="nav-link"><i class="icon ion-person-stalker tx-16-force"></i> <strong>Todos</strong></a>
  </nav>
</div><!-- br-subleft -->

<div class="br-contentpanel">
  <div class="br-pageheader pd-y-15 pd-md-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item"> {{proyecto}}</a>
      <a class="breadcrumb-item" href="{% url 'Bandejaeys' %}">Bandeja Entrada y Salida</a>      
      <span class="breadcrumb-item active">Crear Documento</span>
    </nav>
  </div><!-- br-pageheader -->

  <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <h4 class="tx-gray-800 mg-b-5">Bandeja Entrada.</h4>
    <p class="mg-b-0">This is the contact manager where you can manage users/contacts.</p>
  </div>

  <div class="d-flex align-items-center justify-content-start pd-x-20 pd-sm-x-30 pd-t-25 mg-b-20 mg-sm-b-30">

    <button id="showSubLeft" class="btn btn-secondary mg-r-10 hidden-lg-up"><i class="fa fa-navicon"></i></button>

    <!-- START: DISPLAYED FOR MOBILE ONLY -->
    <div class="dropdown hidden-sm-up">
      <a href="#" class="btn btn-outline-secondary" data-toggle="dropdown"><i class="icon ion-more"></i></a>
      <div class="dropdown-menu pd-10">
        <nav class="nav nav-style-1 flex-column">
          <a href="" class="nav-link">Share</a>
          <a href="" class="nav-link">Download</a>
          <div class="dropdown-divider"></div>
          <a href="" class="nav-link">Edit</a>
          <a href="" class="nav-link">Delete</a>
        </nav>
      </div><!-- dropdown-menu -->
    </div><!-- dropdown -->
    <!-- END: DISPLAYED FOR MOBILE ONLY -->

    

    <div class="mg-l-auto hidden-xs-down">
      <a href="{% url 'paquete-crear' %}" class="btn btn-info">Nuevo Paquete</a>
    <!--<a href="#" class="btn btn-outline-info mg-l-5">Add to Group</a>-->
    </div>

  </div><!-- d-flex -->

  <div class="br-pagebody pd-x-20 pd-sm-x-30">
    <div class="card bd-0 shadow-base">
      <table class="table mg-b-0 table-contact">
        <thead>
          <tr>
            <th class="wd-5p">
              <label class="ckbox mg-b-0">
                <input type="checkbox"><span></span>
              </label>
            </th>
              <th class="tx-10-force tx-mont tx-medium">Package Number</th>
            <th class="tx-10-force tx-mont tx-medium hidden-xs-down">Name</th>
            <th class="tx-10-force tx-mont tx-medium hidden-xs-down">Enviado a</th>
            <th class="tx-10-force tx-mont tx-medium hidden-xs-down">Descripción</th>
            <th class="tx-10-force tx-mont tx-medium hidden-xs-down">Revisado por</th>
            <th class="tx-10-force tx-mont tx-medium hidden-xs-down">Esado</th>            
            <th class="tx-10-force tx-mont tx-medium hidden-xs-down">Autor</th>
            <th class="wd-5p hidden-xs-down"></th>
          </tr>
        </thead>
        <tbody>
        {% for paquete in paquetes %}
          <tr>
            <td class="valign-middle">
              <label class="ckbox mg-b-0">
                <input type="checkbox"><span></span>
              </label>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="mg-l-15">
                  <div class="tx-inverse"> {{paquete.id}} </div>
                  <span class="tx-9">Creado el {{ paquete.fecha_creacion|date }} </span>
                </div>
              </div>
            </td>
            <td class="valign-middle hidden-xs-down"> {{ paquete.nombre }} </td>
            <td class="valign-middle hidden-xs-down"> {{ paquete.owner }} </td>
            <td class="valign-middle hidden-xs-down"> {{ paquete.asunto }} </td>
            <td></td>
            <td></td>
            <td class="valign-middle hidden-xs-down"> {{ paquete.owner }}</td>
            <td class="dropdown hidden-xs-down">
              <a href="#" data-toggle="dropdown" class="btn pd-y-3 tx-gray-500 hover-info"><i class="icon ion-more"></i></a>
              <div class="dropdown-menu dropdown-menu-right pd-10">
                  <a href="{% url 'paquete-detalle' paquete.id %}" class="nav-link">Detalle</a>
                  <a href="{% url 'paquete-editar' paquete.id %}" class="nav-link">Editar</a>
                  <a href="{% url 'paquete-eliminar' paquete.id %}" class="nav-link">Eliminar</a>
              </div><!-- dropdown-menu -->
            </td>
          </tr>
          
          {% empty %}

          <div class="modal fade in" id="myModal" role="dialog" style="display: block; padding-right: 16px;">
            <div class="modal-dialog" role="document">
              <div class="modal-content tx-size-sm">
                <div class="modal-body tx-center pd-y-20 pd-x-20">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <i class="icon icon ion-ios-close-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>
                  <h4 class="tx-danger  tx-semibold mg-b-20">Error: No hay Información Ingresada!</h4>
                  <button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20" data-dismiss="modal" aria-label="Close">
                    Continue</button>
                  </div><!-- modal-body -->
                </div><!-- modal-content -->
              </div><!-- modal-dialog -->
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
        <script type="text/javascript">
         $(function(){
          $("#myModal").modal();
         });
        </script>

          {% endfor %}
      </table>    
</div>
{% if is_paginated %}
<div class="ht-80 bd pd-x-20 d-flex align-items-center justify-content-between">
<ul class="pagination pagination-basic mg-b-0"> 
{% if page_obj.has_previous %}
<li class="page-item">
  <a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="ANTERIOR">
    <i class="fa fa-angle-left"></i>
  </a>
  ANTERIOR 
</li>
</ul>
{% endif %}
{% if page_obj.has_next %}
<ul class="pagination pagination-basic mg-b-0">
<li class="page-item">
  <a href="?page={{ page_obj.next_page_number }}" class="page-link">
    <i class="fa fa-angle-right"></i>  
  </a>
</li>
</ul>
{% endif %}
{% endif %}      
 </ul>
</nav>
    </div>
  </div><!-- br-pagebody -->  
</div><!-- br-contentpanel -->
 
<!--Script-->
<script>
  $(function(){
    'use strict';

    // show only the icons and hide left menu label by default
    $('.menu-item-label,.menu-item-arrow').addClass('op-lg-0-force d-lg-none');

    $(document).on('mouseover', function(e){
      e.stopPropagation();
      if($('body').hasClass('collapsed-menu')) {
        var targ = $(e.target).closest('.br-sideleft').length;
        if(targ) {
          $('body').addClass('expand-menu');

          // show current shown sub menu that was hidden from collapsed
          $('.show-sub + .br-menu-sub').slideDown();

          var menuText = $('.menu-item-label,.menu-item-arrow');
          menuText.removeClass('d-lg-none');
          menuText.removeClass('op-lg-0-force');

        } else {
          $('body').removeClass('expand-menu');

          // hide current shown menu
          $('.show-sub + .br-menu-sub').slideUp();

          var menuText = $('.menu-item-label,.menu-item-arrow');
          menuText.addClass('op-lg-0-force');
          menuText.addClass('d-lg-none');
        }
      }
    });

    // Showing sub left menu
    $('#showSubLeft').on('click', function(){
      if($('body').hasClass('show-subleft')) {
        $('body').removeClass('show-subleft');
      } else {
        $('body').addClass('show-subleft');
      }
    });

  });
</script>
{% endblock content %}