{% extends 'index-blank.html' %}

{% load crispy_forms_tags %}


{% block mailing %}

<div class="br-subleft">

  <h6 class="tx-uppercase tx-10 tx-mont tx-spacing-1 mg-t-10 pd-x-10 tx-white-7">Filtros de Busqueda</h6>
    <form method="GET" class="form-group col-lg-17">
      <div class="mg-t-20 pd-x-10 mg-b-40">
        <div class="form-group" >
            <label class="tx-uppercase tx-10 tx-mont tx-spacing-1  pd-l-10 tx-white-7">  {{filter.form.documento|as_crispy_field}}</label>
        </div><!-- form-group -->
            <label class="tx-uppercase tx-10 tx-mont tx-spacing-1  pd-l-10 tx-white-7">  {{filter.form.fecha_creacion|as_crispy_field}}</label>
        <div class="form-group">
            <label class="tx-uppercase tx-10 tx-mont tx-spacing-1  pd-l-10 tx-white-7">  {{filter.form.nombre|as_crispy_field}}</label>
        </div><!-- form-group -->
            <input type="submit" class="btn btn-primary btn-block tx-uppercase tx-10 tx-mont tx-spacing-2 tx-medium active" style="background: #00b297; border-color: #00b297;" value="Filtrar">
      </div>
    </form>
    <div class=" hidden-xs-down mg-l-10">
      <a href="{% url 'paquete-crear' %}" class="btn btn-warning">Nuevo Paquete</a>
    </div>
  
<h6 class="tx-uppercase tx-10 tx-mont tx-spacing-1 mg-t-10 pd-x-10 tx-white-7">SECCIONES</h6>

  <nav class="nav br-nav-mailbox flex-column">
       <a href="{% url 'Bandejaeys' %}" class="nav-link active"><i class="icon ion-person-stalker tx-16-force"></i> <strong>Inbox</strong></a>
    <a href="{% url 'Borradores' %}" class="nav-link"><i class="icon ion-person-stalker tx-16-force"></i> <strong>Borradores</strong></a>
    <a href="{% url 'bandeja-enviados' %}" class="nav-link"><i class="icon ion-person-stalker tx-16-force"></i> <strong>Enviados</strong></a>
  </nav>
</div><!-- br-subleft -->

{% endblock mailing %}


{% block content %}
  <div class="br-pageheader pd-y-15 pd-md-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item"> {{proyecto}}</a>
      <a class="breadcrumb-item active" href="{% url 'Borradores' %}">Borrador</a>     
    </nav>
  </div><!-- br-pageheader -->

  <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <h4 class="tx-gray-800 mg-b-5">Bandeja de borrador.</h4>
  </div>

<div class="br-pagebody">
    <div class="card bd-0 shadow-base">
      <table class="table mg-b-0 table-contact">
        <thead>
          <tr>
            <th class="wd-5p">
              <label class="ckbox mg-b-0">
                <input type="checkbox"><span></span>
              </label>
            </th>
              <th class="tx-10-force tx-mont tx-medium">Package Number</th>
            <th class="tx-10-force tx-mont tx-medium hidden-xs-down">Name</th>
            <th class="tx-10-force tx-mont tx-medium hidden-xs-down">Owner</th>
            <th class="tx-10-force tx-mont tx-medium hidden-xs-down">issued for</th>
            <th class="tx-10-force tx-mont tx-medium hidden-xs-down">respond by</th>
            <th class="tx-10-force tx-mont tx-medium hidden-xs-down">status</th>            
            <th class="tx-10-force tx-mont tx-medium hidden-xs-down">Owner</th>
            <th class="wd-5p hidden-xs-down"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="valign-middle">
              <label class="ckbox mg-b-0">
                <input type="checkbox"><span></span>
              </label>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <img src="http://via.placeholder.com/280x280" class="wd-40 rounded-circle" alt="">
                <div class="mg-l-15">
                  <div class="tx-inverse">Katherine Lumaad</div>
                  <span class="tx-12">klumaad@themepixels.me</span>
                </div>
              </div>
            </td>
            <td class="valign-middle hidden-xs-down">+1 234 6789</td>
            <td class="valign-middle hidden-xs-down">$23,000</td>
               <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="dropdown hidden-xs-down">
              <a href="#" data-toggle="dropdown" class="btn pd-y-3 tx-gray-500 hover-info"><i class="icon ion-more"></i></a>
              <div class="dropdown-menu dropdown-menu-right pd-10">
                <nav class="nav nav-style-1 flex-column">
                  <a href="" class="nav-link">Info</a>
                  <a href="" class="nav-link">Email</a>
                  <a href="" class="nav-link">Edit</a>
                  <a href="" class="nav-link">Delete</a>
                </nav>
              </div><!-- dropdown-menu -->
            </td>
          </tr>
      </table>
    </div>
</div><!-- br-pagebody -->  
{% endblock content %}

