{% extends "index-blank.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="br-contentpanel">
<div class="br-subleft">
      <div class="pd-10">
        <a  href="{% url 'paquete-preview' borrador_pk=None %}" class="btn btn-warning bd-0 btn-compose"><i class="icon ion-ios-compose-outline"></i> Nuevo Paquete</a>
      </div>
    
      <nav class="nav br-nav-mailbox flex-column">
        <h6 class="tx-uppercase tx-10 mg-t-40 pd-x-10 bd-b pd-b-10 tx-roboto tx-white-7">filtros</h6>
        <label class="tx-uppercase tx-10 tx-mont tx-spacing-1 mg-b-0 pd-l-10 tx-white-7">{{filter.form|crispy}}</label>
        <input type="submit" class="btn btn-primary btn-block tx-uppercase tx-10 tx-mont tx-spacing-2 tx-medium active" style="background: #00b297; border-color: #00b297;" value="Filtrar">
      
      </nav>

      <h6 class="tx-uppercase tx-10 mg-t-40 pd-x-10 bd-b pd-b-10 tx-roboto tx-white-7">SECCIONES</h6>

      <nav class="nav br-nav-mailbox flex-column">
        <a href="{% url 'Bandejaeys' %}" class="nav-link active"><i class="icon fa fa-reply"></i> Recibidos</a>
        <a href="{% url 'Borradores' %}" class="nav-link"><i class="icon icon ion-edit"></i> Borradores</a>
        <a href="{% url 'bandeja-enviados' %}" class="nav-link"><i class="icon fa fa-share"></i> Enviados</a>
      </nav>
</div>
  <div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item"> {{proyecto}}</a>
      <a class="breadcrumb-item" href="{% url 'Bandejaeys' %}">Bandeja de Entrada</a>      
      <span class="breadcrumb-item active">Editar borrador</span>
    </nav>
  </div>
  <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <h4 class="tx-gray-800 mg-b-5">Editar borrador</h4>
  </div>
  <!--PANEL PRINCIPAL-->
   <div class="br-pagebody pd-x-20 pd-sm-x-30">
    <div class="card bd-0 shadow-base">   
             {{form_paquete|crispy}}
    </div><!-- card-header -->
    </div>
  <!--FIN PANEL PRINCIPAL-->
</div>
{% endblock content %}