{% extends 'index-blank.html' %}

{% load crispy_forms_tags %}

{% block mailing %}

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>


<div class="br-subleft">

 
  
<h6 class="tx-uppercase tx-10 tx-mont tx-spacing-1 mg-t-10 pd-x-10 tx-white-7">SECCIONES</h6>

  <nav class="nav br-nav-mailbox flex-column">
       <a href="{% url 'Bandejaeys' %}" class="nav-link active"><i class="icon ion-person-stalker tx-16-force"></i> <strong>Inbox</strong></a>
    <a href="{% url 'Borradores' %}" class="nav-link"><i class="icon ion-person-stalker tx-16-force"></i> <strong>Borradores</strong></a>
    <a href="{% url 'bandeja-enviados' %}" class="nav-link"><i class="icon ion-person-stalker tx-16-force"></i> <strong>Enviados</strong></a>
  </nav>
</div><!-- br-subleft -->

<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

<script>
    $(document).ready(function() {
    $('#id_owner').select2();
    });
</script>

{% endblock mailing %}

{% block content %}

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>

<div class="br-contentpanel">
    <div class="br-pageheader pd-y-15 pd-l-20">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
          <a class="breadcrumb-item"> {{proyecto}}</a>
          <a class="breadcrumb-item" href="{% url 'Bandejaeys' %}">Bandeja Entada y Salida</a>      
          <span class="breadcrumb-item active">Carga de Documentos</span>
        </nav>
    </div>
<div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <h4 class="tx-gray-800 mg-b-5">CREAR PAQUETE</h4>
</div>
<div class="br-pagebody pd-x-20 pd-sm-x-30">
    <div class="card bd-0 shadow-base">  
    <form method="POST" id="form">{% csrf_token %}
        <div class="row form-row spacer">
            <div class="form-group col-md-12">
                <div class="form-control">
                <label class="col-md-5">{{form_paraquete.prev_receptor|as_crispy_field}}</label>
                <label class="col-md-5">{{form_paraquete.prev_asunto|as_crispy_field}}</label>
                <label class="col-md-12">{{form_paraquete.descripcion|as_crispy_field}}</label>
                </div>
            </div> 
        </div>
    
        {{ formset.management_form }}
        {% for form in formset %}
        <div class="row form-row spacer">
                <div class="form-group col-12">
                        <div class="form-control"style="float: left;">
                            <label for="" class="col-md-2 mg-5"> {{form.prev_documento_fk|as_crispy_field}}</label>           
                            <label for="" class="col-md-2 mg-5"> {{form.prev_revision|as_crispy_field}}</label>             
                            <label for="" class="col-md-3 mg-5"> {{form.prev_estado_cliente|as_crispy_field}}</label>               
                            <label for="" class="col-md-2 mg-5"> {{form.prev_estado_contratista|as_crispy_field}}</label><br>                                 
                            <label for="" class="col-md-4 mg-5"> {{form.prev_archivo|as_crispy_field}}</label>             
                            <label for="" class="col-md-4 mg-5"> {{form.prev_comentario|as_crispy_field}}</label>  
                        
                            <div class="input-group-append mg-20" style="float:right;">
                                <button class="btn btn-success add-form-row" >Agregar +</button>
                            </div>
                        </div>
                </div>
        </div>
        {% endfor %}
        <div class="row no-gutters" style="float: left;margin-top: 10px;margin-right: 10px;margin-bottom: 10px;">
          <button class="btn btn-primary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" type="submit"> Envíar </button>
          <button id="borrador" class="btn btn-teal tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-l-10" type="buttom"> borrador </button>
        </div>
      
    </form>
    </div>
</div>
</div>





























<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

<script language="JavaScript" type="text/javascript">
    $("#borrador").click(function submitHandler(e){
        e.preventDefault();
        const form = document.getElementById('form')
        $.ajax({
            type: 'POST',
            url: '{% url 'borrador-crear' borrador_pk=borr_pk %}',
            data: $("#form").serialize(),
            dataType: 'json',
            success: successHandler
        })
        function successHandler(data){
                if (data.msg === 'Success'){
                    window.location.href = "{% url 'Borradores' %}";
                    alert('Formulario guardado en Borrador.')
                }
                if (data.msg === 'Update'){
                    window.location.href = "{% url 'Borradores' %}";
                    alert('Se ha actualizado la información del paquete. Formulario guardado en Borrador')
                }
            }
    }
)   

</script>
<script>
    function poner() {
        $('#id_form-0-documento_fk').prop("required", true);
    }
    function quitar() {
        $('#id_form-0-documento_fk').removeAttr("required");
    }
</script>
<script>
    function poner() {
        $('#id_form-0-revision').prop("required", true);
    }
    function quitar() {
        $('#id_form-0-revision').removeAttr("required");
    }
</script>
<script>
    document.getElementById("error_1_id_form-0-revision").innerHTML = "";
</script>
<script>
    document.getElementById("error_1_id_form-0-documento_fk").innerHTML = "";
</script>
<script>
    $(document).ready(function() {
    $('#id_destinatario').select2();
    });
</script>
<script>
    $(document).ready(function() {
    $('#id_form-0-documento_fk').select2(
        ajax: {
            url: ,
            dataType: 'json',

        }
    );
    });
</script>
<script>
    $(document).ready(function() {
    $('#id_form-0-estado_cliente').select2();
    });
</script>
<script>
    $(document).ready(function() {
    $('#id_form-0-estado_contratista').select2();
    });
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script type="text/javascript">
function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+)');
    var replacement = prefix + '-' + ndx;
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
}
function cloneMore(selector, prefix) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
    newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
        var name = $(this).attr('name')
        if(name) {
            name = name.replace('-' + (total-1) + '-', '-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        }
        
    });
    
    newElement.find('label').each(function() {
        var forValue = $(this).attr('for');
        if (forValue) {
          forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
          $(this).attr({'for': forValue});
        }
    });
    total++;
    $('#id_' + prefix + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
    var conditionRow = $('.form-row:not(:last)');
    conditionRow.find('.btn.add-form-row')
    .removeClass('btn-success').addClass('btn-danger')
    .removeClass('add-form-row').addClass('remove-form-row')
    .html('-');
    return false;
}
function deleteForm(prefix, btn) {
    var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    if (total > 1){
        btn.closest('.form-row').remove();
        var forms = $('.form-row');
        $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
        for (var i=0, formCount=forms.length; i<formCount; i++) {
            $(forms.get(i)).find(':input').each(function() {
                updateElementIndex(this, prefix, i);
            });
        }
    }
    return false;
}
$(document).on('click', '.add-form-row', function(e){
    e.preventDefault();
    cloneMore('.form-row:last', 'form');
    return false;
});
$(document).on('click', '.remove-form-row', function(e){
    e.preventDefault();
    deleteForm('form', $(this));
    return false;
});

</script>
<script>
 $('.form-disable').on('submit',function(){
     var self = $(this),
        button = self.find('input[type="button"],button');
        submitvalue = button.data('submit-value')

        button  .attr('disabled', 'disabled').val(submitvalue);
        return false;
 });

 $('select[name="search"]').select2({
     theme: "bootstrap4",
     languaje: 'es',
     allowClear: true,
     ajax:{
         delay: 250,
         type: 'POST',
         url: 'paquete-crear2',
         data: function (params){
             var queryParameters = {
                term: params.term,
                action: 'autocomplete'
             }

         return queryParameters;
         },
         processResults: function (data){
            return {
                 results: data
            }:
         }, 
     },
     placeholder: 'Ingrese una opcion',
     minimumInputLength: 2,
 });

</script>

{% endblock content %}
