{% extends 'index-blank.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="br-contentpanel">
  <div class="br-subleft">
      <div class="pd-10">
        <a  href="{% url 'paquete-preview' borrador_pk=None %}" class="btn btn-warning bd-0 btn-compose"><i class="icon ion-ios-compose-outline"></i> Nuevo Paquete</a>
      </div>

      <h6 class="tx-uppercase tx-10 mg-t-40 pd-x-10 bd-b pd-b-10 tx-roboto tx-white-7">SECCIONES</h6>

      <nav class="nav br-nav-mailbox flex-column">
        <a href="{% url 'Bandejaeys' %}" class="nav-link active"><i class="icon fa fa-reply"></i> Recibidos</a>
        <a href="{% url 'Borradores' %}" class="nav-link"><i class="icon icon ion-edit"></i> Borradores</a>
        <a href="{% url 'bandeja-enviados' %}" class="nav-link"><i class="icon fa fa-share"></i> Enviados</a>
      </nav>
</div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

  <div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item"> {{proyecto}}</a>
      <a class="breadcrumb-item" href="{% url 'Bandejaeys' %}">Bandeja de Entrada</a>      
      <span class="breadcrumb-item active">Pre-visualización Paquete</span>
    </nav>
  </div>
  <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <h4 class="tx-gray-800 mg-b-5">Detalle del paquete.</h4>
  </div>
   <div class="br-pagebody pd-x-20 pd-sm-x-30">
    <div class="card bd-0 shadow-base">   
       <div class="form-layout form-layout-7 ">               
                <div class="row no-gutters">
                  <div class="col-5 col-sm-4" style="text-align: center;color:black;font-weight: 900;font-size: 18px;">
                          Numero de paquete:
                  </div><!-- col-4 -->
                  <div class="col-7 col-sm-8" style="color:black;font-weight: 900;font-size: 18px;">
                          {{paquete.pk}}
                  </div><!-- col-8 -->
                </div> 
                <div class="row no-gutters">
                  <div class="col-5 col-sm-4" style="text-align: center;color:black;font-weight: 900;font-size: 18px;">
                    Asunto:
                  </div><!-- col-4 -->
                  <div class="col-7 col-sm-8" style="color:black;font-weight: 900;font-size: 18px;">
                    {{paquete.prev_asunto}}
                  </div><!-- col-8 -->
                </div>
                <div class="row no-gutters">
                  <div class="col-5 col-sm-4" style="text-align: center;color:black;font-weight: 900;font-size: 18px;">
                    creador:
                  </div><!-- col-4 -->
                  <div class="col-7 col-sm-8" style="color:black;font-weight: 900;font-size: 18px;">
                    {{paquete.prev_propietario}}
                  </div><!-- col-8 -->
                </div>
                <div class="row no-gutters">
                  <div class="col-5 col-sm-4" style="text-align: center;color:black;font-weight: 900;font-size: 18px;">
                    fecha creacion:
                  </div><!-- col-4 -->
                  <div class="col-7 col-sm-8" style="color:black;font-weight: 900;font-size: 18px;">
                    {{paquete.prev_fecha_creacion|date:'d-M-Y'}}
                  </div><!-- col-8 -->
                </div>  
                 <div class="row no-gutters">
                  <div class="col-5 col-sm-4" style="text-align: center;color:black;font-weight: 900;font-size: 18px;">
                    Hora de creacion:
                  </div><!-- col-4 -->
                  <div class="col-7 col-sm-8" style="color:black;font-weight: 900;font-size: 18px;">
                    {{paquete.prev_fecha_creacion|date:'H:i'}}
                  </div><!-- col-8 -->
                </div>                                     
              
                <table class="table table-striped mg-b-0 table-bordered table-primary">
                  <thead class="thead-colored thead-primary">
                    <tr class="tx-10">
                      <th class="pd-y-5"style="text-align: center;">Especialidad</th>                      
                      <th class="pd-y-5"style="text-align: center;">Tipo Documento</th>   
                      <th class="pd-y-5"style="text-align: center;">Nombre</th>   
                      <th class="pd-y-5"style="text-align: center;">Codigo Documento</th>  
                      <th class="pd-y-5"style="text-align: center;">Revisión</th>
                      <th class="pd-y-5"style="text-align: center;">Status</th>                                    
                      <th class="pd-y-5"style="text-align: center;">Archivo</th>
                    </tr>
                  </thead>
                
                  <tbody>
                  {% for version in versiones %}
                    <tr>                    
                      <td class="tx-12"style="text-align: center;font-weight:800;">{{version.prev_documento_fk.Especialidad}} </td>    
                      <td class="tx-12"style="text-align: center;font-weight:800;">{{version.prev_documento_fk.Descripcion}}</td>                          
                      <td class="tx-12"style="text-align: center;font-weight:800;">{{version.prev_documento_fk.Tipo_Documento}}</td>
                      <td class="tx-12"style="text-align: center;font-weight:800;">{{version.prev_documento_fk.Codigo_documento}} </td>  
                      <td class="tx-12"style="text-align: center;font-weight:800;">{{version.prev_revision}}</td>
                      <td class="tx-12"style="text-align: center;font-weight:800;">{{version.get_prev_estado_cliente_display}}</td>                      
                      <td class="tx-12"style="text-align: center;font-weight:800;"><a href="{{version.prev_archivo.url}}"><i class="icon ion-archive"></i></a></td>
                    </tr>    
                    {% empty %}
                    <h4> El paquete no tiene documentos. </h4>
                    {% endfor %}
                              
                  </tbody>
                  
                </table>
                <div class="row no-gutters" style="float: left;margin-top: 10px;margin-right: 10px;margin-bottom: 10px;">
                  <a href="{% url 'paquete-crear' paquete_pk versiones_pk %}"><button class="btn btn-primary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" type="submit"> Envíar </button></a>
                  <a onclick="history.back();"><button  class="btn btn-warning tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-l-10" type="buttom"> volver </button></a>
                </div>
        </div><!-- card -->
    </div> 
  </div><!-- card-header -->
</div>
<script>
  $(function () {
    $("#id_date").datepicker({
      format:'dd/mm/yyyy',
    });
  });
</script>

{% endblock content %}