{% extends 'index-blank.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="br-contentpanel">
 
  <div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item"> {{proyecto}}</a>
      <a class="breadcrumb-item" href="{% url 'Bandejaeys' %}">Bandeja de Entrada</a>      
      <span class="breadcrumb-item active">Pre-visualización Transmittal</span>
    </nav>
  </div>
   <div class="pd-10 bg-gray-900 rounded">
            <ul class="nav nav-pills nav-pills-for-dark flex-column flex-md-row" role="tablist">
              <li class="nav-item"><a href="{% url 'paquete-preview' %}" class="btn btn-warning bd-0 btn-compose" role="tab">Nuevo Transmittal</a></li>
              <li class="nav-item"><a href="{% url 'Bandejaeys' %}" class="nav-link  mg-l-15"><i class="icon fa fa-reply"></i> Recibidos</a></li>
              <li class="nav-item"><a href="{% url 'bandeja-enviados' %}" class="nav-link mg-l-15 active"><i class="icon fa fa-share"></i> Enviados</a></li>
              <li class="nav-item"><a href="{% url 'Borradores' %}" class="nav-link mg-l-15"><i class="icon icon ion-edit"></i> Borradores</a></li>
            </ul>
          </div>

  <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <h4 class="tx-gray-800 mg-b-5">Detalle del Transmittal</h4>
  </div>

  {% comment %} {% if invalido == 0 %} {% endcomment %}
  <div class="alert alert-success alert-bordered pd-y-20" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <div class="d-sm-flex align-items-center justify-content-start">
              <i class="icon ion-ios-checkmark alert-icon tx-52 mg-r-20 tx-success"></i>
              <div class="mg-t-20 mg-sm-t-0">
                <h5 class="mg-b-2 tx-success">Excelente! los datos Coinciden.</h5>
                <p class="mg-b-0 tx-gray"></p>
              </div>
            </div><!-- d-flex -->
          </div>
   <div class="br-pagebody pd-x-20 pd-sm-x-30">
    <div class="card bd-0 shadow-base">   
       <div class="form-layout form-layout-7 ">
                <div class="row no-gutters">
                  <div class="col-5 col-sm-4" style="text-align: center;color:black;font-weight: 900;font-size: 18px;">
                    Asunto:
                  </div><!-- col-4 -->
                  <div class="col-7 col-sm-8" style="color:black;font-weight: 900;font-size: 18px;">
                    {{paquete.prev_asunto}}
                  </div><!-- col-8 -->
                </div>
                <div class="row no-gutters">
                  <div class="col-5 col-sm-4" style="text-align: center;color:black;font-weight: 900;font-size: 18px;">
                    Creador:
                  </div><!-- col-4 -->
                  <div class="col-7 col-sm-8" style="color:black;font-weight: 900;font-size: 18px;">
                    {{paquete.prev_propietario}}
                  </div><!-- col-8 -->
                </div>
                <div class="row no-gutters">
                  <div class="col-5 col-sm-4" style="text-align: center;color:black;font-weight: 900;font-size: 18px;">
                    Fecha creacion:
                  </div><!-- col-4 -->
                  <div class="col-7 col-sm-8" style="color:black;font-weight: 900;font-size: 18px;">
                    {{paquete.prev_fecha_creacion|date:'d-M-Y'}}
                  </div><!-- col-8 -->
                </div>  
                 <div class="row no-gutters">
                  <div class="col-5 col-sm-4" style="text-align: center;color:black;font-weight: 900;font-size: 18px;">
                    Hora de creación:
                  </div><!-- col-4 -->
                  <div class="col-7 col-sm-8" style="color:black;font-weight: 900;font-size: 18px;">
                    {{paquete.prev_fecha_creacion|date:'H:i'}}
                  </div><!-- col-8 -->
                </div>                                     
              
                <table class="table table-striped mg-b-0 table-bordered table-primary">
                  <thead class="thead-colored thead-primary">
                    <tr class="tx-10">
                      <th class="pd-y-5"style="text-align: center;">Especialidad</th>  
                      <th class="pd-y-5"style="text-align: center;">Nombre</th>   
                      <th class="pd-y-5"style="text-align: center;">Tipo Documento</th>   
                      <th class="pd-y-5"style="text-align: center;">Código Documento</th>  
                      <th class="pd-y-5"style="text-align: center;">Revisión</th>
                      <th class="pd-y-5"style="text-align: center;">Status</th>                                    
                      <th class="pd-y-5"style="text-align: center;">Archivo</th>
                    </tr>
                  </thead>
                
                  <tbody>
                  {% for version in versiones %}
                    <tr>                    
                      <td class="tx-12"style="text-align: center;font-weight:800;">{{version.prev_documento_fk.Especialidad}} </td>    
                      <td class="tx-12"style="text-align: center;font-weight:800;">{{version.prev_documento_fk.Descripcion}}</td>                          
                      <td class="tx-12"style="text-align: center;font-weight:800;">{{version.prev_documento_fk.Tipo_Documento}}</td>
                      <td class="tx-12"style="text-align: center;font-weight:800;">{{version.prev_documento_fk.Codigo_documento}} </td>  
                      <td class="tx-12"style="text-align: center;font-weight:800;">{{version.get_prev_revision_display}}</td>
                      
                      {% if request.user.perfil.rol_usuario >= 1 and request.user.perfil.rol_usuario <= 3 %} 
                        {% if version.estado_contratista is None %}
                          <td class="tx-12"style="text-align: center;font-weight:800;">{{version.get_prev_estado_cliente_display}}</td> 
                        {% else %}
                          <td class="tx-12"style="text-align: center;font-weight:800;">{{version.get_prev_estado_contratista_display}}</td> 
                        
                        {% endif %}  
                    {% elif request.user.perfil.rol_usuario >= 4 and request.user.perfil.rol_usuario <= 6 %}  
                        {% if version.estado_cliente is None %}
                        <td class="tx-12"style="text-align: center;font-weight:800;">{{version.get_prev_estado_contratista_display}}</td> 
                        {% else %}
                          <td class="tx-12"style="text-align: center;font-weight:800;">{{version.get_prev_estado_cliente_display}}</td> 
                        {% endif %}
                    {% endif %}                      
                      {% if version.prev_archivo.url is not None %}
                        <td class="tx-12"style="text-align: center;font-weight:800;"><a href="{{version.prev_archivo.url}}"><i class="icon ion-archive"></i></a></td>
                      {% else %}
                        <td class="tx-12"style="text-align: center;font-weight:800;">Sin Documento</td>
                      {% endif %}
                    </tr>    
                    {% empty %}
                    <h4> El Transmittal no tiene documentos </h4>
                    {% endfor %}
                              
                  </tbody>
                  
                </table>
                <div class="row no-gutters" style="float: left;margin-top: 10px;margin-right: 10px;margin-bottom: 10px;">
                  <a href="{% url 'paquete-crear' paquete.pk versiones_pk %}"><button class="btn btn-primary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-l-20" type="submit"> Enviar </button></a>                  
                  <a onclick="history.back();"><button  class="btn btn-warning tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-l-10" type="buttom"> volver </button></a>
                </div>
        </div><!-- card -->
    </div> 
    </div><!-- card-header -->
</div>
  {% comment %} {% else %}
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body tx-center pd-y-20 pd-x-20">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                    <i class="icon icon ion-ios-close-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>
                    <h4 class="tx-danger mg-b-20">Error: Los Campos no Coinciden.</h4>
                    <p class="mg-b-20 mg-x-20">Recuerde que el documento que adjunta debe llamarse igual que el documento seleccionado.</p>
                    <button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20"  onclick="history.back();" aria-label="Volver">
                      Volver</button>
                    </div><!-- modal-body -->
                  </div><!-- modal-content -->
                </div><!-- modal-dialog -->
    
  {% endif %} {% endcomment %}
  

<script>
  $(function () {
    $("#id_date").datepicker({
      format:'dd/mm/yyyy',
    });
  });
</script>
{% endblock content %}