{% extends 'index-base.html' %}

{% load crispy_forms_tags %}

{% block navegacion %}
<div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item"> {{proyecto}}</a>
      <a class="breadcrumb-item" href="{% url 'Bandejaeys' %}">Bandeja Entada y Salida</a>      
      <span class="breadcrumb-item active">Carga de Documentos</span>
    </nav>
</div>
{% endblock navegacion %}

{% block content %}

 <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <h4 class="tx-gray-800 mg-b-5">CREAR PAQUETE</h4>
  </div>

<form method="POST" action="">
    {% csrf_token %}
<div class="row form-row spacer">
    <div class="form-group col-md-12">
        <div class="form-control">
        <label for="" class="col-md-5">{{form_paraquete.destinatario|as_crispy_field}}</label>
        <label for="" class="col-md-5">{{form_paraquete.asunto|as_crispy_field}}</label><br>
        <label for="" class="col-md-12">{{form_paraquete.descripcion|as_crispy_field}}</label>
        </div>
    </div> 
</div>
{{ formset.management_form }}
{% for form in formset %}
<div class="row form-row spacer">
        <div class="form-group col-12">
                <div class="form-control"style="float: left;">
                    <label for="" class="col-md-2 mg-5"> {{form.documento_fk|as_crispy_field}}</label>           
                    <label for="" class="col-md-2 mg-5"> {{form.revision|as_crispy_field}}</label>             
                    <label for="" class="col-md-3 mg-5"> {{form.estado_cliente|as_crispy_field}}</label>               
                    <label for="" class="col-md-2 mg-5"> {{form.estado_contratista|as_crispy_field}}</label><br>                                 
                    <label for="" class="col-md-4 mg-5"> {{form.archivo|as_crispy_field}}</label>             
                    <label for="" class="col-md-4 mg-5"> {{form.comentario|as_crispy_field}}</label>  
                
                    <div class="input-group-append mg-20" style="float:right;">
                        <button class="btn btn-success add-form-row" >Agregar +</button>
                    </div>
                </div>
        </div>
</div>
{% endfor %}
<div class="row spacer">
    <div class="col-4 offset-2">
        <button type="submit" class="btn btn-block btn-primary">Crear</button>
    </div>
</div>
</form>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>
function hola(event){
    console.log(event.target.value)
}
</script>

<script type="text/javascript">
function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+)');
    var replacement = prefix + '-' + ndx;
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
}
function cloneMore(selector, prefix) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
    newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
        var name = $(this).attr('name')
        if(name) {
            name = name.replace('-' + (total-1) + '-', '-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        }
        
    });
    
    newElement.find('label').each(function() {
        var forValue = $(this).attr('for');
        if (forValue) {
          forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
          $(this).attr({'for': forValue});
        }
    });
    total++;
    $('#id_' + prefix + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
    var conditionRow = $('.form-row:not(:last)');
    conditionRow.find('.btn.add-form-row')
    .removeClass('btn-success').addClass('btn-danger')
    .removeClass('add-form-row').addClass('remove-form-row')
    .html('-');
    return false;
}
function deleteForm(prefix, btn) {
    var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    if (total > 1){
        btn.closest('.form-row').remove();
        var forms = $('.form-row');
        $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
        for (var i=0, formCount=forms.length; i<formCount; i++) {
            $(forms.get(i)).find(':input').each(function() {
                updateElementIndex(this, prefix, i);
            });
        }
    }
    return false;
}
$(document).on('click', '.add-form-row', function(e){
    e.preventDefault();
    cloneMore('.form-row:last', 'form');
    return false;
});
$(document).on('click', '.remove-form-row', function(e){
    e.preventDefault();
    deleteForm('form', $(this));
    return false;
});

</script>
<script>
 $('.form-disable').on('submit',function(){
     var self = $(this),
        button = self.find('input[type="button"],button');
        submitvalue = button.data('submit-value')

        button  .attr('disabled', 'disabled').val(submitvalue);
        return false;
 });

</script>

{% endblock content %}
