{% extends 'index-blank.html' %}

{% load static %}

{% load crispy_forms_tags %}


{% block content %}
<div class="br-mainpanel" style="position: relative;">

<div class="br-pageheader pd-y-15 pd-l-20">
  <nav class="breadcrumb pd-0 mg-0 tx-12">
    <a class="breadcrumb-item"> {{proyecto}}</a>
    <a class="breadcrumb-item">Bandeja Entrada</a>
    <span class="breadcrumb-item active"> Nuevo Transmital</span>
  </nav>
</div>
{% include "messege.html" %}
<div class="br-pagebody pd-x-20 pd-sm-x-30">
    <div class="card bd-0 shadow-base">
        <div class="br-section-wrapper">
          <form class="form-group mg-t-20" id="form_paquete" enctype="multipart/form-data" action="" method="post">{% csrf_token %}
             
                <div id="wizard2" role="application" class="wizard clearfix">
                    <div class="steps clearfix">
                    <ul role="tablist">
                        <li role="tab" class="first current" aria-disabled="false" aria-selected="true">
                            <a id="wizard2-t-0" href="#wizard2-h-0" aria-controls="wizard2-p-0">
                                <span class="current-info audible">Paso: </span>
                                <span class="number">1</span> 
                                <span class="title">Configurar Destinatarios</span>
                            </a>
                        </li>
                        <li role="tab" class="disabled" aria-disabled="true">
                                <a id="wizard2-t-1" href="#wizard2-h-1" aria-controls="wizard2-p-1">
                                    <span class="number">2</span> 
                                    <span class="title">Adjuntar Archivos</span>

                                </a>
                            </li>                  
                        </ul>            
                    </div>
                <div class="content clearfix">
                    <h3 id="wizard2-h-0" tabindex="-1" class="title current">Configuración Destinatario Transmittal</h3>
                    <section id="wizard4-p-0" role="tabpanel" aria-labelledby="wizard4-h-0" class="body current" aria-hidden="false">
                     <div class=" col-md-12">
                    <h3 id="wizard2-h-0" tabindex="-1" class="title current">Destinatario</h3>
                        
                          {{ form|crispy }}
                          
                     <div class="alert alert-warning" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="d-flex align-items-center justify-content-start">
                            <i class="icon ion-alert-circled alert-icon tx-24 mg-t-5 mg-xs-t-0"></i>
                            <span><strong>AVISO!</strong> Los archivos adjuntados deben tener como maximo 250MB por archivo.</span>
                        </div><!-- d-flex -->
                    </div><!-- alert -->   
                    </div><!-- form-group -->   
                      <input type="submit"class="btn btn-teal" value="Siguiente"/>
                     
                    </section>
                   
                  </div>
                              

                 
        </div>
             </form>
        </div>
    </div>     

</div>
 </div> 

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="{% static 'file_form/file_form.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

<script language="JavaScript" type="text/javascript">
$(document).ready(function() {
    $('.select2').select2({
    language: "es",
    placeholder: 'seleccione un Documento',
    ajax: {
        url: "{% url 'datos-baes'%}",
        dataType: 'json',
          processResults: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            return {id: item.id, text: item.Codigo_documento};
                        })
                    };
                }
            }
       });
});
</script>


<script>
    $(document).ready(function(){
      'use strict';

       
      $('#wizard6').steps({
        headerTag: 'h3',
        bodyTag: 'section',
        autoFocus: true,
        titleTemplate: '<span class="number">#index#</span> <span class="title">#title#</span>',
        cssClass: 'wizard wizard-style-2'
      });

      

    });
</script>
<script>
    function cerrar() { 
        $("body").html('<div alignt="center"><h1>Enviado Exitosamente!!!</h1></div>'); //Marca nuevo contenido con un mensaje que se envio exitosamente

        setTimeout(function(){
            window.close();
        },3000); //Dejara un tiempo de 3 seg para que el usuario vea que se envio el formulario correctamente

    }
</script>

<script>
 $(document).ready(function() {
        $('#prev_descripcion').summernote({
        placeholder: 'Hello stand alone ui',
        tabsize: 2,
        height: 120,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'help']]
        ]
        });
    });
</script>
{% endblock content %}
