<form method="post" action="">
  {% csrf_token %}
<div class="br-pagebody pd-x-20 pd-sm-x-30">
    <div class="card bd-0 shadow-base">
        <div class="br-section-wrapper">
          <a href="JavaScript:window.open('{% url '' %}','subir datos','toolbar=0,location=0,directories=0,status=0,menubar=0,scrollbars=0,resizable=0,width=screen.width,height=screen.height,top=0,left=0');"><button class="btn btn-warning">Agregar Documento</button></a>
          <div id="tablaVersiones">
              <table class="table table-responsive table-striped mg-b-0 table-bordered table-primary">
                  <thead>
                      <tr>
                          <th style="text-align: center;border: 2px;border-color: grey; color: white;"> Documento </th>
                          <th style="text-align: center;border: 2px;border-color: grey; color: white;"> Revisión </th>
                          <th style="text-align: center;border: 2px;border-color: grey; color: white;"> Estado Cliente </th>
                          <th style="text-align: center;border: 2px;border-color: grey; color: white;"> Estado Contratista </th>

                      </tr>
                  </thead>
                    <tbody>
                        <tr v-for="fila in filas">
                          <td style="text-align: center;border: 2px;border-color: grey; color: black;" >[[ fila ]]</td>
                          <td style="text-align: center;border: 2px;border-color: grey; color: black;"></td>
                          <td style="text-align: center;border: 2px;border-color: grey; color: black;"></td>
                          <td style="text-align: center;border: 2px;border-color: grey; color: black;"></td>
                        </tr>
                    </tbody>
                </table>
          </div>
        </div>
    </div>
</div>
</form>