{% extends "index-blank.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
<link href="{% static 'highlightjs/github.css' %}" rel="stylesheet">
<link href="{% static 'jquery.steps/jquery.steps.css' %}" rel="stylesheet" />
{% endblock css %}

{% block mailing %}

<div class="br-subleft">
      <div class="pd-10">
        <a  href="{% url 'paquete-preview' borrador_pk=None %}" class="btn btn-warning bd-0 btn-compose"><i class="icon ion-ios-compose-outline"></i> Nuevo Paquete</a>
      </div>
    
    

      <h6 class="tx-uppercase tx-10 mg-t-40 pd-x-10 bd-b pd-b-10 tx-roboto tx-white-7">SECCIONES</h6>

      <nav class="nav br-nav-mailbox flex-column">
        <a href="{% url 'Bandejaeys' %}" class="nav-link active"><i class="icon fa fa-reply"></i> Recibidos</a>
        <a href="{% url 'Borradores' %}" class="nav-link"><i class="icon icon ion-edit"></i> Borradores</a>
        <a href="{% url 'bandeja-enviados' %}" class="nav-link"><i class="icon fa fa-share"></i> Enviados</a>
      </nav>
</div>


{% endblock mailing %}

{% block content %}

<div class="br-contentpanel">
    <div class="br-pageheader pd-y-15 pd-l-20">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
          <a class="breadcrumb-item"> {{proyecto}}</a>
          <a class="breadcrumb-item" href="{% url 'Bandejaeys' %}">Bandeja Entada y Salida</a>      
          <span class="breadcrumb-item active">Carga de Documentos</span>
        </nav>
    </div>
    <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
        <h4 class="tx-gray-800 mg-b-5">CREAR PAQUETE</h4>
    </div>
    <div class="br-pagebody pd-x-20 pd-sm-x-30">
        <div class="card bd-0 shadow-base">  
            <div class="br-section-wrapper">

                <form class="form-group mg-t-20" id="form_paquete" action="" method="post">{% csrf_token %}

                  <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                      Launch  modal
                    </button>

                </form>

            </div>
        </div>
    </div>
    <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  {% for field in form %}
                    <div class="form-group{% if field.errors %} invalid{% endif %}">                       
                        {{ field|as_crispy_field }}
                        {% for error in field.errors %}
                        <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary">Cargar</button>
                </div>
              </div>
            </div>
          </div>
</div>
  
<script src="{% static 'jquery.steps/jquery.steps.js' %}"></script>    
<script src="{% static 'parsleyjs/parsley.js' %}"></script>  
<script>
$.fn.modal.Constructor.prototype.enforceFocus = function() {};
    $(document).ready(function() {
        $('.select2').select2({
        width: '100%', 
        dropdownParent: $("#exampleModalCenter"),
        language: "es",
        placeholder: 'seleccione un Documento',
        ajax: {
            url: "{% url 'datos-baes' %}",
            dataType: 'json',
            processResults: function (data) {
                        return {
                            results: $.map(data, function (item) {
                                return {id: item.id, text: item.Codigo_documento};
                            })
                        };
                    }
                }
        });
    });
</script>


<script language="JavaScript" type="text/javascript">
  $("#borrador").click(function submitHandler(e){
      e.preventDefault();
      const form = document.getElementById('form')
      $.ajax({
          type: 'POST',
          url: ".",
          data: $("#form").serialize(),
          dataType: 'json',
          success: successHandler
      })
      function successHandler(data){
              if (data.msg === 'Success'){
                  window.location.href = "{% url 'Borradores' %}";
                  alert('Formulario guardado en Borrador.')
              }
              if (data.msg === 'Update'){
                  window.location.href = "{% url 'Borradores' %}";
                  alert('Se ha actualizado la información del paquete. Formulario guardado en Borrador')
              }
          }
  }
)   

</script>

{% endblock content %}