{% extends "index-blank.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
<link href="{% static 'highlightjs/github.css' %}" rel="stylesheet">
<link href="{% static 'jquery.steps/jquery.steps.css' %}" rel="stylesheet" />
{% endblock css %}

{% block mailing %}

<div class="br-subleft">
      <div class="pd-10">
        <a  href="{% url 'paquete-preview' borrador_pk=None %}" class="btn btn-warning bd-0 btn-compose"><i class="icon ion-ios-compose-outline"></i> Nuevo Paquete</a>
      </div>
    
    

      <h6 class="tx-uppercase tx-10 mg-t-40 pd-x-10 bd-b pd-b-10 tx-roboto tx-white-7">SECCIONES</h6>

      <nav class="nav br-nav-mailbox flex-column">
        <a href="{% url 'Bandejaeys' %}" class="nav-link active"><i class="icon fa fa-reply"></i> Recibidos</a>
        <a href="{% url 'Borradores' %}" class="nav-link"><i class="icon icon ion-edit"></i> Borradores</a>
        <a href="{% url 'bandeja-enviados' %}" class="nav-link"><i class="icon fa fa-share"></i> Enviados</a>
      </nav>
</div>


{% endblock mailing %}

{% block content %}

<div class="br-contentpanel">
    <div class="br-pageheader pd-y-15 pd-l-20">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
          <a class="breadcrumb-item"> {{proyecto}}</a>
          <a class="breadcrumb-item" href="{% url 'Bandejaeys' %}">Bandeja Entada y Salida</a>      
          <span class="breadcrumb-item active">Carga de Documentos</span>
        </nav>
    </div>
    <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
        <h4 class="tx-gray-800 mg-b-5">CREAR PAQUETE</h4>
    </div>
    <div class="br-pagebody pd-x-20 pd-sm-x-30">
        <div class="card bd-0 shadow-base">  
            <div class="br-section-wrapper">
                <div id="wizard6" class="mg-t-80 wizard wizard-style-2 clearfix" role="application">
                    <div class="steps clearfix">
                        <ul role="tablist">
                            <li role="tab" class="first done" aria-disabled="false" aria-selected="false">
                                <a id="wizard6-t-0" href="#wizard6-h-0" aria-controls="wizard6-p-0">
                                    <span class="number">1</span> 
                                    <span class="title">Personal Information</span>
                                </a>
                            </li>
                            <li role="tab" class="done" aria-disabled="false" aria-selected="false">
                                <a id="wizard6-t-1" href="#wizard6-h-1" aria-controls="wizard6-p-1">
                                    <span class="number">2</span> 
                                    <span class="title">Billing Information</span>
                                </a>
                            </li>
                            <li role="tab" class="last current done" aria-disabled="false" aria-selected="true">
                                <a id="wizard6-t-2" href="#wizard6-h-2" aria-controls="wizard6-p-2">
                                    <span class="current-info audible">current step: </span>
                                    <span class="number">3</span> 
                                    <span class="title">Payment Details</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="content clearfix">
                    <h3 id="wizard6-h-0" tabindex="-1" class="title">Personal Information</h3>
                    <section id="wizard6-p-0" role="tabpanel" aria-labelledby="wizard6-h-0" class="body" aria-hidden="true" style="display: none;">
                      <p>Try the keyboard navigation by clicking arrow left or right!</p>
                    </section>
                    <h3 id="wizard6-h-1" tabindex="-1" class="title">Billing Information</h3>
                    <section id="wizard6-p-1" role="tabpanel" aria-labelledby="wizard6-h-1" class="body" aria-hidden="true" style="display: none;">
                      <p>Wonderful transition effects.</p>
                    </section>
                    <h3 id="wizard6-h-2" tabindex="-1" class="title current">Payment Details</h3>
                    <section id="wizard6-p-2" role="tabpanel" aria-labelledby="wizard6-h-2" class="body current" aria-hidden="false" style="display: block;">
                      <p>The next and previous buttons help you to navigate through your content.</p>
                    </section>
                  </div>
                  <div class="actions clearfix">
                      <ul role="menu" aria-label="Pagination">
                          <li class="" aria-disabled="false">
                              <a href="#previous" role="menuitem">Previous</a>
                            </li>
                            <li aria-hidden="true" aria-disabled="true" class="disabled" style="display: none;">
                                <a href="#next" role="menuitem">Next</a>
                            </li>
                            <li aria-hidden="false" style="display: block;">
                                <a href="#finish" role="menuitem">Finish</a>
                            </li>
                        </ul>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>
  
<script src="{% static 'jquery.steps/jquery.steps.js' %}"></script>    
<script src="{% static 'parsleyjs/parsley.js' %}"></script>  
<script>
    $(document).ready(function(){
      'use strict';

       
      $('#wizard6').steps({
        headerTag: 'h3',
        bodyTag: 'section',
        autoFocus: true,
        titleTemplate: '<span class="number">#index#</span> <span class="title">#title#</span>',
        cssClass: 'wizard wizard-style-2'
      });

      

    });
  </script>


{% endblock content %}