{% extends "index-blank.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
<link href="{% static 'highlightjs/github.css' %}" rel="stylesheet">
<link href="{% static 'jquery.steps/jquery.steps.css' %}" rel="stylesheet" />
{% endblock css %}

{% block mailing %}

<div class="br-subleft">
      <div class="pd-10">
        <a  href="{% url 'paquete-preview' borrador_pk=None %}" class="btn btn-warning bd-0 btn-compose"><i class="icon ion-ios-compose-outline"></i> Nuevo Paquete</a>
      </div>
    
    

      <h6 class="tx-uppercase tx-10 mg-t-40 pd-x-10 bd-b pd-b-10 tx-roboto tx-white-7">SECCIONES</h6>

      <nav class="nav br-nav-mailbox flex-column">
        <a href="{% url 'Bandejaeys' %}" class="nav-link active"><i class="icon fa fa-reply"></i> Recibidos</a>
        <a href="{% url 'Borradores' %}" class="nav-link"><i class="icon icon ion-edit"></i> Borradores</a>
        <a href="{% url 'bandeja-enviados' %}" class="nav-link"><i class="icon fa fa-share"></i> Enviados</a>
      </nav>
</div>


{% endblock mailing %}

{% block content %}

<div class="br-contentpanel">
    <div class="br-pageheader pd-y-15 pd-l-20">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
          <a class="breadcrumb-item"> {{proyecto}}</a>
          <a class="breadcrumb-item" href="{% url 'Bandejaeys' %}">Bandeja Entada y Salida</a>      
          <span class="breadcrumb-item active">Carga de Documentos</span>
        </nav>
    </div>
    <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
        <h4 class="tx-gray-800 mg-b-5">CREAR PAQUETE</h4>
    </div>
    <div class="br-pagebody pd-x-20 pd-sm-x-30">
        <div class="card bd-0 shadow-base">  
            <div class="br-section-wrapper">

                
                
                </form>
            </div>
        </div>
    </div>
     <div id="modaldemo2" class="modal fade col-md-12">
            <div class="modal-dialog modal-xlg col-md-8" role="document">
              <div class="modal-content bd-0 tx-14">
                <div class="modal-header pd-x-20">
                  <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Notice</h6>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body pd-20">
                    {% for field in form %}
                    <div class="form-group{% if field.errors %} invalid{% endif %}">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% for error in field.errors %}
                        <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="submit-btn btn btn-primary">Create</button>
                </div>
              </div>
            </div><!-- modal-dialog -->
          </div><!-- modal -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
          <script type="text/javascript">
           $(function(){
            $("#myModal").modal();
           });
          </script>
</div>
  
<script src="{% static 'jquery.steps/jquery.steps.js' %}"></script>    
<script src="{% static 'parsleyjs/parsley.js' %}"></script>  
<script>
    $(document).ready(function() {
        $('.select2').select2({
        language: "es",
        placeholder: 'seleccione un Documento',
        ajax: {
            url: "{% url 'datos-baes' %}",
            dataType: 'json',
            processResults: function (data) {
                        return {
                            results: $.map(data, function (item) {
                                return {id: item.id, text: item.Codigo_documento};
                            })
                        };
                    }
                }
        });
    });
</script>



{% endblock content %}