{% extends 'index-blank.html' %}

{% load crispy_forms_tags %}


{% block content %}
<div class="br-mainpanel" style="position: relative;">
<!--Titulo-->
  <div class="br-pageheader pd-y-15 pd-l-20">
      <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item"> {{proyecto}}</a>
        <a class="breadcrumb-item" href="{% url 'PanelCarga' %}">BAES</a>      
        <span class="breadcrumb-item active">Editar Documento</span>
      </nav>
  </div>
  <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <h4 class="tx-gray-800 mg-b-5"> Editar el documentos</h4>
    <p class="mg-b-0"></p>
    <div class="br-section-wrapper">
      <form method="post">{% csrf_token %}
          {{ form|crispy }}
          <input class="btn btn-primary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" type="submit" value="Guardar">
          <input class="btn btn-warning tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" type="button" onClick="javascript:history.go(-1);" value="Volver">

      </form>
    </div>
  </div>


</div>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script>
 $(document).ready(function() {
        $('#id_descripcion').summernote({
        placeholder: 'Hello stand alone ui',
        tabsize: 2,
        height: 120,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'help']]
        ]
        });
    });
</script>
{% endblock %}