{% extends 'index-blank.html' %}

{% load crispy_forms_tags %}

{% block navegacion %}
<div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item"> {{proyecto}}</a>
      <a class="breadcrumb-item" href="{% url 'Bandejaeys' %}">Bandeja de Entrada</a>      
      <span class="breadcrumb-item active">Detalle Paquete</span>
    </nav>
</div>
{% endblock navegacion %}
{% block mailing %}

<div class="br-subleft">
 
  
<h6 class="tx-uppercase tx-10 tx-mont tx-spacing-1 mg-t-10 pd-x-10 tx-white-7">SECCIONES</h6>

  <nav class="nav br-nav-mailbox flex-column">
       <a href="{% url 'Bandejaeys' %}" class="nav-link active"><i class="icon ion-person-stalker tx-16-force"></i> <strong>Inbox</strong></a>
    <a href="{% url 'Borradores' %}" class="nav-link"><i class="icon ion-person-stalker tx-16-force"></i> <strong>Borradores</strong></a>
    <a href="{% url 'bandeja-enviados' %}" class="nav-link"><i class="icon ion-person-stalker tx-16-force"></i> <strong>Enviados</strong></a>
  </nav>
</div><!-- br-subleft -->

{% endblock mailing %}
{% block content %}

<div class="br-contentpanel">
  <div class="br-pageheader pd-y-15 pd-md-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item"> {{proyecto}}</a>
      <a class="breadcrumb-item" href="{% url 'Bandejaeys' %}">Bandeja Entrada y Salida</a>      
      <span class="breadcrumb-item active">Detalle Paquete</span>
    </nav>
  </div><!-- br-pageheader -->

  <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <h4 class="tx-gray-800 mg-b-5">Detalle del paquete.</h4>
  </div>

  <div class="d-flex align-items-center justify-content-start pd-x-20 pd-sm-x-30 pd-t-25 mg-b-20 mg-sm-b-30">

    <button id="showSubLeft" class="btn btn-secondary mg-r-10 hidden-lg-up"><i class="fa fa-navicon"></i></button>

    <!-- START: DISPLAYED FOR MOBILE ONLY -->
    <div class="dropdown hidden-sm-up">
      <a href="#" class="btn btn-outline-secondary" data-toggle="dropdown"><i class="icon ion-more"></i></a>
      <div class="dropdown-menu pd-10">
        <nav class="nav nav-style-1 flex-column">
          <a href="" class="nav-link">Share</a>
          <a href="" class="nav-link">Download</a>
          <div class="dropdown-divider"></div>
          <a href="" class="nav-link">Edit</a>
          <a href="" class="nav-link">Delete</a>
        </nav>
      </div><!-- dropdown-menu -->
    </div><!-- dropdown -->
    <!-- END: DISPLAYED FOR MOBILE ONLY -->
   </div><!-- d-flex -->

   <div class="col-lg-12">
            <div class="card shadow-base bd-0">
                <div class="form-layout form-layout-7 ">               
              <div class="row no-gutters">
              <div class="col-5 col-sm-4" style="text-align: center;color:black;font-weight: 900;font-size: 18px;">
                Numero de paquete:
              </div><!-- col-4 -->
              <div class="col-7 col-sm-8" style="color:black;font-weight: 900;font-size: 18px;">
                {{paquete.id}}
              </div><!-- col-8 -->
              </div> 
              <div class="row no-gutters">
                <div class="col-5 col-sm-4" style="text-align: center;color:black;font-weight: 900;font-size: 18px;">
                  Asunto:
                </div><!-- col-4 -->
                <div class="col-7 col-sm-8" style="color:black;font-weight: 900;font-size: 18px;">
                  {{paquete.asunto}}
                </div><!-- col-8 -->
              </div>
              <div class="row no-gutters">
                <div class="col-5 col-sm-4" style="text-align: center;color:black;font-weight: 900;font-size: 18px;">
                  creador:
                </div><!-- col-4 -->
                <div class="col-7 col-sm-8" style="color:black;font-weight: 900;font-size: 18px;">
                  {{paquete.owner}}
                </div><!-- col-8 -->
              </div>
               <div class="row no-gutters">
                <div class="col-5 col-sm-4" style="text-align: center;color:black;font-weight: 900;font-size: 18px;">
                  Asunto:
                </div><!-- col-4 -->
                <div class="col-7 col-sm-8" style="color:black;font-weight: 900;font-size: 18px;">
                  {{paquete.asunto}}
                </div><!-- col-8 -->
              </div>
                 <div class="row no-gutters">
                <div class="col-5 col-sm-4" style="text-align: center;color:black;font-weight: 900;font-size: 18px;">
                  Descripcion:
                </div><!-- col-4 -->
                <div class="col-7 col-sm-8" style="color:black;font-weight: 900;font-size: 18px;">
                  {{paquete.descripcion}}
                </div><!-- col-8 -->
              </div>
              <div class="row no-gutters">
                <div class="col-5 col-sm-4" style="text-align: center;color:black;font-weight: 900;font-size: 18px;">
                  fecha creacion:
                </div><!-- col-4 -->
                <div class="col-7 col-sm-8" style="color:black;font-weight: 900;font-size: 18px;">
                  {{paquete.fecha_creacion|date:"d-M-Y"}}
                </div><!-- col-8 -->
              </div> 
              <div class="row no-gutters">
                <div class="col-5 col-sm-4" style="text-align: center;color:black;font-weight: 900;font-size: 18px;">
                  Hora de creacion:
                </div><!-- col-4 -->
                <div class="col-7 col-sm-8" style="color:black;font-weight: 900;font-size: 18px;">
                  {{paquete.fecha_creacion|date:"H:i"}}
                </div><!-- col-8 -->
              </div>                                      
            </div>
              <table class="table table-striped mg-b-0 table-bordered table-primary">
                <thead class="thead-colored thead-primary">
                  <tr class="tx-10">
                    <th class="pd-y-5"style="text-align: center;">Especialidad</th>     
                    <th class="pd-y-5"style="text-align: center;">Nombre</th>                     
                    <th class="pd-y-5"style="text-align: center;">Tipo Documento</th>  
                    <th class="pd-y-5"style="text-align: center;">Codigo Documento</th>  
                    <th class="pd-y-5"style="text-align: center;">Revisión</th>
                    <th class="pd-y-5"style="text-align: center;">Status</th>                                    
                    <th class="pd-y-5"style="text-align: center;">Archivo</th>
                    <form method="POST">{% csrf_token %}
                      <th class="pd-y-5"style="text-align: center;">                       
                          <input type="submit" class="btn btn-outline-warning btn-oblong bd-2 pd-x-10 pd-y-5 tx-uppercase tx-bold tx-spacing-6 tx-10" value="Descargar todo"></input>                         
                        
                      </th>
                    </form>
                  </tr>
                </thead>
               
                <tbody>
                {% for version in versiones %}
                  <tr>                    
                    <td class="tx-12"style="text-align: center;font-weight:800;">{{version.documento_fk.Especialidad}} </td>       
                    <td class="tx-12"style="text-align: center;font-weight:800;">{{version.documento_fk.Descripcion}}</td>
                    <td class="tx-12"style="text-align: center;font-weight:800;">{{version.documento_fk.Tipo_Documento}}</td>
                    <td class="tx-12"style="text-align: center;font-weight:800;">{{version.documento_fk.Codigo_documento}} </td>  
                    <td class="tx-12"style="text-align: center;font-weight:800;">{{version.get_revision_display}}</td>
                    <td class="tx-12"style="text-align: center;font-weight:800;">{{version.get_estado_cliente_display}}</td>                    
                    <td class="tx-12"style="text-align: center;font-weight:800;"><a href="{{version.archivo.url}}"><i class="icon ion-archive fa-lg"></i></a></td>
                  </tr>    
                {% empty %}
                    <h4> El paquete no tiene documentos. </h4>
                {% endfor %}          
                </tbody>
                
              </table>
            
            </div><!-- card -->
          </div> 
          
        </div><!-- card-header -->
{% endblock content %}