{% extends 'index-base.html' %}


{% block navegacion %}
<div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item"> {{proyecto}}</a>
      <a class="breadcrumb-item" href="{% url 'PanelCarga' %}">Panel de Carga</a>      
      <span class="breadcrumb-item active"> Eliminar Documento</span>
    </nav>
</div>
{% endblock navegacion %}


{% block content %}
  
    <div id="modaldemo5" >
              <div class="modal-dialog" role="document">
                <div class="modal-content tx-size-sm">
                  <div class="modal-body tx-center pd-y-20 pd-x-20">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <i class="icon icon ion-ios-close-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>
                    <h4 class="tx-danger  tx-semibold mg-b-20">ATENCIÓN: Esta apunto de eliminar un registro!</h4>                    
                     <form method="POST">{% csrf_token %}
                    <p class="mg-b-20 mg-x-20">
                        <p class="mg-b-0 tx-uppercase tx-bold tx-inverse tx-poppins mg-t-10">Seguro que quieres eliminar este paquete  ?<br>
                        <h4 class="tx-gray-800 mg-b-5">" N° {{ paquete.id }}"?</h4>
                         </p>
                        <input type="submit" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20" onclick="windows.close();" value="Confirmar">
                    </p>
                    </form>
                    
                    </div><!-- modal-body -->
                  </div><!-- modal-content -->
                </div><!-- modal-dialog -->
              </div><!-- modal -->

{% endblock content %}
