{% extends 'index-blank.html' %}

{% load crispy_forms_tags %}

{% block navegacion %}
<div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item"> {{proyecto}}</a>
      <a class="breadcrumb-item" href="{% url 'Bandejaeys' %}">Bandeja de Entrada</a>      
      <span class="breadcrumb-item active">Detalle Transmittal</span>
    </nav>
</div>
{% endblock navegacion %}

{% block content %}

  <div class="br-pageheader pd-y-15 pd-md-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item"> {{proyecto}}</a>
      <a class="breadcrumb-item" href="{% url 'Bandejaeys' %}">Bandeja Transmittal</a>      
      <span class="breadcrumb-item active">Detalle Transmittal</span>
    </nav>
  </div><!-- br-pageheader -->
  <div class="pd-10 bg-gray-900 rounded">
            <ul class="nav nav-pills nav-pills-for-dark flex-column flex-md-row" role="tablist">
              <li class="nav-item"><a href="{% url 'paquete-preview' %}" class="btn btn-warning bd-0 btn-compose" role="tab">Nuevo Transmittal</a></li>
              <li class="nav-item"><a href="{% url 'Bandejaeys' %}" class="nav-link  mg-l-15"><i class="icon fa fa-reply"></i> Recibidos</a></li>
              <li class="nav-item"><a href="{% url 'bandeja-enviados' %}" class="nav-link mg-l-15"><i class="icon fa fa-share"></i> Enviados</a></li>
              <li class="nav-item"><a href="{% url 'Borradores' %}" class="nav-link mg-l-15 active"><i class="icon icon ion-edit"></i> Borradores</a></li>
            </ul>
          </div>

  <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <h4 class="tx-gray-800 mg-b-5">Detalle de Transmittal</h4>
  </div>


   <div class="col-lg-12">
            <div class="card shadow-base bd-0">
            <div class="form-layout form-layout-7 " STYLE="" >               
              <div class="row no-gutters">
                <div class="col-5 col-sm-4" style="text-transform:capitalize  ;justify-content:flex-start;text-align: center;color:black;font-weight: 900;font-size: 18px;">
                  Creador
                </div><!-- col-4 -->
                <div class="col-7 col-sm-8" style="text-transform:capitalize  ;justify-content:flex-start;color:black;font-weight: 900;font-size: 18px;">
                  {{paquete.owner}}
                </div><!-- col-8 -->
              </div>
              <div class="row no-gutters">
                <div class="col-5 col-sm-4" style="text-transform:capitalize  ;justify-content:flex-start;text-align: center;color:black;font-weight: 900;font-size: 18px;">
                  Destinatario
                </div><!-- col-4 -->
                <div class="col-7 col-sm-8" style="text-transform:capitalize  ;justify-content:flex-start;color:black;font-weight: 900;font-size: 18px;">
                  {{paquete.destinatario}}
                </div><!-- col-8 -->
              </div>
               <div class="row no-gutters">
                <div class="col-5 col-sm-4" style="text-transform:capitalize  ;justify-content:flex-start;text-align: center;color:black;font-weight: 900;font-size: 18px;">
                  Asunto
                </div><!-- col-4 -->
                <div class="col-7 col-sm-8" style="text-transform:capitalize  ;justify-content:flex-start;color:black;font-weight: 900;font-size: 18px;">
                  {{paquete.asunto}}
                </div><!-- col-8 -->
              </div>                
              <div class="row no-gutters">
                <div class="col-5 col-sm-4" style="text-transform:capitalize  ;justify-content:flex-start;text-align: center;color:black;font-weight: 900;font-size: 18px;">
                  Fecha creacion
                </div><!-- col-4 -->
                <div class="col-7 col-sm-8" style="text-transform:capitalize  ;justify-content:flex-start;color:black;font-weight: 900;font-size: 18px;">
                  {{paquete.fecha_creacion|date:"d-M-Y H:i"}}
                </div><!-- col-8 -->
              </div> 
              
              <div class="row no-gutters">
                <div class="col-5 col-sm-4" style="text-transform:capitalize  ;justify-content:flex-start;text-align: center;color:black;font-weight: 900;font-size: 18px;">
                Anexo de comentarios
                </div><!-- col-4 -->
                <div class="col-7 col-sm-8" style="text-transform:capitalize  ;justify-content:flex-start;color:black;font-weight: 900;font-size: 18px;">
                {% if paquete.comentario %}
                <a href="{{paquete.comentario.url}}">  <button class="btn btn-warning btn-oblong bd-2 pd-x-10 pd-y-5 tx-uppercase tx-bold tx-spacing-6 tx-10">Descargar</button></a>
                {% else %}    
                <div class="col-7 col-sm-8" style="text-transform:capitalize  ;justify-content:flex-start;color:black;font-weight: 900;font-size: 18px;">
                  NO HAY ANEXO DE COMENTARIOS
                </div>
                {% endif %}
                </div><!-- col-8 -->
              </div>  
              <div class="row no-gutters">
                <div class="col-5 col-sm-4" style="text-transform:capitalize  ;justify-content:flex-start;text-align: center;color:black;font-weight: 900;font-size: 18px;">
                Descargar Archivos
                </div><!-- col-4 -->
                <div class="col-7 col-sm-8" style="text-transform:capitalize  ;justify-content:flex-start;color:black;font-weight: 900;font-size: 18px;">
                {% if version.archivo.url is not None %}
                <form method="POST">{% csrf_token %}
                  <input type="submit" class="btn btn-warning btn-oblong bd-2 pd-x-10 pd-y-5 tx-uppercase tx-bold tx-spacing-6 tx-10" value="Descargar todo"></input>                         
                </form>
                {% else %}    
                <div class="col-7 col-sm-8" style="justify-content:flex-start;color:black;font-weight: 900;font-size: 18px;">
                  NO HAY ARCHIVOS EN ESTE TRANSMITTAL
                </div>
                {% endif %}
                </div><!-- col-8 -->
              </div>                                     
            </div>
              <table class="table table-striped mg-b-0 table-bordered table-primary">
                <thead class="thead-colored thead-primary">
                  <tr class="tx-10">
                    <th class="pd-y-5"style="text-align: center;">Especialidad</th>     
                    <th class="pd-y-5"style="text-align: center;">Nombre</th>                     
                    <th class="pd-y-5"style="text-align: center;">Tipo Documento</th>  
                    <th class="pd-y-5"style="text-align: center;">Codigo Documento</th>  
                    <th class="pd-y-5"style="text-align: center;">Revisión</th>
                    <th class="pd-y-5"style="text-align: center;">Estado</th>                                  
                    <th class="pd-y-5"style="text-align: center;">Archivo</th>
                   
                  </tr>
                </thead>
               
                <tbody>
                {% for version in versiones %}
                  <tr>                    
                    <td class="tx-12"style="text-align: center;font-weight:800;">{{version.documento_fk.Especialidad}} </td>       
                    <td class="tx-12"style="text-align: center;font-weight:800;">{{version.documento_fk.Descripcion}}</td>
                    <td class="tx-12"style="text-align: center;font-weight:800;">{{version.documento_fk.Tipo_Documento}}</td>
                    <td class="tx-12"style="text-align: center;font-weight:800;">{{version.documento_fk.Codigo_documento}} </td>  
                    <td class="tx-12"style="text-align: center;font-weight:800;">{{version.get_revision_display}}</td>
                   
                    {% if request.user.perfil.rol_usuario >= 1 and request.user.perfil.rol_usuario <= 3 %} 
                        {% if version.estado_contratista is None %}
                          <td class="tx-12"style="text-align: center;font-weight:800;">{{version.get_estado_cliente_display}}</td> 
                        {% else %}
                          <td class="tx-12"style="text-align: center;font-weight:800;">{{version.get_estado_contratista_display}}</td> 
                        {% endif %}  
                    {% elif request.user.perfil.rol_usuario >= 4 and request.user.perfil.rol_usuario <= 6 %}  
                        {% if version.estado_cliente is None %}
                          <td class="tx-12"style="text-align: center;font-weight:800;">{{version.get_estado_contratista_display}}</td> 
                        {% else %}
                          <td class="tx-12"style="text-align: center;font-weight:800;">{{version.get_estado_cliente_display}}</td> 
                        {% endif %}
                    {% endif %}     
      
                    {% if version.archivo.url is not None %}
                      <td class="tx-12"style="text-align: center;font-weight:800;"colspan="2">
                      <a href="{{version.archivo.url}}"><i class="icon ion-archive fa-lg"></i></a>
                    </td>
                    {% else %}
                    
                       <th class="pd-y-5"style="text-align: center;">No hay documento para Descargar</th>  

                    {% endif %}
                  </tr>    
                {% empty %}
                    <tr>
          <th style="background-color:#fff;" colspan="7">
          <div class="alert alert-info alert-bordered pd-y-20" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <div class="d-sm-flex align-items-center justify-content-start">
              <i class="icon ion-ios-information alert-icon tx-52 mg-r-20"></i>
              <div class="mg-t-20 mg-sm-t-0">
                <h5 class="mg-b-2">AVISO!</h5>
                <p class="mg-b-0 tx-gray">El Transmittal no tiene documentos</p>
              </div>
            </div><!-- d-flex -->
          </div>
          </th>
          </tr>
                {% endfor %}          
                </tbody>
               
              </table>
              <div class="card col-12 bd-0 mg-t-20 mg-b-30 ">
                <div class="card-header tx-medium bd-0 tx-white bg-info">
                  Descripción:
                </div><!-- card-header -->
                <div class="card-body bd bd-t-0 rounded-bottom">
                  <p class="mg-b-0"><strong>{{paquete.descripcion}}</strong></p>
                </div><!-- card-body -->
              </div>
            </div><!-- card -->
{% endblock content %}