{% extends 'index-pdc.html' %}

{% load crispy_forms_tags %}

{% block content %}
<!--Titulo-->
 <div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item" > {{proyecto}} </a>
      <span class="breadcrumb-item active">Panel De Carga</span>
    </nav>
  </div>
  <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <h4 class="tx-gray-800 mg-b-5">Panel de carga de entregables.</h4>
    <p class="mg-b-0"></p>
  </div>

  <div class="br-section-wrapper">
<!--Tabla-->
<h4 class="mg-b-0 tx-uppercase tx-bold tx-inverse tx-poppins" style="text-align: left; margin-right: 30px;" >{{proyecto}}</h4>
                    {% if request.user.perfil.rol_usuario == 1 %}
                    <div class="col-md-12 bd bg-gray-100  d-flex align-items-center justify-content-between pd-t-50 pd-b-40 mg-b-30">
                      <ul class="col-12 nav nav-gray-600 active-info tx-uppercase tx-12 tx-medium tx-spacing-2 flex-column flex-sm-row " role="tablist">
                        <form class="col-6" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                              <li class="nav-item float-left"><input style="width: auto;margin-top:15px;" type="file" name="importfile" id="fileInput" onchange="fileValidation()"></a></li>
                              <li class="nav-item mg-l-5 float-left"><button class="btn btn-danger" type="submit" disabled="disabled"> Importar </button></li>
                        </form>
                              <li class="nav-item mg-l-5"><a href="{% url 'documento-crear' %}"><button class="btn btn-primary">Insertar por formulario</button></a></li>
                              <li class="nav-item mg-l-5"><a href="{% url 'panel-export' %}"><button class="btn btn-success"> Descargar Excel </button></a></li>            
                              <li class="nav-item mg-l-5"><a href="http://143.198.55.178/static/media/proyecto/temp/Plantilla_vacio_PDC.xlsx"><button class="btn btn-warning"> Descargar Plantilla </button></a></li>
                      </ul>
                    </div><!-- ht-65 -->
                    {% else %}
                    <div class="col-md-12 bd bg-gray-100  d-flex align-items-center justify-content-between pd-t-50 pd-b-40 mg-b-30">
                      <ul class="col-12 nav nav-gray-600 active-info tx-uppercase tx-12 tx-medium tx-spacing-2 flex-column flex-sm-row " role="tablist">
                         <form class="col-6" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                              <li class="nav-item float-left"><input style="width: auto;margin-top:15px;" type="file" name="importfile" id="fileInput" onchange="fileValidation()" disabled></a></li>
                              <li class="nav-item mg-l-5 float-left"><button class="btn btn-danger" type="submit" disabled="disabled"> Importar </button></li>
                         </form>
                              <li class="nav-item mg-l-5"><a href="{% url 'documento-crear' %}"><button class="btn btn-primary" disabled>Insertar por formulario</button></a></li>
                              <li class="nav-item mg-l-5"><a href="{% url 'panel-export' %}"><button class="btn btn-success"disabled> Descargar Excel </button></a></li>            
                              <li class="nav-item mg-l-5"><a href="http://143.198.55.178/static/media/proyecto/temp/Plantilla_vacio_PDC.xlsx"><button class="btn btn-warning"disabled> Descargar Plantilla </button></a></li>
                      </ul>
                    </div><!-- ht-65 -->
                    {% endif %}
                 

  <!--Upload Archivos-->
    <div class="row row-sm d-flex">
        <table  class="table table-responsive table-striped mg-b-0 table-bordered table-primary ">       
  <!--Table-->
  <form class="form-group col-lg-10 mg-t-20 mg-b-20" style="margin-top: 30px;" method="GET">
    <div id="accordion" class="accordion mg-b-20" role="tablist" aria-multiselectable="true">
      <div class="card bg-teal">
        <div class="card-header" role="tab" id="headingOne">
          <h6 class="mg-b-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne" class="tx-gray-800 transition" style="color: #fff;">
              FILTROS DE BUSQUEDA <i class="icon ion-search"></i>
            </a>
          </h6>
        </div><!-- card-header -->

        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
          <ul class="nav nav-gray-600 active-info tx-uppercase tx-12 tx-medium tx-spacing-2 flex-column flex-sm-row " role="tablist" style="color: #fff;">
          <!--Filtros-->
              <li class="nav-item mg-10"style="color: #fff;">{{filter.form.Especialidad|as_crispy_field}}</li>
              <li class="nav-item mg-10"style="color: #fff;">{{filter.form.Descripcion|as_crispy_field}}</li>
              <li class="nav-item mg-10"style="color: #fff;">{{filter.form.Codigo_documento|as_crispy_field}}</li>
              <li class="nav-item mg-10"style="color: #fff;">{{filter.form.Tipo_Documento|as_crispy_field}}</li><br>
              <li class="nav-item mg-t-35">
                <button class="btn btn-oblong btn-warning justify-align-center"type="submit"><i class="fa fa-search mg-r-10"></i>Buscar</button>
              </li>
          </ul>
        </div>
      </div><!-- card -->
      <!-- ADD MORE CARD HERE -->
    </div><!-- accordion -->
        
    </form>
          <thead class="mg-t-30">
            <tr>
              {% if request.user.perfil.rol_usuario == 1 %}
              <th style="text-align: center;border: 2px solid; color: white;vertical-align: middle;padding: 5px; font-size: 10px;" colspan="2">
                <a class="nav-link" href="{% url 'documento-eliminar' %}"><button class="btn btn-danger" id="delete_btn" type="submit"><i class="icon ion-trash-b"></i></button></a>
                </th>                
        
              {% else %}
              <th style="text-align: center;border: 2px solid; color: white;vertical-align: middle;padding: 5px; font-size: 10px;" colspan="2">
                <button class="btn btn-danger" id="delete_btn" type="submit" disabled><i class="icon ion-trash-b"></i></button>
                </th>
              {% endif %}
              <th style="text-align: center;border: 2px solid; color: white;vertical-align: middle;padding: 5px; font-size: 10px;">Especialidad</th>
              <th style="text-align: center;border: 2px solid; color: white;vertical-align: middle;padding: 5px; font-size: 10px;">Descripcion Documentos</th>
              <th style="text-align: center;border: 2px solid; color: white;vertical-align: middle;padding: 5px; font-size: 10px;">Codigo Documento</th>
              <th style="text-align: center;border: 2px solid; color: white;vertical-align: middle;padding: 5px; font-size: 10px;">Tipo Doc.</th>
              <th style="text-align: center;border: 2px solid; color: white;vertical-align: middle;padding: 5px; font-size: 10px;" colspan="2">Fecha Programada de Emision</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <th colspan="6"></th>
              <th style="text-align: center;border: 5px;border-color: black; color:black;vertical-align: middle;padding-bottom: 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px; font-size: 10px;">Inicio Emision en Rev B</th>              
              <th style="text-align: center;border: 5px;border-color: black; color:black;vertical-align: middle;padding-bottom: 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px; font-size: 10px;">Emision en Rev 0</th>
            </tr>
            <!--Loop Listar Documento-->
            {% for documento in documentos %}
            
            <tr>
              {% if request.user.perfil.rol_usuario == 1 or request.user.perfil.rol_usuario == 4 %}
              <th style="text-align: center;border: 2px;border-color: grey; color: black;vertical-align: middle;padding-bottom: 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px; font-size: 10px;" colspan="2">
                <a href="{% url 'documento-actualizar' documento.pk %}" > <i class="fa fa-pencil"></i> </a>
              </th>  
              {% else %} 
              <th style="text-align: center;border: 2px;border-color: grey; color: black;vertical-align: middle;padding-bottom: 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px; font-size: 10px;" colspan="2">
                
              </th>           
              {% endif %}
              <th style="text-align: center;border: 2px;border-color: grey; color: black;vertical-align: middle;padding-bottom: 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px; font-size: 10px;" > {{documento.Especialidad}} </th>
              <th style="text-align: center;border: 2px;border-color: grey; color: black;vertical-align: middle;padding-bottom: 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px; font-size: 10px;" > {{documento.Descripcion}} </th>
              <th style="text-align: center;border: 2px;border-color: grey; color: black;vertical-align: middle;padding-bottom: 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px; font-size: 10px;" > {{documento.Codigo_documento}} </th>
              <th style="text-align: center;border: 2px;border-color: grey; color: black;vertical-align: middle;padding-bottom: 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px; font-size: 10px;" > {{documento.Tipo_Documento}}  </th>                  
              <th style="text-align: center;border: 2px;border-color: grey; color: black;vertical-align: middle;padding-bottom: 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px; font-size: 10px;" > {{documento.fecha_Emision_B|date:'d-M-Y'}} </th>
              <th style="text-align: center;border: 2px;border-color: grey; color: black;vertical-align: middle;padding-bottom: 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px; font-size: 10px;" > {{documento.fecha_Emision_0|date:'d-M-Y'}}</th>
              
            </tr>           
            
            {% empty %}
            <div class="modal fade in" id="myModal" role="dialog" style="display: block; padding-right: 16px;">
              <div class="modal-dialog" role="document">
                <div class="modal-content tx-size-sm">
                  <div class="modal-body tx-center pd-y-20 pd-x-20">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <i class="icon icon ion-ios-close-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>
                    <h4 class="tx-danger  tx-semibold mg-b-20">Error: No hay Información Ingresada!</h4>
                    <p class="mg-b-20 mg-x-20">Recuerde Que puede importar desde <strong>Excel</strong> o Insertar Manualmente por formulario.</p>
                    <h6 class="tx-info tx-semibold mg-b-20">Descargar plantilla de informacion <a href="{% url 'panel-export' %}">Aqui</a></h6>
                    <button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20" data-dismiss="modal" aria-label="Close">
                      Continue</button>
                    </div><!-- modal-body -->
                  </div><!-- modal-content -->
                </div><!-- modal-dialog -->
          </div>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
          <script type="text/javascript">
           $(function(){
            $("#myModal").modal();
           });
          </script>
      {% endfor %}
            <!--Fin Loop-->
          </tbody>
        </table>  
      </div>   

{% if is_paginated %}
    <div class="col-md-9 col-9 ht-80 d-flex align-items-center justify-content-center">
      <nav aria-label="Page navigation">      
        <ul class="pagination pagination-basic mg-b-0">
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page=1"><i class="fa fa-angle-double-left"></i></a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="ANTERIOR"><i class="fa fa-angle-left"></i></a></li>
          
          {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link " href="page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
          {% endif %}
          <li class="page-item active"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
          <li class="page-item disabled"><span class="page-link">...</span></li>
          <li class="page-item"><a class="page-link" href="#">{{ page_obj.paginator.num_pages }}</a></li>          
       {% endif %}
       {% if page_obj.has_next %}   
       
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
              <i class="fa fa-angle-double-right"></i>
            </a>
          </li>          
    {% endif %}
        </ul>
      </nav>
    </div>
{% endif %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>



<script>
  function fileValidation(){
      var fileInput = document.getElementById('file');
      var filePath = fileInput.value;
      var allowedExtensions = /(.xlsx|.xls|.csv)$/i;
      if(!allowedExtensions.exec(filePath)){
          alert('Porfavor, Adjuntar Archivos formato: .xlsx/ .xls/ .csv.');
          fileInput.value = '';
          return false;
      }else{
          //Image preview
          if (fileInput.files && fileInput.files[0]) {
              var reader = new FileReader();
              reader.onload = function(e) {
                  document.getElementById('imagePreview').innerHTML = '<img src="'+e.target.result+'"/>';
              };
              reader.readAsDataURL(fileInput.files[0]);
          }
      }
  }
</script>

<script>
  $("#fileInput").change(function(){
    $("button").prop("disabled", this.files.length == 0);
});
</script>
<script>
$('#ordenName').keyup(function() {
  var datos = new String($('#ordenName').val());
  datos = datos.toUpperCase(datos);
  $('#lblOrden').html(datos);
  $('#ordenName').val(datos);
})
</script>
<script>
$('#ordenName2').keyup(function() {
  var datos = new String($('#ordenName2').val());
  datos = datos.toUpperCase(datos);
  $('#lblOrden').html(datos);
  $('#ordenName2').val(datos);
})
</script>
<script>
$('#ordenName3').keyup(function() {
  var datos = new String($('#ordenName3').val());
  datos = datos.toUpperCase(datos);
  $('#lblOrden').html(datos);
  $('#ordenName3').val(datos);
})
</script>
<script>
$('#ordenName4').keyup(function() {
  var datos = new String($('#ordenName4').val());
  datos = datos.toUpperCase(datos);
  $('#lblOrden').html(datos);
  $('#ordenName4').val(datos);
})
</script>
<script>
$('#ordenName5').keyup(function() {
  var datos = new String($('#ordenName5').val());
  datos = datos.toUpperCase(datos);
  $('#lblOrden').html(datos);
  $('#ordenName5').val(datos);
})
</script>
<script>
   $('.datepicker').datetimepicker.dates['es'] = {
                    days: ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo"],
                    daysShort: ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab", "Dom"],
                    daysMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa", "Do"],
                    months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                    monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                    today: "Hoy"
                };


  $('.datepicker').datetimepicker({
              uiLibrary: 'bootstrap4',
              defaultDate: "+1w",
              showOn: 'button',
              numberOfMonths: 1,
              format: 'yyyy-mm-dd',
              language: 'es',
              daysShort: ["Lun", "Mar", "Mie", "Juev", "Vie", "Sab","Dom"],
              weekStart: 1,
              minView: "day",
              minuteStep: 61,
              autoclose: true
 });
</script>
{% endblock content %}
    