{% extends 'index-base.html' %}

{% block content %}
  <div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item" href="{% url 'Escritorio' %}">Escritorio</a>
      <span class="breadcrumb-item active">Panel De Carga</span>
    </nav>
  </div>
<!--Titulo-->
  <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <h4 class="tx-gray-800 mg-b-5">Panel de carga de entregables.</h4>
    <p class="mg-b-0"></p>
  </div>

  <div class="br-section-wrapper">
    <div class="row row-sm mg-t-20">

<!--Upload Archivos-->
  <form class="col-12" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label><strong>Subir Excel:</strong></label>
    <input type="file" id="file" onchange="return fileValidation()" name="importfile" class="form-control-file">
    <button type="submit" class="btn btn-oblong btn-danger mg-t-15 mg-l-15"><i class="icon ion-upload mg-r-10"></i> Cargar </button>
  </form>

<!--Boton Modals-->
    <div> 
      <a href="{% url 'documento-crear' %}" class=" btn btn-primary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-t-15"> Insertar Datos Por Formulario</a>
    </div>

<!--Boton Excel-->
    <div class="form-group">
      <a href="" class="btn btn-success btn-with-icon btn-block mg-t-15"  onclick="exportTableToExcel('tblData')">
        <div class="ht-40">
          <span class="icon wd-40"><i class="fa fa-download"></i></span>
          <span class="pd-x-15">Descargar Excel</span>
        </div>
      </a>
    </div>    
  </div> 

  {{proyecto}}
<!--Tabla-->
  <div class="row row-sm d-flex justify-content-center mg-t-20" >
      <div class="bd bd-gray-300 rounded table-responsive">
        <table class="table table-striped mg-b-0 table-bordered table-primary"id="tblData">
          <thead>
            <tr>
              <th style="text-align: center;border: 2px;border-color: grey; color: white;">Especialidad</th>
              <th style="text-align: center;border: 2px;border-color: grey; color: white;">Tipo <br> Doc.</th>
              <th style="text-align: center;border: 2px;border-color: grey; color: white;">Descripcion <br>Documentos</th>
              <th style="text-align: center;border: 2px;border-color: grey; color: white;">N° Documento <br>Contractual</th>
              <th style="text-align: center;border: 2px;border-color: grey; color: white;" colspan="2">Fecha Programada de Emision</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th style="text-align: center;border: 5px;border-color: black; color: grey;">Inicio Emision en Rev B</th>              
              <th style="text-align: center;border: 5px;border-color: black; color: grey;">Emision en Rev 0</th>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

<!--Fin modals-->
<script type="text/javascript">
  $('#datepickerNoOfMonths').datepicker({
  showOtherMonths: true,
  selectOtherMonths: true,
  numberOfMonths: 1
  });
  </script>

<script>
  $(function(){

    // showing modal with effect
    $('.modal-effect').on('click', function(){
      var effect = $(this).attr('data-effect');
      $('#modaldemo1').addClass(effect, function(){
        $('#modaldemo1').modal('show');
      });
      return false;
    });

    // hide modal with effect
    $('#modaldemo1').on('hidden.bs.modal', function (e) {
      $(this).removeClass (function (index, className) {
          return (className.match (/(^|\s)effect-\S+/g) || []).join(' ');
      });
    });
  });
</script>

<script>
  function exportTableToExcel(tableID, filename = ''){
    var downloadLink;
    var dataType = 'application/vnd.ms-excel';
    var tableSelect = document.getElementById(tableID);
    var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
    
    // Specify file name
    filename = filename?filename+'.xlsx':'excel_data.xls';
    
    // Create download link element
    downloadLink = document.createElement("a");
    
    document.body.appendChild(downloadLink);
    
    if(navigator.msSaveOrOpenBlob){
        var blob = new Blob(['ufeff', tableHTML], {
            type: dataType
        });
        navigator.msSaveOrOpenBlob( blob, filename);
    }else{
        // Create a link to the file
        downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
    
        // Setting the file name
        downloadLink.download = filename;
        
        //triggering the function
        downloadLink.click();
    }
  }
  }
</script>

<script>
  $(function(){
    'use strict'

    // Toggles
    $('.toggle').toggles({
      on: true,
      height: 26
    });

    // Input Masks
    $('#dateMask').mask('99/99/9999');
    $('#phoneMask').mask('(999) 999-9999');
    $('#ssnMask').mask('999-99-9999');

    // Datepicker
    $('.fc-datepicker').datepicker({
      showOtherMonths: true,
      selectOtherMonths: true
    });

    $('#datepickerNoOfMonths').datepicker({
      showOtherMonths: true,
      selectOtherMonths: true,
      numberOfMonths: 2
    });

    // Time Picker
    $('#tpBasic').timepicker();
    $('#tp2').timepicker({'scrollDefault': 'now'});
    $('#tp3').timepicker();

    $('#setTimeButton').on('click', function (){
      $('#tp3').timepicker('setTime', new Date());
    });

    // Color picker
    $('#colorpicker').spectrum({
      color: '#17A2B8'
    });

    $('#showAlpha').spectrum({
      color: 'rgba(23,162,184,0.5)',
      showAlpha: true
    });

    $('#showPaletteOnly').spectrum({
        showPaletteOnly: true,
        showPalette:true,
        color: '#DC3545',
        palette: [
            ['#1D2939', '#fff', '#0866C6','#23BF08', '#F49917'],
            ['#DC3545', '#17A2B8', '#6610F2', '#fa1e81', '#72e7a6']
        ]
    });


    // Rangeslider
    if($().ionRangeSlider) {
      $('#rangeslider1').ionRangeSlider();

      $('#rangeslider2').ionRangeSlider({
          min: 100,
          max: 1000,
          from: 550
      });

      $('#rangeslider3').ionRangeSlider({
          type: 'double',
          grid: true,
          min: 0,
          max: 1000,
          from: 200,
          to: 800,
          prefix: '$'
      });

      $('#rangeslider4').ionRangeSlider({
          type: 'double',
          grid: true,
          min: -1000,
          max: 1000,
          from: -500,
          to: 500,
          step: 250
      });
    }

  });
</script>
<script>
function fileValidation(){
    var fileInput = document.getElementById('file');
    var filePath = fileInput.value;
    var allowedExtensions = /(.xlsx|.xls|.csv)$/i;
    if(!allowedExtensions.exec(filePath)){
        alert('Porfavor, Adjuntar Archivos formato: .xlsx/ .xls/ .csx.');
        fileInput.value = '';
        return false;
    }else{
        //Image preview
        if (fileInput.files && fileInput.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('imagePreview').innerHTML = '<img src="'+e.target.result+'"/>';
            };
            reader.readAsDataURL(fileInput.files[0]);
        }
    }
}
</script>
{% endblock content %}
    