{% extends 'index-base.html' %}

{% block content %}
  <div class="br-section-wrapper">
    <div class="row row-sm">
      <div class="bd bd-gray-300 rounded table-responsive">
        <table class="table mg-b-0">
          <thead>
            <tr>
              <th style="text-align: center;border: 2px;border-color: grey;">Especialidad</th>
              <th style="text-align: center;border: 2px;border-color: grey;">Tipo <br> Doc.</th>
              <th style="text-align: center;border: 2px;border-color: grey;">Descripcion <br>Documentos</th>
              <th style="text-align: center;border: 2px;border-color: grey;">N° Documento <br>Contractual</th>
              <th style="text-align: center;border: 2px;border-color: grey;" colspan="2">Fecha Programada de Emision</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th style="text-align: center;border: 2px;border-color: grey;">Inicio Emision en Rev 0</th>              
              <th style="text-align: center;border: 2px;border-color: grey;">Emision en Rev 0</th>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Garrett Winters</td>
              <td>Accountant</td>
              <td>$170,750</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Ashton Cox</td>
              <td>Junior Technical Author</td>
              <td>$86,000</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Cedric Kelly</td>
              <td>Senior Javascript Developer</td>
              <td>$433,060</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Airi Satou</td>
              <td>Accountant</td>
              <td>$162,700</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
  </div>


{% endblock content %}
    