{% extends 'index-base.html' %}

{% block content %}   
<div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item" href="{% url 'index' %}">Escritorio</a>
      <span class="breadcrumb-item active">Bandeja de Entrada y Salida</span>
    </nav>
  </div>
<!--Titulo-->
  <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <h4 class="tx-gray-800 mg-b-5">Bandeja de Entrada y Salida</h4>
    <p class="mg-b-0"></p>
  </div>

<div class="col-lg-12 mg-t-20 mg-lg-t-0">
            <div class="card shadow-base bd-0">
              <div class="card-header pd-20 bg-transparent">
                <h6 class="card-title tx-uppercase tx-12 mg-b-0"></h6>
              </div><!-- card-header -->
              <table class="table table-responsive mg-b-0 tx-12">
                <thead>
                  <tr class="tx-10">
                    <th class="pd-y-5">Package Number</th>
                    <th class="pd-y-5 tx-right">Nombre</th>
                    <th class="pd-y-5">Propietario</th>
                    <th class="pd-y-5 tx-center">Revisado por</th>
                    <th class="pd-y-5">Revisado</th>
                    <th class="pd-y-5 tx-right">Status</th>
                    <th class="pd-y-5">Cant. Reviciones</th>
                    <th class="pd-y-5">Accion</th>
                  </tr>
                </thead>
                <tbody>
                  {% for documento in documentos %}
                  <tr>
                    <td>
                      <a href="" class="tx-inverse tx-14 tx-medium d-block">{{documento.num_documento}}</a>
                    </td>
                    <td class="valign-middle tx-right">{{documento.num_documento}}</td>
                    <td class="valign-middle"><span class="tx-success"><i class="icon ion-android-arrow-up mg-r-5"></i>33.34%</span> from last week</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><span class="tx-11 d-block"><span class="square-8 bg-success mg-r-5 rounded-circle"></span> 20 </span></td>
                    <td class="valign-middle tx-center">
                      <a href="" class="tx-gray-600 tx-24"><i class="icon ion-android-more-horizontal"></i></a>
                    </td>
                  </tr>
                  {% endfor %} 
                  
                 
                </tbody>
              </table>
              <div class="card-footer tx-12 pd-y-15 bg-transparent">
                <a href=""><i class="fa fa-angle-down mg-r-5"></i>Ver Mas.</a>
              </div><!-- card-footer -->
            </div><!-- card -->
          </div>
{% endblock content %}