{% extends "account/login_base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account socialaccount %}

{% block content %}
 <div class="login-wrapper wd-300 wd-xs-350 pd-25 pd-xs-40 bg-white rounded shadow-base">
    <div class="signin-logo tx-center tx-28 tx-bold tx-inverse"><span class="tx-normal">[</span> PLANNIT <span class="tx-normal">]</span></div>
        <div class="signin-logo tx-center tx-35 tx-bold tx-inverse">{% trans "Sign In" %}</div>
        <div class="br-msg-body">
            <h6 class="tx-inverse mg-b-25 lh-4">POLÍTICAS DE CONFIDENCIALIDAD.</h6>
    
            <p>
                De igual forma como lo establecen las Condiciones del Servicio, conservarás los derechos de propiedad intelectual que poseas sobre tu contenido. En resumen, lo que te pertenece a ti continúa siendo tuyo.
                No reclamamos la propiedad de ningún contenido (incluidos textos, datos, información y archivos) que subas, compartas o almacenes en tu cuenta de Plannit. Nuestras Condiciones del Servicio nos permiten prestarte los servicios que quieras. <br><br>
                <ul>Tú controlas quiénes pueden acceder a la información que tengas almacenada en nuestra plataforma. No compartiremos tus archivos ni datos con nadie.</ul>
                <ul>No haremos Público ningún documento Privado.</ul>
                <ul>No utilizaremos documentos Privados para campañas promocionales ni de marketing.</ul>
                <ul>Solo guardaremos tu información y datos el tiempo que requieras.</ul>
                <ul>Puedes realizar la descarga de los datos almacenados si decides dejar de usar Plannit.</ul></p>
          </div>
        </div>
    </div>
</div>
{% endblock %}
