{% extends 'account/login_perfil.html' %}

{% block content %}
  <div class="br-profile-page">

      <div class="card shadow-base bd-0 rounded-0 widget-4">
        <div class="card-header ht-75">
       
        </div><!-- card-header -->
        <div class="card-body">
          
          <h2 class="tx-white-9"style="color:#fff;">Bienvenido! : </h2>
          <div class="card-profile-img">
            
          </div><!-- card-profile-img -->
          <h4 class="tx-normal tx-roboto tx-white"> {{user}} </h4>
          <p class="mg-b-25">Wine Connoisseur</p>

          <!--<p class="wd-md-500 mg-md-l-auto mg-md-r-auto mg-b-25">Singer, Lawyer, Achiever, Wearer of unrelated hats, Data Visualizer, Mayonaise Tester. I don't know what alt-tab does. Storyteller.</p>-->

          <p class="mg-b-0 tx-24">
           
            <input type="button" class="btn btn-teal" href="{% url 'proyecto-lista' %}" value="Elegir Proyecto">
            
            <input type="button" class="btn btn-teal" href="{% url 'proyecto-crear' %}" value="Crear Proyecto">
          </p>
        </div><!-- card-body -->
      </div><!-- card -->

    
    </div><!-- br-mainpanel -->
{% endblock content %}