{% extends 'account/login_perfil.html' %}

{% block content %}
  <div class="br-profile-page bg-warning">
        {% include "messege.html" %}

      <div class="card shadow-base bd-0 rounded-0 widget-4">
      
        <div class="card-header ht-75 bg-secondary">
          <a href="{% url 'account_logout' %}">
          <button href="{% url 'account_logout' %}" type="button" class="btn btn-warning" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            <span >Cerrar Sesion</span>
          </button>
        </a>
        </div><!-- card-header -->
        <div class="card-body">
          
          <h1 class="d-block tx-25 col-12 tx-uppercase tx-medium tx-spacing-1" style="color: white;">¡Bienvenido! </h1>
        
          <h2 class="d-block tx-22 col-12 tx-uppercase tx-medium tx-spacing-1" style="color: #fff;">{{user.first_name}} {{user.last_name}} </h2>
    

          <!--<p class="wd-md-500 mg-md-l-auto mg-md-r-auto mg-b-25">Singer, Lawyer, Achiever, Wearer of unrelated hats, Data Visualizer, Mayonaise Tester. I don't know what alt-tab does. Storyteller.</p>-->

          <p class="mg-b-0 tx-24">
           
            <a href="{% url 'proyecto-select' %}"><input type="button" class="btn btn-warning" value="Elegir Proyecto"></a>
            
            <a href="{% url 'proyecto-crear' %}"><input type="button" class="btn btn-warning" value="Crear Proyecto"></a>
          </p>
        </div><!-- card-body -->
      </div><!-- card -->     
          
    
      </div><!-- br-pagebody -->
    
    </div><!-- br-mainpanel -->
{% endblock content %}