{% extends 'index-base.html' %}


{% block content %}

<div class="pd-15">
  <h4 class="tx-gray-800 mg-b-5">Escritorio</h4>
</div>
<div class="br-pagebody mg-t-5 pd-x-30">
  <!--Fila 1-->
  <div class="row no-gutters widget-1 shadow-base mg-t-20">
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-header bg-orange"style="background-color: #B9770E;">
          <h6 class="card-title"style="color:#fff">DOCUMENTOS TOTALES</h6>
        </div><!-- card-header -->
        <div class="card-footer">
          <div>
            <h6 class="tx-inverse"> {{datos_tabla.0}} </h6>
          </div>
        </div><!-- card-footer -->
      </div><!-- card -->
    </div><!-- col-3 -->
    <div class="col-sm-6 col-lg-3 mg-t-1 mg-sm-t-0">
      <div class="card">
        <div class="card-header bg-orange" style="background-color: #B9770E;">
          <h6 class="card-title" style="color: white;">Documentos emitidos</h6>
        </div><!-- card-header -->
        <div class="card-footer">
          <div>
            <h6 class="tx-inverse"> {{datos_tabla.1}} </h6>
          </div>
        </div><!-- card-footer -->
      </div><!-- card -->
    </div><!-- col-3 -->
    <div class="col-sm-6 col-lg-3 mg-t-1 mg-sm-t-0">
      <div class="card">
        <div class="card-header" style="background-color: #B9770E;">
          <h6 class="card-title" style="color:white;">Documentos aprobados</h6>
        </div><!-- card-header -->
        <div class="card-footer">
          <div>
            <h6 class="tx-inverse"> {{datos_tabla.2}} </h6>
          </div>
        </div><!-- card-footer -->
      </div><!-- card -->
    </div><!-- col-3 -->
    <div class="col-sm-6 col-lg-3 mg-t-1 mg-sm-t-0">
      <div class="card">
        <div class="card-header" style="background-color: #B9770E;">
          <h6 class="card-title" style="color: white;">Doc. atrasados de emisión</h6>
        </div><!-- card-header -->
        <div class="card-footer">
          <div>
            <h6 class="tx-inverse"> {{datos_tabla.3}} </h6>
          </div>
        </div><!-- card-footer -->
      </div><!-- card -->
    </div><!-- col-3 -->
  </div>
<!--Fila 2-->
  <div class="row no-gutters widget-1 shadow-base mg-t-20">
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-header" style="background-color: #B9770E;">
          <h6 class="card-title" style="color:#fff">Doc. en revisión cliente</h6>
        </div><!-- card-header -->
        <div class="card-footer">
          <div>
            <h6 class="tx-inverse"> {{datos_tabla.4}} </h6>
          </div>
        </div><!-- card-footer -->
      </div><!-- card -->
    </div><!-- col-3 -->
    <div class="col-sm-6 col-lg-3 mg-t-1 mg-sm-t-0">
      <div class="card">
        <div class="card-header" style="background-color: #B9770E;">
          <h6 class="card-title" style="color:#fff">Doc. en revisión contratista</h6>
        </div><!-- card-header -->
        <div class="card-footer">
          <div>
            <h6 class="tx-inverse"> {{datos_tabla.5}} </h6>
          </div>
        </div><!-- card-footer -->
      </div><!-- card -->
    </div><!-- col-3 -->
    <div class="col-sm-6 col-lg-3 mg-t-1 mg-sm-t-0">
      <div class="card">
        <div class="card-header" style="background-color: #B9770E;">
          <h6 class="card-title" style="color:#fff">Prom. demora emisión (d)</h6>
        </div><!-- card-header -->
        <div class="card-footer">
          <div>
            <h6 class="tx-inverse"> {{datos_tabla.6}} </h6>
          </div>
        </div><!-- card-footer -->
      </div><!-- card -->
    </div><!-- col-3 -->
    <div class="col-sm-6 col-lg-3 mg-t-1 mg-sm-t-0">
      <div class="card">
        <div class="card-header" style="background-color: #B9770E;">
          <h6 class="card-title" style="color:#fff">Tiem. de Ciclo aprobación (d)</h6>
        </div><!-- card-header -->
        <div class="card-footer">
          <div>
            <h6 class="tx-inverse"> {{datos_tabla.7}} </h6>
          </div>
        </div><!-- card-footer -->
      </div><!-- card -->
    </div><!-- col-3 -->
  </div>
  <!--Fila 3-->
  <div class="row no-gutters widget-1 shadow-base mg-t-20">
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-header" style="background-color: #B9770E;">
          <h6 class="card-title" style="color:#fff">Prom. Revisión cliente (d)</h6>
        </div><!-- card-header -->
        <div class="card-footer">
          <div>
            <h6 class="tx-inverse"> {{datos_tabla.8}} </h6>
          </div>
        </div><!-- card-footer -->
      </div><!-- card -->
    </div><!-- col-3 -->
    <div class="col-sm-6 col-lg-3 mg-t-1 mg-sm-t-0">
      <div class="card">
        <div class="card-header" style="background-color: #B9770E;">
          <h6 class="card-title" style="color:#fff;font-size:11px;">Prom. revisión contratista (d)</h6>
        </div><!-- card-header -->
        <div class="card-footer">
          <div>
            <h6 class="tx-inverse"> {{datos_tabla.9}} </h6>
          </div>
        </div><!-- card-footer -->
      </div><!-- card -->
    </div><!-- col-3 -->
    <div class="col-sm-6 col-lg-3 mg-t-1 mg-sm-t-0">
      <div class="card">
        <div class="card-header" style="background-color: #B9770E;">
          <h6 class="card-title" style="color:#fff">Cant. de Paquetes cliente</h6>
        </div><!-- card-header -->
        <div class="card-footer">
          <div>
            <h6 class="tx-inverse"> {{datos_tabla.10}} </h6>
          </div>
        </div><!-- card-footer -->
      </div><!-- card -->
    </div><!-- col-3 -->
    <div class="col-sm-6 col-lg-3 mg-t-1 mg-sm-t-0">
      <div class="card">
        <div class="card-header" style="background-color: #B9770E;">
          <h6 class="card-title" style="color:#fff;font-size:11px;">Cant. de Paquetes Contratista</h6>
        </div><!-- card-header -->
        <div class="card-footer">
          <div>
            <h6 class="tx-inverse"> {{datos_tabla.11}} </h6>
          </div>
        </div><!-- card-footer -->
      </div><!-- card -->
    </div><!-- col-3 -->
  </div>
  <!--Fila 4-->
  <div class="row no-gutters widget-1 shadow-base mg-t-20">
    <div class="col-sm-6 col-lg-6">
      <div class="card">
        <div class="card-header" style="background-color: #3498DB ; ">
          <h6 class="card-title"style="color:#fff">% Avance programado</h6>
        </div><!-- card-header -->
        <div class="card-footer">
          <div>
            <h6 class="tx-inverse"> {{datos_tabla.12}} </h6>
          </div>
        </div><!-- card-footer -->
      </div><!-- card -->
    </div><!-- col-3 -->
    <div class="col-sm-6 col-lg-6 mg-t-1 mg-sm-t-0">
      <div class="card">
        <div class="card-header" style="background-color: #3498DB ; ">
          <h6 class="card-title"style="color:#fff">% Avance real</h6>
        </div><!-- card-header -->
        <div class="card-footer">
          <div>
            <h6 class="tx-inverse"> {{datos_tabla.13}} </h6>
          </div>
        </div><!-- card-footer -->
      </div><!-- card -->
    </div><!-- col-3 -->
  </div>
<!--Cuerpo-->
<div class="row row-sm mg-t-20 mg-b-30">
          <div class="col-12">
            <div class="card pd-0 bd-0 shadow-base">
              <div class="pd-x-30 pd-t-30 pd-b-15">
                <div class="d-flex align-items-center justify-content-between">
                  <div >
                    <h6 class="tx-13 tx-uppercase tx-inverse tx-semibold tx-spacing-1">Curva de Avance Físico Ingenieria</h6>
                  </div>
                </div><!-- d-flex -->
              </div>
              <div class="pd-x-15 pd-b-15">
                <div style="width: 100%">
                 <canvas id="canvas"width="1507" height="653" class="chartjs-render-monitor" style="display: block; height: 603px; width: 1206px;"></canvas>
                   </div>
              </div>
            </div><!-- card -->
           </div><!-- col-9 -->
</div><!-- row -->

<div class="row row-sm mg-t-20 mg-b-30">
<div class="col-3">
    <div class="card shadow-base bd-0">
      <div class="pd-x-30 pd-t-30 pd-b-15 bg-info">
                <h6 class="card-title tx-uppercase tx-12 mg-b-0" style="color: #fff;">Umbrales</h6>
              </div><!-- card-header -->
              <div class="form-layout form-layout-7">
                <div class="row no-gutters">
                  <div class="col-7 col-sm-8">
                    Documentos Aprobados:
                    
                  </div><!-- col-4 -->
                  <div class="col-5 col-sm-4">
                    {{proyecto.umbral_documento_aprobado}} Dias
                  </div><!-- col-8 -->
                </div><!-- row -->
                <div class="row no-gutters">
                  <div class="col-7 col-sm-8">
                    Documentos Atrasados:
                  </div><!-- col-4 -->
                  <div class="col-5 col-sm-4">
                    {{proyecto.umbral_documento_atrasado}} Dias
                  </div><!-- col-8 -->
                </div><!-- row -->
                <div class="row no-gutters">
                  <div class="col-7 col-sm-8">
                    Revisiones Atrasadas:
                  </div><!-- col-4 -->
                  <div class="col-5 col-sm-4">
                    {{proyecto.umbral_revision_documento}} Dias
                  </div><!-- col-8 -->
                </div><!-- row -->
                <div class="row no-gutters">
                  <div class="col-7 col-sm-8">
                    Desviación Porcentual del Proyecto:
                  </div><!-- col-4 -->
                  <div class="col-5 col-sm-4">
                    {{proyecto.umbral_desviacion_porcentual}}%
                  </div><!-- col-8 -->
                </div><!-- row -->
              </div>
    </div><!-- card -->

  </div><!-- col-3 -->
  <div class="col-3">
    <div class="card shadow-base bd-0">
      <div class="card-header pd-20 bg-info">
        <h6 class="card-title tx-uppercase tx-12 mg-b-0" style="color: #fff;">Detalles de Proyecto</h6>
      </div><!-- card-header -->
        <div class="form-layout form-layout-7">
          <div class="row no-gutters text-center">
            <div class="col-6 col-sm-5 text-center">
              Nombre: 
            </div><!-- col-4 -->
            <div class="col-6 col-sm-7 text-center">
              {{proyecto.nombre}}
            </div><!-- col-8 -->
          </div><!-- row -->
          <div class="row no-gutters text-center">
            <div class="col-6 col-sm-5 text-center">
              Fecha Inicio: 
            </div><!-- col-4 -->
            <div class="col-6 col-sm-7 text-center">
              {{proyecto.fecha_inicio|date:'d-m-y'}}  
            </div><!-- col-8 -->
          </div><!-- row -->
          <div class="row no-gutters text-center">
            <div class="col-6 col-sm-5 text-center">
              Fecha Termino:
            </div><!-- col-4 -->
            <div class="col-6 col-sm-7 text-center">
              {{proyecto.fecha_termino|date:'d-m-y'}}  
            </div><!-- col-8 -->
          </div><!-- row -->
          <div class="row no-gutters text-center">
            <div class="col-6 col-sm-5 text-center">
              Descripción:
            </div><!-- col-4 -->
            <div class="col-6 col-sm-7 text-center">
              {{proyecto.descripcion}}  
            </div><!-- col-8 -->
          </div><!-- row -->
          <div class="row no-gutters text-center">
            <div class="col-6 col-sm-5 text-center">
              Encargado:
            </div><!-- col-4 -->
            <div class="col-6 col-sm-7 text-center">
              {{proyecto.encargado}}  
            </div><!-- col-8 -->
          </div><!-- row -->
          <div class="row no-gutters text-center">
            <div class="col-6 col-sm-5 text-center">
              Codigo:
            </div><!-- col-4 -->
            <div class="col-6 col-sm-7 text-center">
              {{proyecto.codigo}}  
            </div><!-- col-8 -->
          </div><!-- row -->
        </div>
    </div><!-- card -->

  </div><!-- col-3 -->
  <div class="col-6">
    <div class="card shadow-base bd-0" style="overflow-y: auto;overflow-x: auto;height:367px;">
      <div class="card-header pd-20 bg-primary">
        <h6 class="card-title tx-uppercase tx-12 mg-b-0 "style="color:#fff;">Lista Usuarios</h6>
      </div><!-- card-header -->
      <table class="table table-responsive table-striped table-bordered mg-b-0 tx-12">
        <thead class="bg-primary">
          <tr class="tx-10">
            <th class="wd-10p pd-y-5" style="color: white;text-align:center;">Usuarios</th>
            <th class="pd-y-5" style="color: white;text-align:center;">Correo</th>
            <th class="pd-y-5" style="color: white;text-align:center;">Empresa</th>
            <th class="pd-y-5" style="color: white;text-align:center;">ROL</th>
          </tr>
        </thead>
        <tbody>
         {% for usuario in usuarios %}
    <tr>            
      {% if usuario.first_name %}
      <th style="text-align: center;border: 2px;border-color: grey; color: black;" > {{usuario.first_name}} {{usuario.last_name}} </th>
      {% else %}
      <th style="text-align: center;border: 2px;border-color: grey; color: black;" > No hay nombre registrado</th>
      {% endif %} 
      <th style="text-align: center;border: 2px;border-color: grey; color: black;" > {{usuario.email}} </th>
      <th style="text-align: center;border: 2px;border-color: grey; color: black;" > {{usuario.perfil.empresa}} </th>
      {% if usuario.perfil.rol_usuario %}
      <th style="text-align: center;border: 2px;border-color: grey; color: black;" > {{usuario.perfil.get_rol_usuario_display}} </th>
      {% else %}
      <th style="text-align: center;border: 2px;border-color: grey; color: black;" > Sin Perfil </th>
      {% endif %}
       </tr>         
 {% endfor %}
        </tbody>
      </table>
    </div>

  </div><!-- col-4 -->
</div><!-- row -->
</div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>    
  <script>
//Curva S

		var chartData = {
			labels: ['{% for emisiones in lista_curva_s_fechas %} {% if forloop.counter != lista_curva_s_fechas_largo %} {{emisiones|date:"d-m-y"}}', '{% endif %} {% if forloop.counter == lista_curva_s_fechas_largo %} {{emisiones|date:"d-m-y"}} {% endif %} {% endfor %}'],
			datasets: [
      {
        type: 'line',
        label: 'Avance Esperado',
        backgroundColor: [{% for esperado in lista_curva_s_avance_esperado %} {% if forloop.counter != lista_curva_s_avance_esperado_largo %} 'rgba(255, 99, 132, 0.2)', {% endif %} {% if forloop.counter == lista_curva_s_avance_esperado_largo %} 'rgba(255, 99, 132, 0.2)' {% endif %} {% endfor %}],
        borderColor: [{% for esperado in lista_curva_s_avance_esperado %} {% if forloop.counter != lista_curva_s_avance_esperado_largo %} 'rgba(255, 99, 132, 1)', {% endif %} {% if forloop.counter == lista_curva_s_avance_esperado_largo %} 'rgba(255, 99, 132, 1)' {% endif %} {% endfor %}],
        borderWidth: 1,
        lineTension:0.18,
				fill: false,
				data: [{% for esperado in lista_curva_s_avance_esperado %} {{esperado.0}}, {% endfor %}]
			}, 
      {
				type: 'line',
            label: 'Avance Real a la fecha',
            backgroundColor: [{% for esperado in lista_curva_s_avance_real %} {% if forloop.counter != lista_curva_s_avance_real_largo %} {% if esperado.1 == 0 %} 'rgba(54, 162, 235, 1)', {% endif %} {% if esperado.1 == 1 %} 'rgba(7, 254, 3, 1)', {% endif %} {% endif %} {% if forloop.counter == lista_curva_s_avance_real_largo %} {% if esperado.1 == 0 %} 'rgba(54, 162, 235, 1)', {% endif %} {% if esperado.1 == 1 %} 'rgba(7, 254, 3, 1)', {% endif %} {% endif %} {% endfor %}],
            borderColor: [{% for esperado in lista_curva_s_avance_real %} {% if forloop.counter != lista_curva_s_avance_real_largo %} {% if esperado.1 == 0 %} 'rgba(54, 162, 235, 1)', {% endif %} {% if esperado.1 == 1 %} 'rgba(7, 254, 3, 1)', {% endif %} {% endif %} {% if forloop.counter == lista_curva_s_avance_real_largo %} {% if esperado.1 == 0 %} 'rgba(54, 162, 235, 1)', {% endif %} {% if esperado.1 == 1 %} 'rgba(7, 254, 3, 1)', {% endif %} {% endif %} {% endfor %}],
            borderWidth: 1,
            lineTension:0.18,
            fill: false,
            data: [{% for real_linea in lista_curva_s_avance_real %} {{real_linea.0}}, {% endfor %}],
       
			}, 
      {
				type: 'bar',
        label: 'Avance Real a la fecha (BARRAS)',
        backgroundColor: [{% for esperado in lista_curva_s_avance_real %} {% if esperado.1 == 0 %} 'rgba(88, 214, 141 , 0.4)', {% endif %} {% endfor %}],
        borderColor: [{% for esperado in lista_curva_s_avance_real %} {% if esperado.1 == 0 %} 'rgba(88, 214, 141 , 1)', {% endif %} {% endfor %}],
        fill: true,
        borderWidth: 1,
        data: [{% for real_barra in lista_curva_s_avance_real %} {{real_barra.2}}, {% endfor %}],
			}]
      
		};
    
		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myMixedChart = new Chart(ctx, {
				type: 'line',
				data: chartData,
				options: {
      
          barPercentage: 1,
					responsive: true,
					plugins: {
							tooltip: {
							mode: 'index',
							intersect: true
            },
            ticks: {
              beginAtZero: true,
              min: 0,
              stepSize: 1,
                   callback: function(value){return value+ "%"}

            },
            
					},
          scales: {
          yAxes: [{
          ticks: {
          min: 0,
          max: 100,
          callback: function(value) {
          return value + "%"
          }
          },
          scaleLabel: {
          display: true,
          }
          }]
          }
				}
			});
		};
    </script>
{% endblock content %}
    