{% extends 'index-base.html' %}

{% block content %}

<h1>
<div class="tenor-gif-embed" data-postid="13024140" data-share-method="host" data-width="70%" data-aspect-ratio="2.3076923076923075"><a href="https://tenor.com/view/hello-there-obi-wan-general-kenobi-obi-wan-kenobi-star-wars-gif-13024140">Hello There Obi Wan GIF</a> from <a href="https://tenor.com/search/hellothere-gifs">Hellothere GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</h1>

{% endblock content %}