{% extends 'index-config.html' %}

{% load crispy_forms_tags %}


{% block content %}
<div class="br-mainpanel">
    <div class="br-pageheader pd-y-15 pd-md-l-20">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
          <a class="breadcrumb-item"> {{proyecto}}</a>
          <a class="breadcrumb-item" href="">Configuración</a>      
          <span class="breadcrumb-item active">Restricciones </span>
        </nav>
      </div><!-- br-pageheader -->
     
{% include "configuracion/menu.html"%}
 
 {% include "messege.html" %} 
   <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
        <h4 class="tx-gray-800 mg-b-5">Agregar Restricciones</h4>
    </div>
<div class="br-pagebody pd-x-20 pd-sm-x-30"> 
  <div class="row row-sm d-flex justify-content-center" >
            <table class="table table-responsive table-striped mg-b-0 table-bordered table-primary" style="width: auto;">        
        <!--Table-->
                <thead>
                    <tr>
                    <th style="text-align: center;border: 2px;border-color: grey; color: white;"style="width: auto;">Nombre</th>
                    </tr>
                </thead>
                <tbody>
                  
                {% for restriccion in restricciones %}
                    <tr>            
                    <th style="text-align: center;border: 2px;border-color: grey; color: black;" style="width: auto;">{{restriccion}}  </th>
                    </tr>
                      {% empty %}
                  <tr>            
                    <th style="text-align: center;border: 2px;border-color: grey; color: black;" style="width: auto;">Lo ingresado se listaran aqui</th>
                    </tr>
                {% endfor %}
                
                    <!--Fin Loop-->
                </tbody>
            </table>

            <div class="card bd-0 shadow-base">
            <form class="form-group control col-md-12 "  method="POST"> {% csrf_token %}
                <label  style="margin-top: 20px;margin-bottom: auto;">
                    {{form|crispy}}
                </label>
                <button class="btn btn-primary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-l-10" type="submit"> Guardar </button>                
                <button class="btn btn-warning tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-l-10" onClick="javascript:history.go(-1);" type="submit"> volver</button>
            </form>
        </div>
 </div>
 </div>
</div>
 <script>
  $("#alert").fadeIn();
  setTimeout(function () {
    $("#alert").fadeOut();
  }, 2000);
</script>
{% endblock content %}
 