{% extends 'index-config.html' %}


{% block content %}
<div class="br-mainpanel">
<div class="br-pageheader pd-y-15 pd-l-20">
  <nav class="breadcrumb pd-0 mg-0 tx-12">
    <a class="breadcrumb-item"> {{proyecto}}</a>
    <a class="breadcrumb-item">Configuraciones</a>
    <span class="breadcrumb-item active"> Agregar Usuarios</span>
  </nav>
</div>
{% include "configuracion/menu.html"%}
{% include "messege.html" %}
<div class="br-pagebody pd-x-20 pd-sm-x-30">
  

  <div class="card bd-0 shadow-base">
    <div class="row col-8 mg-t-10 mg-b-20">
      <a><button class="btn btn-danger" id="delete_btn"
          style="text-align: center;vertical-align: middle;margin-left:20px" type="submit"> Agregar Seleccionados
        </button></a></th>
    </div>
    <table border="1" style="width:auto; height:20px;white-space: nowrap;"
      class="table table-striped mg-b-0 table-bordered table-primary" style="width:100%;">
      <!--Table-->

      <thead>
        <tr>
          <th
            style="text-align: center;border: 2px #fff solid; color: white;vertical-align: middle;padding: 5px; font-size: 10px;">
            <label class="ckbox"></th>
          <th
            style="text-align: center;border: 2px #fff solid; color: white;vertical-align: middle;padding: 5px; font-size: 10px;">
            Usuario </th>
          <th
            style="text-align: center;border: 2px #fff solid; color: white;vertical-align: middle;padding: 5px; font-size: 10px;">
            Email </th>
        </tr>
      </thead>


      <!--Loop Listar Documento-->
      {% csrf_token %}
      {% for user in users %}
      <tbody>
        <tr id="{{user.pk}}">
          <th
            style="text-align: center;border: 2px;border-color: grey; color: black;vertical-align: middle;padding-bottom: 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px; font-size: 10px;">
            <input type="checkbox" name="user_id[]" value="{{user.pk}}" id="delete_document"></th>
          <th
            style="text-align: center;border: 2px;border-color: grey; color: black;vertical-align: middle;padding-bottom: 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px; font-size: 10px;">
            {{user.username}} </th>
          <th
            style="text-align: center;border: 2px;border-color: grey; color: black;vertical-align: middle;padding-bottom: 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px; font-size: 10px;">
            {{user.email}} </th>
        </tr>
      </tbody>

      {% empty %}
    </table>
    <div class="alert alert-info alert-bordered pd-y-20" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <div class="d-sm-flex align-items-center justify-content-start">
        <i class="icon ion-ios-information alert-icon tx-52 mg-r-20"></i>
        <div class="mg-t-20 mg-sm-t-0">
          <h5 class="mg-b-2">No hay Usuarios para Agregar a este proyecto </h5>
          <p class="mg-b-0 tx-gray"></p>
        </div>
      </div><!-- d-flex -->
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
    {% endfor %}
    <!--Fin Loop-->


  </div>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<script type="text/javascript">
  $(document).ready(function(){
    $('#delete_btn').click(function(){
      if(confirm("Seguro que desea añadir los usuarios\nseleccionados al proyecto actual?")){
        var id =[];
        var csrf=$('input[name=csrfmiddlewaretoken]').val();
        $(':checkbox:checked').each(function(i){
          id[i]=$(this).val()
        })
        if(id.length==0){
          alert("No has seleccionado ningun usuario para agregar.")
        }else{
          console.log(id)
          $.ajax({
            url: ".",
            method: "POST",
            data:{
              id,
              csrfmiddlewaretoken:csrf
            },
            success:function(response){
              for(var i=0; i < id.length; i++){
                $('tr#'+id[i]+'').css('background-color','#ccc');
                $('tr#'+id[i]+'').fadeOut('slow');
                location.reload();
              }
            }
          })
        }
      }
    })
  })

</script>
{% endblock content %}