{% extends 'index-config.html' %}

{% load crispy_forms_tags %}


{% block content %}
<div class="br-mainpanel">
    <div class="br-pageheader pd-y-15 pd-md-l-20">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
          <a class="breadcrumb-item"> {{proyecto}}</a>
          <a class="breadcrumb-item" href="">Configuración</a>      
          <span class="breadcrumb-item active">Registrar Usuario </span>
        </nav>
      </div><!-- br-pageheader -->
      <div class=" ht-md-65 bd bg-gray-100 pd-y-20 pd-md-y-0 pd-x-20 d-md-flex align-items-center justify-content-between mg-t-20" style="align-items: baseline;">
        <ul class="nav nav-gray-600 active-info tx-uppercase tx-12 tx-medium tx-spacing-2 flex-column flex-md-row pd-t-20 pd-md-t-0" role="tablist">
        {% if request.user.is_superuser == true %}
            <li class="nav-item" ><a class="nav-link" href="{% url 'crear-proyecto' %}">Agregar Proyectos</a></li>
            <li class="nav-item" ><a class="nav-link" href="{% url 'lista-proyecto' %}">Lista de Proyectos</a></li>
        {% endif %}
          <li class="nav-item"><a class="nav-link tx-white" href="{% url 'crear-proyecto' %}" ><i class="fa fa-pencil"></i> &numsp;Editar Proyectos</a></li>

           <li class="nav-item mg-l-10 mg-r-10">
            <div class="dropdown">
              <button class="btn btn-info btn-block dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="icon ion-person-stalker"></i>&numsp;Gestionar&numsp;Usuarios
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <a class="nav-link" href="{% url 'crear-usuario' %}"><button class="dropdown-item" type="button"><i class="icon ion-person-add"></i> Agregar Usuario</button></a>
                <a class="nav-link" href="{% url 'listar-usuarios' %}"><button class="dropdown-item" type="button"><i class="icon ion-person"></i> Listar Usuarios</button></a>
                <a class="nav-link" href="{% url 'add-user-proyecto' %}"><button class="dropdown-item" type="button"><i class="fas fa-user-chart"></i>Agregar Usuarios a Proyectos</button></a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <div class="dropdown">
            <button class="btn btn-info btn-block dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-close"></i>&numsp;Restricciones
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <a class="nav-link" href="{% url 'restriccion' %}"><button class="dropdown-item" type="button"><i class="icon ion-backspace-outline"></i>&numsp;Restricciones</button></a>
              <a class="nav-link" href="{% url 'no-cumplimiento' %}"><button class="dropdown-item" type="button"><i class="fas fa-ban"></i>&numsp; No cumplimiento</button></a>
            </div>
          </div>
            </li>
          <li class="nav-item"><a class="nav-link"  href="{% url 'list-umbrales' %}"><i class="fas fa-business-time"></i>&numsp;Umbrales</a></li>
        </ul>
      </div><!-- ht-65 -->   
      {% include "messege.html" %}   
    <div class="br-pagebody pd-x-20 pd-sm-x-30">

        <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
          <h4 class="tx-gray-800 mg-b-5">Registrar Usuario</h4>
          <h4 class="tx-gray-800 mg-b-5"> {{grupo}} </h4>
        </div>
        <div class="card bd-0 shadow-base">
            <form method="POST"> {% csrf_token %}
                <label for="" class="col-6 col-md-12 mg-20">
                {{form|crispy}}
                </label>
                <button class="btn btn-primary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-l-10" type="submit"> Enviar </button>                
                <button class="btn btn-warning tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-l-10" onClick="javascript:history.go(-1);" type="submit"> volver</button>

            </form>
        </div>
    </div>
 </div>
</div>
<script>
$(document).ready(function(){
    $('input:checkbox').click(function() {
        $('input:checkbox').not(this).prop('checked', false);
    });
});
</script>

{% endblock content %}
