{% extends 'index-config.html' %}

{% block content %}
<!-- ########## START: MAIN PANEL ########## -->
<div class="br-mainpanel">
  <div class="br-profile-page" style="margin-left:0px!important;">

    <div class="card shadow-base bd-0 rounded-0 widget-4">

      <div class="card-body">

        <h4 class="tx-normal tx-roboto tx-white">PANEL DE <br> CONFIGURACIONES</h4>

      </div><!-- card-body -->
    </div><!-- card -->

    <div class="ht-70 bg-gray-200 pd-x-20 d-flex align-items-center justify-content-center shadow-base"
      style="height: auto!important;">

      <ul class="nav nav-outline active-info align-items-center flex-row" role="tablist">
        {% if request.user.is_superuser == True %}
        <li class="nav-item"><a class="nav-link" href="{% url 'crear-proyecto' %}">Agregar Proyectos</a></li>

        <li class="nav-item"><a class="nav-link" href="{% url 'lista-proyecto' %}">Lista de Proyectos</a></li>
        {% endif %}

        {% if request.user.perfil.rol_usuario == 1 %}
        <li class="nav-item"><a class="nav-link" href="{% url 'editar-proyecto' proyecto.pk %}"><i
              class="fa fa-pencil"></i> &numsp;Editar Proyecto</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'crear-usuario' %}">
          <i class="icon ion-person-add"></i>&numsp;Agregar Usuario</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'listar-usuarios' %}">
          <i class="icon ion-person"></i>&numsp;Listar Usuarios</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'add-user-proyecto' %}">
            <i class="fas fa-user-chart"></i>&numsp;Agregar Usuarios a Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'restriccion' %}"><i
              class="icon ion-backspace-outline"></i>&numsp;Restricciones</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'no-cumplimiento' %}">
          <i class="fas fa-ban"></i>&numsp;No cumplimiento</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'list-umbrales' %}">
          <i class="fas fa-business-time"></i>&numsp; Umbrales</a>
        </li>
        {% elif request.user.perfil.rol_usuario == 4 %}
        <li class="nav-item"><a class="nav-link" href="{% url 'editar-proyecto' proyecto.pk %}">
          <i class="fa fa-pencil"></i> &numsp;Ver datos de Proyecto</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'crear-usuario' %}">
          <i class="icon ion-person-add"></i>&numsp;Agregar Usuario</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'listar-usuarios' %}">
          <i class="icon ion-person"></i>&numsp;Listar Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add-user-proyecto' %}">
            <i class="fas fa-user-chart"></i>&numsp;Agregar Usuarios a Proyectos</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'restriccion' %}">
          <i class="icon ion-backspace-outline"></i>&numsp;Restricciones</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'no-cumplimiento' %}">
            <i class="fas fa-ban"></i>&numsp;No cumplimiento</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'list-umbrales' %}">
          <i class="fas fa-business-time"></i>&numsp; Umbrales</a>
        </li>
        {% endif %}

        {% if not request.user.perfil.rol_usuario == 1 and not request.user.perfil.rol_usuario == 4 %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'restriccion' %}"><i
              class="icon ion-backspace-outline"></i>&numsp;Restricciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'no-cumplimiento' %}"><i class="fas fa-ban"></i>&numsp;No cumplimiento</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div><!-- br-mainpanel -->
</div>
<!-- ########## END: MAIN PANEL ########## -->

{% endblock content %}