{% extends 'index-config.html' %}

{% load crispy_forms_tags %}

{% block content %}
   
<!--Titulo-->
 

  <div class="br-mainpanel">
  <div class="br-pageheader pd-y-15 pd-md-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item" > {{proyecto}} </a>
      <span class="breadcrumb-item active">listar Usuarios</span>
    </nav>
  </div>
    <div class="br-pagebody mg-t-5 pd-x-30">
    <div class="pd-10 bd bg-gray-900  rounded mg-t-10">
        <ul class="nav nav-pills flex-column flex-md-row justify-content-center" role="tablist">
          <li class="nav-item"><a class="nav-link" style="color:#fff;" href="{% url 'lista-proyecto' %}" role="tab">Lista de Proyectos</a></li>
          <li class="nav-item"><a class="nav-link" style="color:#fff;" href="{% url 'crear-proyecto' %}" role="tab">Agregar Proyectos</a></li>
          <li class="nav-item"><a class="nav-link" style="color:#fff;" href="{% url 'crear-usuario' %}" role="tab">Agregar Usuario</a></li>
          <li class="nav-item"><a class="nav-link active" style="color:#fff;" href="{% url 'listar-usuarios' %}" role="tab">Listar Usuarios</a></li>
        </ul>
    </div><!-- pd-10 -->
    <div class="br-section-wrapper">    
    <div class="pd-x-20 pd-sm-x-30 mg-b-10">
      <h4 class="tx-gray-800 mg-b-5">Lista de Usuarios</h4>
      <p class="mg-b-0">{{proyecto}}</p> 
      <p class="mg-b-0">{{codigo_proyecto}}</p> 
    </div>    
    <div class="row row-sm d-flex justify-content-center" >
      <table class="table table-responsive table-striped mg-b-0 table-bordered table-primary">       
  <!--Table-->
          <thead>
            <tr>
              <th style="text-align: center;border: 2px;border-color: grey; color: white;">Nombre</th>
              <th style="text-align: center;border: 2px;border-color: grey; color: white;">Correo</th>
              <th style="text-align: center;border: 2px;border-color: grey; color: white;">ROL</th>
              <th style="text-align: center;border: 2px;border-color: grey; color: white;">Modificar </th>
              <th style="text-align: center;border: 2px;border-color: grey; color: white;">Eliminar  </th>
            </tr>
          </thead>
          <tbody>
            <!--Loop Listar Documento-->
            {% for usuario in usuarios %}
            <tr>            
              {% if usuario.first_name %}
              <th style="text-align: center;border: 2px;border-color: grey; color: black;" > {{usuario.first_name}} {{usuario.last_name}} </th>
              {% else %}
              <th style="text-align: center;border: 2px;border-color: grey; color: black;" > No hay nombre registrado</th>
              {% endif %} 
              <th style="text-align: center;border: 2px;border-color: grey; color: black;" > {{usuario.email}} </th>
              {% if usuario.perfil.rol_usuario %}
              <th style="text-align: center;border: 2px;border-color: grey; color: black;" > {{usuario.perfil.get_rol_usuario_display}} </th>
              {% else %}
              <th style="text-align: center;border: 2px;border-color: grey; color: black;" > Sin Perfil </th>
              {% endif %}
              <th style="text-align: center;border: 2px;border-color: grey; color: black;"><a href="{% url 'editar-usuario' usuario.pk %}" class="btn btn-teal center"> Modificar </a></th>
              <th style="text-align: center;border: 2px;border-color: grey; color: black;"><a href="{% url 'eliminar-usuario' usuario.pk %}" class="btn btn-danger center"> Eliminar </a></th>
            </tr>           
            
          
      {% endfor %}
            <!--Fin Loop-->
          </tbody>
        </table>
        


      
    </div>
{% if is_paginated %}
    <div class="ht-80 d-flex align-items-center justify-content-center">
      <nav aria-label="Page navigation">      
        <ul class="pagination pagination-basic mg-b-0">
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page=1"><i class="fa fa-angle-double-left"></i></a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="ANTERIOR"><i class="fa fa-angle-left"></i></a></li>
          
          {% if page_obj.has_previous %}
            <li class="page-item active"><a class="page-link active" href="page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
          {% endif %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
          <li class="page-item disabled"><span class="page-link">...</span></li>
          <li class="page-item"><a class="page-link" href="#">{{ page_obj.paginator.num_pages }}</a></li>          
       {% endif %}
       {% if page_obj.has_next %}   
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
              <i class="fa fa-angle-double-right"></i>
            </a>
          </li>          
    {% endif %}
        </ul>
      </nav>
    </div>
{% endif %}
  </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>



<script>
  function fileValidation(){
      var fileInput = document.getElementById('file');
      var filePath = fileInput.value;
      var allowedExtensions = /(.xlsx|.xls|.csv)$/i;
      if(!allowedExtensions.exec(filePath)){
          alert('Porfavor, Adjuntar Archivos formato: .xlsx/ .xls/ .csv.');
          fileInput.value = '';
          return false;
      }else{
          //Image preview
          if (fileInput.files && fileInput.files[0]) {
              var reader = new FileReader();
              reader.onload = function(e) {
                  document.getElementById('imagePreview').innerHTML = '<img src="'+e.target.result+'"/>';
              };
              reader.readAsDataURL(fileInput.files[0]);
          }
      }
  }
</script>

<script>
        $(function(){
        'use strict'

        // Toggles
        $('.toggle').toggles({
          on: true,
          height: 26
        });

        // Input Masks
        $('#dateMask').mask('99/99/9999');
        $('#phoneMask').mask('(999) 999-9999');
        $('#ssnMask').mask('999-99-9999');

        // Datepicker
        $('.fc-datepicker').datepicker({
          showOtherMonths: true,
          selectOtherMonths: true
        });

        $('#datepickerNoOfMonths').datepicker({
          showOtherMonths: true,
          selectOtherMonths: true,
          numberOfMonths: 2
        });

        // Time Picker
        $('#tpBasic').timepicker();
        $('#tp2').timepicker({'scrollDefault': 'now'});
        $('#tp3').timepicker();

        $('#setTimeButton').on('click', function (){
          $('#tp3').timepicker('setTime', new Date());
        });

        // Color picker
        $('#colorpicker').spectrum({
          color: '#17A2B8'
        });

        $('#showAlpha').spectrum({
          color: 'rgba(23,162,184,0.5)',
          showAlpha: true
        });

        $('#showPaletteOnly').spectrum({
            showPaletteOnly: true,
            showPalette:true,
            color: '#DC3545',
            palette: [
                ['#1D2939', '#fff', '#0866C6','#23BF08', '#F49917'],
                ['#DC3545', '#17A2B8', '#6610F2', '#fa1e81', '#72e7a6']
            ]
        });


        // Rangeslider
        if($().ionRangeSlider) {
          $('#rangeslider1').ionRangeSlider();

          $('#rangeslider2').ionRangeSlider({
              min: 100,
              max: 1000,
              from: 550
          });

          $('#rangeslider3').ionRangeSlider({
              type: 'double',
              grid: true,
              min: 0,
              max: 1000,
              from: 200,
              to: 800,
              prefix: '$'
          });

          $('#rangeslider4').ionRangeSlider({
              type: 'double',
              grid: true,
              min: -1000,
              max: 1000,
              from: -500,
              to: 500,
              step: 250
          });
        }

      });
</script>
<script>
  $('#datepickerNoOfMonths').datepicker({
    showOtherMonths: true,
    selectOtherMonths: true,
    numberOfMonths: 1
  });
</script>
<script>
  $("#fileInput").change(function(){
    $("button").prop("disabled", this.files.length == 0);
});
</script>

{% endblock content %}
    