{% extends 'index-config.html' %}

{% load crispy_forms_tags %}

{% block content %}
   
<!--Titulo-->
 

  <div class="br-mainpanel">
  <div class="br-pageheader pd-y-15 pd-md-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item" > {{proyecto}} </a>
      <span class="breadcrumb-item active">Listar Usuarios</span>
    </nav>
  </div>
  {% include "configuracion/menu.html"%}
    {% include "messege.html" %}  

    <div class="br-pagebody mg-t-5 pd-x-30">
    <div class="br-section-wrapper">    
    <div class="pd-x-20 pd-sm-x-30 mg-b-10">
      <h4 class="tx-gray-800 mg-b-5">Lista de Usuarios</h4>
    </div>    
    <div class="row row-sm d-flex justify-content-center" >
    {% if request.user.is_superuser == True or request.user.perfil.rol_usuario == 1 or request.user.perfil.rol_usuario == 4 %}
      <table class="records_list table table-striped table-bordered table-hover dataTable no-footer table-primary"style="width:100%;table-layout:Inherit;">       
         <!--Table-->
          <thead>
            <tr>
              <th style="text-align: center;border: 2px;border-color: grey; color: white;"style="width:auto;">Nombre</th>
              <th style="text-align: center;border: 2px;border-color: grey; color: white;"style="width:auto;">Correo</th>
              <th style="text-align: center;border: 2px;border-color: grey; color: white;"style="width:auto;">ROL</th>
              <th style="text-align: center;border: 2px;border-color: grey; color: white;"style="width:auto;">Empresa</th>
              <th style="text-align: center;border: 2px;border-color: grey; color: white;"style="width:auto;">Cargo</th>
              <th style="text-align: center;border: 2px;border-color: grey; color: white;"style="width:auto;">Estado Usuario</th>
              <th style="text-align: center;border: 2px;border-color: grey; color: white;"style="width:auto;">Modificar </th>
              {% if request.user.perfil.rol_usuario == 4 or request.user.perfil.rol_usuario == 1 %}
               <th style="text-align: center;border: 2px;border-color: grey; color: white;"style="width:auto;">Desvincular </th>              
              {% else %}
              {% endif %}
              {% if request.user.is_superuser %}
              <th style="text-align: center;border: 2px;border-color: grey; color: white;"style="width:auto;">Deshabilitar  </th>
           
              {% else %}
              {% endif %}
               </tr>
          </thead>
          <tbody>
            <!--Loop Listar Documento-->
            {% for usuario in usuarios %}
            <tr>            
              {% if usuario.first_name %}
              <th style="text-align: center;border: 2px;border-color: grey; color: black;" style="width:auto;"> {{usuario.first_name}} {{usuario.last_name}} </th>
              {% else %}
              <th style="text-align: center;border: 2px;border-color: grey; color: black;" style="width:auto;"> No hay nombre registrado</th>
              {% endif %} 
              <th style="text-align: center;border: 2px;border-color: grey; color: black;" style="width:auto;"> {{usuario.email}} </th>
              {% if usuario.perfil.rol_usuario %}
              <th style="text-align: center;border: 2px;border-color: grey; color: black;" style="width:auto;"> {{usuario.perfil.get_rol_usuario_display}} </th>
              {% else %}
              <th style="text-align: center;border: 2px;border-color: grey; color: black;" style="width:auto;"> Sin Perfil </th>
              {% endif %}
              <th style="text-align: center;border: 2px;border-color: grey; color: black;" style="width:auto;"> {{usuario.perfil.empresa}} </th>
              <th style="text-align: center;border: 2px;border-color: grey; color: black;" style="width:auto;"> {{usuario.perfil.cargo_empresa}} </th>
              {% if usuario.is_active == True %}
              <th style="text-align: center;border: 2px;border-color: grey; color: black;" style="width:auto;"> Habilitado </th>              
              {% else %}
              <th style="text-align: center;border: 2px;border-color: grey; color: black;" style="width:auto;"> Deshabilitado </th>

              {% endif %}

              <th style="text-align: center;border: 2px;border-color: grey; color: black;" style="width:auto;"><a href="{% url 'editar-usuario' usuario.pk %}" > <i class="fa fa-pencil"></i> </a></th>
              {% if request.user.perfil.rol_usuario == 4 or request.user.perfil.rol_usuario == 1 %}
              <th style="text-align: center;border: 2px;border-color: grey; color: black;" style="width:auto;"><a href="{% url 'disable-usuario' usuario.pk %}" style="color:red;"> <i class="fa fa-trash"></i> </a></th>
              
              {% else %}
              {% endif %}
              {% if request.user.is_superuser  %}
                {% if  usuario.is_active == True %}
              <th style="text-align: center;border: 2px;border-color: grey; color: black;" style="width:auto;"><a href="{% url 'eliminar-usuario' usuario.pk %}" ><h6 style="color: red"><strong>&#9587;</strong></h6></a></th>
                
                {% else %}
                <th style="text-align: center;border: 2px;border-color: grey; color: black;" style="width:auto;"><a href="{% url 'enable-usuario' usuario.pk %}" ><h6 style="color: green"><strong>&#10004;</strong></h6></a></th>
           
                {% endif %}
              
              {% else %}
              {% endif %}
               </tr>           
            
          
            {% endfor %}
            <!--Fin Loop-->
          </tbody>
      </table>
        
    {% else %}
       <table class="records_list table table-striped table-bordered table-hover dataTable no-footer table-primary"style="width:100%;table-layout:Inherit;">       
         <!--Table-->
          <thead>
            <tr>
              <th style="text-align: center;border: 2px;border-color: grey; color: white;"style="width:auto;">Nombre</th>
              <th style="text-align: center;border: 2px;border-color: grey; color: white;"style="width:auto;">Correo</th>
              <th style="text-align: center;border: 2px;border-color: grey; color: white;"style="width:auto;">ROL</th>
              <th style="text-align: center;border: 2px;border-color: grey; color: white;"style="width:auto;">Empresa</th>
              <th style="text-align: center;border: 2px;border-color: grey; color: white;"style="width:auto;">Cargo</th>
              <th style="text-align: center;border: 2px;border-color: grey; color: white;"style="width:auto;">Modificar </th>
              <th style="text-align: center;border: 2px;border-color: grey; color: white;"style="width:auto;">Eliminar  </th>
            </tr>
          </thead>
          <tbody>
            <!--Loop Listar Documento-->
            {% for usuario in usuarios %}
            <tr>            
              {% if usuario.first_name %}
              <th style="text-align: center;border: 2px;border-color: grey; color: black;" style="width:auto;"> {{usuario.first_name}} {{usuario.last_name}} </th>
              {% else %}
              <th style="text-align: center;border: 2px;border-color: grey; color: black;" style="width:auto;"> No hay nombre registrado</th>
              {% endif %} 
              <th style="text-align: center;border: 2px;border-color: grey; color: black;" style="width:auto;"> {{usuario.email}} </th>
              {% if usuario.perfil.rol_usuario %}
              <th style="text-align: center;border: 2px;border-color: grey; color: black;" style="width:auto;"> {{usuario.perfil.get_rol_usuario_display}} </th>
              {% else %}
              <th style="text-align: center;border: 2px;border-color: grey; color: black;" style="width:auto;"> Sin Perfil </th>
              {% endif %}
              <th style="text-align: center;border: 2px;border-color: grey; color: black;" style="width:auto;"> {{usuario.perfil.empresa}} </th>
              <th style="text-align: center;border: 2px;border-color: grey; color: black;" style="width:auto;"> {{usuario.perfil.cargo_empresa}} </th>

              <th style="text-align: center;border: 2px;border-color: grey; color: black;" style="width:auto;"><a href="{% url 'editar-usuario' usuario.pk %}" > <i class="fa fa-pencil"></i> </a></th>
              <th style="text-align: center;border: 2px;border-color: grey; color: black;" style="width:auto;"><a href="{% url 'eliminar-usuario' usuario.pk %}" style="color:red;"> <i class="fa fa-trash"></i> </a></th>
            </tr>           
            
          
            {% endfor %}
            <!--Fin Loop-->
          </tbody>
      </table>
    {% endif %}
   
    </div>
  </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>



<script>
  function fileValidation(){
      var fileInput = document.getElementById('file');
      var filePath = fileInput.value;
      var allowedExtensions = /(.xlsx|.xls|.csv)$/i;
      if(!allowedExtensions.exec(filePath)){
          alert('Porfavor, Adjuntar Archivos formato: .xlsx/ .xls/ .csv.');
          fileInput.value = '';
          return false;
      }else{
          //Image preview
          if (fileInput.files && fileInput.files[0]) {
              var reader = new FileReader();
              reader.onload = function(e) {
                  document.getElementById('imagePreview').innerHTML = '<img src="'+e.target.result+'"/>';
              };
              reader.readAsDataURL(fileInput.files[0]);
          }
      }
  }
</script>

<script>
        $(function(){
        'use strict'

        // Toggles
        $('.toggle').toggles({
          on: true,
          height: 26
        });

        // Input Masks
        $('#dateMask').mask('99/99/9999');
        $('#phoneMask').mask('(999) 999-9999');
        $('#ssnMask').mask('999-99-9999');

        // Datepicker
        $('.fc-datepicker').datepicker({
          showOtherMonths: true,
          selectOtherMonths: true
        });

        $('#datepickerNoOfMonths').datepicker({
          showOtherMonths: true,
          selectOtherMonths: true,
          numberOfMonths: 2
        });

        // Time Picker
        $('#tpBasic').timepicker();
        $('#tp2').timepicker({'scrollDefault': 'now'});
        $('#tp3').timepicker();

        $('#setTimeButton').on('click', function (){
          $('#tp3').timepicker('setTime', new Date());
        });

        // Color picker
        $('#colorpicker').spectrum({
          color: '#17A2B8'
        });

        $('#showAlpha').spectrum({
          color: 'rgba(23,162,184,0.5)',
          showAlpha: true
        });

        $('#showPaletteOnly').spectrum({
            showPaletteOnly: true,
            showPalette:true,
            color: '#DC3545',
            palette: [
                ['#1D2939', '#fff', '#0866C6','#23BF08', '#F49917'],
                ['#DC3545', '#17A2B8', '#6610F2', '#fa1e81', '#72e7a6']
            ]
        });


        // Rangeslider
        if($().ionRangeSlider) {
          $('#rangeslider1').ionRangeSlider();

          $('#rangeslider2').ionRangeSlider({
              min: 100,
              max: 1000,
              from: 550
          });

          $('#rangeslider3').ionRangeSlider({
              type: 'double',
              grid: true,
              min: 0,
              max: 1000,
              from: 200,
              to: 800,
              prefix: '$'
          });

          $('#rangeslider4').ionRangeSlider({
              type: 'double',
              grid: true,
              min: -1000,
              max: 1000,
              from: -500,
              to: 500,
              step: 250
          });
        }

      });
</script>
<script>
  $('#datepickerNoOfMonths').datepicker({
    showOtherMonths: true,
    selectOtherMonths: true,
    numberOfMonths: 1
  });
</script>
<script>
  $("#fileInput").change(function(){
    $("button").prop("disabled", this.files.length == 0);
});
</script>

{% endblock content %}
    