{% extends 'index-config.html' %} 
{% load crispy_forms_tags %} 

{% block content%}
<!--Titulo-->

<div class="br-mainpanel">
  <div class="br-pageheader pd-y-15 pd-md-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item"> {{proyecto}} </a>
      <span class="breadcrumb-item active">Lista de Proyecto</span>
    </nav>
  </div>
  {% include "configuracion/menu.html"%}
  {% include "messege.html" %}  
  <div class="br-pagebody mg-t-5 pd-x-30">

    <div class="br-section-wrapper">
      <div class="pd-x-20 pd-sm-x-30 mg-b-10">
        <h4 class="tx-gray-800 mg-b-5">Lista de Proyecto / {{proyecto}}</h4>
        {% comment %}
        <p class="mg-b-0">{{proyecto}}</p>
        {% endcomment %}
        <p class="mg-b-0">{{codigo_proyecto}}</p>
      </div>

      <div class="row row-sm d-flex justify-content-center">
        <table class="
            table table-responsive table-striped
            mg-b-0
            table-bordered table-primary
          ">
          <!--Table-->
          <thead>
            <tr>
              <th style="
                  text-align: center;
                  border: 2px;
                  border-color: grey;
                  color: white;
                ">
                Nombre
              </th>
              <th style="
                  text-align: center;
                  border: 2px;
                  border-color: grey;
                  color: white;
                ">
                Encargado
              </th>
              <th style="
                  text-align: center;
                  border: 2px;
                  border-color: grey;
                  color: white;
                ">
                Descripción
              </th>
              <th style="
                  text-align: center;
                  border: 2px;
                  border-color: grey;
                  color: white;
                ">
                Código
              </th>
              <th style="
                  text-align: center;
                  border: 2px;
                  border-color: grey;
                  color: white;
                ">
                Fecha Inicio
              </th>
              <th style="
                  text-align: center;
                  border: 2px;
                  border-color: grey;
                  color: white;
                ">
                Fecha Término
              </th>
              <th style="
                  text-align: center;
                  border: 2px;
                  border-color: grey;
                  color: white;
                " colspan="2">
                Acción
              </th>
            </tr>
          </thead>
          <tbody>
            {% for proyecto in proyectos %}
            <tr>
              <th style="
                  text-align: center;
                  border: 2px;
                  border-color: grey;
                  color: black;
                ">
                {{proyecto.nombre}}
              </th>
              <th style="
                  text-align: center;
                  border: 2px;
                  border-color: grey;
                  color: black;
                ">
                {{proyecto.encargado}}
              </th>
              <th style="
                  text-align: center;
                  border: 2px;
                  border-color: grey;
                  color: black;
                ">
                {{proyecto.descripcion}}
              </th>
              <th style="
                  text-align: center;
                  border: 2px;
                  border-color: grey;
                  color: black;
                ">
                {{proyecto.codigo}}
              </th>
              <th style="
                  text-align: center;
                  border: 2px;
                  border-color: grey;
                  color: black;
                ">
                {{proyecto.fecha_inicio|date:'d-M-y'}}
              </th>
              <th style="
                  text-align: center;
                  border: 2px;
                  border-color: grey;
                  color: black;
                ">
                {{proyecto.fecha_termino|date:'d-M-y'}}
              </th>

              <th style="
                  text-align: center;
                  border: 2px;
                  border-color: grey;
                  color: black;
                ">
                <a href="{% url 'editar-proyecto' proyecto.pk %}">
                  <i class="fa fa-pencil"></i>
                </a>
              </th>
              <th style="
                  text-align: center;
                  border: 2px;
                  border-color: grey;
                  color: black;
                ">
                <a href="{% url 'delete-proyecto' proyecto.pk %}" style="color:red;">
                  <i class="fa fa-trash"></i>
                </a>
              </th>
            </tr>
            {% endfor %}
            <!--Fin Loop-->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}