{% extends 'index-config.html' %}

{% load crispy_forms_tags %}

{% block content %}
<!--Titulo-->
  
  <div class="br-mainpanel">
    <div class="br-pageheader pd-y-15 pd-md-l-20">
      <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" > {{proyecto}} </a>
        <span class="breadcrumb-item active">Historial de Umbrales</span>
      </nav>
    </div>

      {% include "messege.html" %}  
    <div class="br-pagebody mg-t-5 pd-x-30">
      <div class="br-section-wrapper">    
        <div class="pd-x-20 pd-sm-x-30 mg-b-10">
          <h4 class="tx-gray-800 mg-b-5">Lista de Umbrales / {{proyecto}}</h4>
        </div> 
        <div class="row row-sm d-flex justify-content-center">
          <table class="datatable table table-responsive table-striped mg-b-0 table-bordered table-primary"id="datatable1">       
      <!--Table-->
              <thead>
                <tr>
                  <th style="text-align: center;border: 2px;border-color: #fff; color: white;">Nombre</th>
                  <th style="text-align: center;border: 2px;border-color: #fff; color: white;">Descripción</th>
                  <th style="text-align: center;border: 2px;border-color: #fff; color: white;">Tiempo de Control</th>
                  <th style="text-align: center;border: 2px;border-color: #fff; color: white;">Acción</th>

                </tr>
              </thead>
              <tbody>
              {% for umbral in umbrales_notificados %}
                <tr>            
                  <th style="text-align: center;border: 2px;border-color: grey; color: black;" >{{umbral.h_umbral.umbral.nombre}}  </th>
                  <th style="text-align: center;border: 2px;border-color: grey; color: black;" >{{umbral.h_umbral.umbral.descripcion}}  </th>
                  <th style="text-align: center;border: 2px;border-color: grey; color: black;" >{{umbral.date|date:'d-M-y'}}</th>
                  <th style="text-align: center;border: 2px;border-color: grey; color: black;"><a href="{% url 'detail-notif-umbrales' umbral.pk %}"> <i class="icon ion-eye"></i> </a></th>
                </tr>
            {% endfor %}
                <!--Fin Loop-->
              </tbody>
            </table>
        </div>
      </div>  
  </div>
</div>
<script>
  $(document).ready(function () {
    $("#datatable1").DataTable({
      dom: 'B<"float-right"f>t<"float-left"l>p<"clearfix">',
      paging: true,
      pageLength: 5,
      responsive: true,
      language: {
        url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json",
      },

      buttons: {
        dom: {
          button: {
            className: "btn btn-success",
          },
        },
      },
      buttons: [
        {
          //definimos estilos del boton de excel
          extend: "excel",
          text: "Exportar a Excel",
          className: "btn btn-success",

          // 1 - ejemplo básico - uso de templates pre-definidos
          //definimos los parametros al exportar a excel

          excelStyles: {
            template: "header_blue", // Apply the 'header_blue' template part (white font on a blue background in the header/footer)
            template: "green_medium",

            template: ["blue_medium", "header_green", "title_medium"],
          },
        },
      ],
    });
  });
</script>
{% endblock content %}
