{% extends 'index-historial.html' %}

{% load crispy_forms_tags %}

{% block content %}

  <div class="br-mainpanel">
    <div class="br-pageheader pd-y-15 pd-md-l-20">
      <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" > {{proyecto}} </a>
        <span class="breadcrumb-item active">Lista de Proyecto</span>
      </nav>
      
    </div>

      {% include "messege.html" %}  
    <div class="br-pagebody mg-t-5 pd-x-30">     
   <div class="col-lg-12">
            <div class="card shadow-base bd-0">
            
            <div class="form-layout form-layout-7 " STYLE="" >               
                <div class="row no-gutters">
                    <div class="col-5 col-sm-4" style="text-transform:capitalize  ;justify-content:flex-start;text-align: center;color:black;font-weight: 900;font-size: 18px;">
                    Umbral
                    </div><!-- col-4 -->
                    <div class="col-7 col-sm-8" style="justify-content:flex-start;color:black;font-weight: 900;font-size: 18px;">
                    {{objeto.h_umbral.umbral.nombre}}
                    </div><!-- col-8 -->
                </div>
            <div class="row no-gutters">
                <div class="col-5 col-sm-4" style="text-transform:initial;justify-content:flex-start;text-align: center;color:black;font-weight: 900;font-size: 18px;">
                  Descripcion
                </div><!-- col-4 -->
                <div class="col-7 col-sm-8" style="justify-content:flex-start;color:black;font-weight: 900;font-size: 18px;">
                  {{objeto.h_umbral.umbral.descripcion}}
                </div><!-- col-8 -->
            </div>
            
              <div class="row no-gutters">
                <div class="col-5 col-sm-4" style="text-transform:capitalize  ;justify-content:flex-start;text-align: center;color:black;font-weight: 900;font-size: 18px;">
                  Fecha Notificación
                </div><!-- col-4 -->
                <div class="col-7 col-sm-8" style="text-transform:capitalize  ;justify-content:flex-start;color:black;font-weight: 900;font-size: 18px;">
                  {{objeto.date|date:"d-M-Y H:i"}}
                </div><!-- col-8 -->
              </div>
              
                                
            </div>


                {% if atrasos %}
                    <table class="table table-striped mg-b-0 table-bordered table-primary">
                        <thead class="thead-colored thead-primary">
                            <tr class="tx-10">
                                <th class="pd-y-5"style="text-align: center;">Avance Real</th>
                                <th class="pd-y-5"style="text-align: center;">Avance Programado</th>
                                <th class="pd-y-5"style="text-align: center;">Desviación<br>Porcentual </th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="tx-12"style="text-align: center;font-weight:800;">{{objeto.porcentaje_atraso.2}} </td>
                        
                            <td class="tx-12"style="text-align: center;font-weight:800;">{{objeto.porcentaje_atraso.1}} </td>

                            <td class="tx-12"style="text-align: center;font-weight:800;">{{objeto.porcentaje_atraso.0}} </td>
                        </tr>
                        </tbody>
                    </table>
                {% endif %}

                {% if not atrasos %}
                    <table class="table table-striped mg-b-0 table-bordered table-primary">
                        <thead class="thead-colored thead-primary">
                            <tr class="tx-10">
                                <th class="pd-y-5"style="text-align: center;">Especialidad</th>
                                <th class="pd-y-5"style="text-align: center;">Descripción</th>
                                <th class="pd-y-5"style="text-align: center;">Tipo</th>
                                <th class="pd-y-5"style="text-align: center;">Código</th>
                                <th class="pd-y-5"style="text-align: center;">Revisión</th>
                                <th class="pd-y-5"style="text-align: center;">Atraso</th>

                            </tr>
                        </thead>
                        <tbody>
                        {% for version in umbral_notificado %}
                            <tr>
                                <td class="tx-12"style="text-align: center;font-weight:800;">{{version.0.documento_fk.Especialidad}} </td>
                                <td class="tx-12"style="text-align: center;font-weight:800;">{{version.0.documento_fk.Descripcion}}</td>
                                <td class="tx-12"style="text-align: center;font-weight:800;">{{version.0.documento_fk.Tipo_Documento}}</td>
                                <td class="tx-12"style="text-align: center;font-weight:800;">{{version.0.documento_fk.Codigo_documento}} </td>
                                <td class="tx-12"style="text-align: center;font-weight:800;">{{version.0.get_revision_display}}</td>
                                <td class="tx-12"style="text-align: center;font-weight:800;">{{version.1}}</td>

                            </tr>
                        {% endfor %}
                          <tr>
                                <td class="tx-12"> <button class="btn btn-warning tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-l-10" onClick="javascript:history.go(-1);" type="submit"> volver</button>
</td>
                            </tr>
                       
                        </tbody>
                    </table>
                {% endif %}
{% endblock content %}