{% extends 'index-config.html' %}

{% load crispy_forms_tags %}

{% block content %}
<!--Titulo-->
  
  <div class="br-mainpanel">
    <div class="br-pageheader pd-y-15 pd-md-l-20">
      <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" > {{proyecto}} </a>
        <span class="breadcrumb-item active">Lista de Proyecto</span>
      </nav>
    </div>
    <div class="br-pagebody mg-t-5 pd-x-30">

       <div class="pd-10 bd bg-gray-900  rounded mg-t-10">
        <ul class="nav nav-pills flex-column flex-md-row justify-content-center" role="tablist">
          <li class="nav-item"><a class="nav-link active" href="{% url 'lista-proyecto' %}" role="tab">Lista de Proyectos</a></li>
          <li class="nav-item"><a class="nav-link" style="color:#fff;" href="{% url 'crear-proyecto' %}" role="tab">Agregar Proyectos</a></li>
          <li class="nav-item"><a class="nav-link" style="color:#fff;" href="{% url 'add-user-proyecto' %}" role="tab">Agregar Usuarios a Proyectos</a></li>
          <li class="nav-item"><a class="nav-link" style="color:#fff;" href="{% url 'crear-usuario' %}" role="tab">Agregar Usuario</a></li>
          <li class="nav-item"><a class="nav-link" style="color:#fff;" href="{% url 'listar-usuarios' %}" role="tab">Listar Usuarios</a></li>
          <li class="nav-item">
            <div class="dropdown">
              <button class="btn btn-light dropdown-toggle nav-link" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Restricciones
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <a class="nav-link" href="{% url 'restriccion' %}"><button class="dropdown-item" type="button">Restricciones</button></a>
                <a class="nav-link" href="{% url 'no-cumplimiento' %}"><button class="dropdown-item" type="button">No cumplimiento</button></a>
                
              </div>
            </div>
          </li>
          <li class="nav-item"><a class="nav-link" style="color:#fff;" href="{% url 'list-umbrales' %}">Umbrales</a></li>
        </ul>
      </div><!-- pd-10 -->

      <div class="br-section-wrapper">    
        <div class="pd-x-20 pd-sm-x-30 mg-b-10">
          <h4 class="tx-gray-800 mg-b-5">Lista de Umbrales / {{proyecto}}</h4>
        </div> 

        <div class="row row-sm d-flex justify-content-center">
          <table class="table table-responsive table-striped mg-b-0 table-bordered table-primary">       
      <!--Table-->
              <thead>
                <tr>
                  <th style="text-align: center;border: 2px;border-color: grey; color: white;">Nombre</th>
                  <th style="text-align: center;border: 2px;border-color: grey; color: white;">Descripción</th>
                  <th style="text-align: center;border: 2px;border-color: grey; color: white;">Tiempo de Control</th>
                  <th style="text-align: center;border: 2px;border-color: grey; color: white;">Variable de Atraso</th>
                  <th style="text-align: center;border: 2px;border-color: grey; color: white;">Última<br>Revisión</th>
                  <th style="text-align: center;border: 2px;border-color: grey; color: white;">Acción</th>

                </tr>
              </thead>
              <tbody>
              {% for umbral in umbrales %}
                <tr>            
                  <th style="text-align: center;border: 2px;border-color: grey; color: black;" >{{umbral.umbral.nombre}}  </th>
                  <th style="text-align: center;border: 2px;border-color: grey; color: black;" >{{umbral.umbral.descripcion}}  </th>
                  <th style="text-align: center;border: 2px;border-color: grey; color: black;" >{{umbral.tiempo_control}} </th>
                  <th style="text-align: center;border: 2px;border-color: grey; color: black;" >{{umbral.variable_atraso}}  </th>
                  <th style="text-align: center;border: 2px;border-color: grey; color: black;" >{{umbral.last_checked|date:'d-M-y'}}</th>
                  <th style="text-align: center;border: 2px;border-color: grey; color: black;"><a href="{% url 'edit-umbrales' umbral.pk %}" class="btn btn-teal center"> Modificar </a></th>
                </tr>
            {% endfor %}
                <!--Fin Loop-->
              </tbody>
            </table>
        </div>
      </div>  
  </div>
</div>

{% endblock content %}