<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Software de Gestion y administracion de archivos.">
    <meta name="author" content="STOD CHILE for DM">

    <title>DMP</title>
    <link rel="stylesheet" href="https://www.stod.cl/bracket.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>

  

    <!-- ########## START: MAIN PANEL ########## -->
      </div><!-- br-pageheader -->
      <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
        <h4 class="tx-gray-800 mg-b-5">Documentos Atrasados del proyecto <strong>{{proyecto.nombre}}</strong></h4>
       </div>

        <table class="table table-bordered table-primary ">
              <thead>
                <tr style="border: black 2px;">
                  <th >Especialidad</th>
                  <th >Descripción</th>
                  <th >Código</th>
                  <th >Tipo</th>
                  <th >Revisión Actual</th>
                  <th >Último transmittal</th>
                  <th >Fecha Final</th>
                  <th >Días de revisión</th>
                  <th >Estado</th>
                  <th >Fecha Inicial</th>
                  <th >Fecha Final</th>
                  <th >(%)Avance</th>
                  <th >Ciclo revisión (d)</th>
                </tr>
              </thead>
              <tbody>
                {% for doc in documentos %}
                  <tr style="border: black 2px;">
                    <td style="border: black 2px;color: black; background-color: rgb(255, 255, 255);font-weight: 400; text-align: center;font-size: 12px;width: auto;"> {{doc.Codigo_documento}} </td>
                    <td style="border: black 2px;color: black; background-color: rgb(255, 255, 255);font-weight: 400; text-align: center;font-size: 12px;width: auto;">{{doc.Descripcion}}</td>
                    <td style="border: black 2px;color: black; background-color: rgb(252, 251, 255);font-weight: 400; text-align: center;font-size: 12px;width: auto;">{{doc.Tipo_Documento}}</td>
                    <td style="border: black 2px;color: black; background-color: rgb(255, 255, 255);font-weight: 400; text-align: center;font-size: 12px;width: auto;">{{doc.Especialidad}}</td>
                    <td style="border: black 2px;color: black; background-color: rgb(255, 255, 255);font-weight: 400; text-align: center;font-size: 12px;width: auto;"></td>
                    <td style="border: black 2px;color: black; background-color: rgb(255, 255, 255);font-weight: 400; text-align: center;font-size: 12px;width: auto;"></td>
                    <td style="border: black 2px;color: black; background-color: rgb(255, 255, 255);font-weight: 400; text-align: center;font-size: 12px;width: auto;"></td>
                    <td style="border: black 2px;color: black; background-color: rgb(255, 255, 255);font-weight: 400; text-align: center;font-size: 12px;width: auto;"></td>
                    <td style="border: black 2px;color: black; background-color: rgb(255, 255, 255);font-weight: 400; text-align: center;font-size: 12px;width: auto;"></td>
                    <td style="border: black 2px;color: black; background-color: rgb(255, 255, 255);font-weight: 400; text-align: center;font-size: 12px;width: auto;"></td>
                    <td style="border: black 2px;color: black; background-color: rgb(255, 255, 255);font-weight: 400; text-align: center;font-size: 12px;width: auto;"></td>
                    <td style="border: black 2px;color: black; background-color: rgb(255, 255, 255);font-weight: 400; text-align: center;font-size: 12px;width: auto;"></td>
                  </tr>
                {% endfor %}

              </tbody>
            </table>
              </div><!-- card-body -->
            </div><!-- card -->
          </div><!-- col-3 -->         
        </div><!-- row -->       

  </body>
</html>
