<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Software de Gestion y administracion de archivos.">
    <meta name="author" content="STOD CHILE for DM">

    <title>DMP</title>

    <!-- vendor css -->

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="https://stod.cl/bracket.css"> 
    <link rel="stylesheet" href="https://stod.cl/bracket.min.css"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
   <script>
      window.onload = function(){
      var fecha = new Date(); //Fecha actual
      var mes = fecha.getMonth()+1; //obteniendo mes
      var dia = fecha.getDate(); //obteniendo dia
      var ano = fecha.getFullYear(); //obteniendo año
      if(dia<10)
        dia='0'+dia; //agrega cero si el menor de 10
      if(mes<10)
        mes='0'+mes //agrega cero si el menor de 10
      document.getElementById('fechaActual').value=dia+"-"+mes+"-"+ano;
    }
   </script>
  </head>

  <body>

  

    <!-- ########## START: MAIN PANEL ########## -->
 <div class="br-mainpanel" style="position: relative;">
      </div><!-- br-pageheader -->
      <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
        <h4 class="tx-gray-800 mg-b-5">Documentos Atrasados</h4>
       </div>

      <div class="br-pagebody pd-x-20 pd-sm-x-30">
        <div class="row no-gutters widget-1 shadow-base">
          <div class="col-sm-12 col-lg-6">
            <div class="card">
              <div class="card-header">
                <h6 class="card-title">Today's Sales</h6>
                <a href=""><i class="icon ion-android-more-horizontal"></i></a>
              </div><!-- card-header -->
              <div class="card-body">
                <table class="table mg-b-0">
              <thead>
                <tr>
                  <th>Codigo Documento</th>
                  <th>Descripción</th>
                  <th>Tipo Documento</th>
                  <th>Especialidad</th>
                </tr>
              </thead>
              <tbody>
                {% for doc in documentos %}
                  <tr>
                    <th scope="row"> {{doc.Codigo_documento}} </th>
                    <td>{{doc.Descripcion}}</td>
                    <td>{{doc.Tipo_Documento}}</td>
                    <td>{{doc.Especialidad}}</td>
                  </tr>
                {% endfor %}

              </tbody>
            </table>
              </div><!-- card-body -->
            </div><!-- card -->
          </div><!-- col-3 -->         
        </div><!-- row -->       
      </div><!-- br-pagebody -->
    <div class="resize-sensor" style="position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden;"><div class="resize-sensor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 100000px; height: 100000px;"></div></div><div class="resize-sensor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div></div></div></div>
    <!-- ########## END: MAIN PANEL ########## -->

  </body>
</html>
