{% extends 'index-analitica.html' %}

{% block content %}
  <div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item" > {{proyecto}} </a>
      <span class="breadcrumb-item active">Analitica</span>
    </nav>
  </div>
  <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <h4 class="tx-gray-800 mg-b-5">Panel de Analita</h4>
  </div>
  <div class="row row-sm mg-t-20">
          <div class="col-md-6">
              <div class="widget-2">
                  <div class="card shadow-base overflow-hidden chart">
                      <div class="card-header">
                        <div class="card-title">
                            Estados de los Documentos
                        </div>
                        <div class="card-body">
                            <canvas id="myChart2" width="500" height="400"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          <div class="col-md-6">
                <div class="widget-2">
                    <div class="card shadow-base overflow-hidden chart">
                        <div class="card-header">
                          <div class="card-title">
                              Documentos por emitir por SubEstacion
                          </div> 
                          <div class="card-body">
                            <canvas id="myChart5" width="500" height="400"></canvas>

                          </div>
                        </div>
                      </div>
                    </div>
              </div>
   </div>
  <div class="row row-sm mg-t-20">
        <div class="col-md-6">
            <div class="widget-2">
                <div class="card shadow-base overflow-hidden chart">
                    <div class="card-header">
                      <div class="card-title">
                        Estatus Documento Aprobado <strong>VS</strong> Totales por SubEstacion
                      </div>
                      <div class="card-body">
                        <canvas id="myChart3" width="500" height="400"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        <div class="col-md-6">
              <div class="widget-2">
                  <div class="card shadow-base overflow-hidden chart">
                      <div class="card-header">
                        <div class="card-title">
                            curva de avance Fisico Ingenieria
                        </div> 
                        <div class="card-body">
                            <canvas id="myChart4" width="500" height="400"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
   </div>            
          
<script>
  $(document).ready(function(){
    //DOCUMENTOS POR EMITIR POR SUBESTACION
    var ctx = document.getElementById('myChart5').getContext('2d');
    var myChart5 = new Chart(ctx, {
      type: 'pie',
      data: {
          labels: [ '{% for emisiones in lista_emisiones %} {{emisiones.1}}',  '{% endfor %}' ],
          datasets: [{
              label: '# of Votes',
              data: [ {% for emisiones in lista_emisiones %} {{emisiones.0}}, {% endfor %} ],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)',
                  'rgba(211, 84, 0, 0.2)',
                  'rgba(191, 201, 202, 0.2)',
                  'rgba(249, 231, 159, 0.2)',
                  'rgba(210, 180, 222, 0.2)',
                  'rgba(231, 76, 60, 0.2)',
                  'rgba(17, 122, 101, 0.2)',
                  'rgba(93, 173, 226, 0.2)',
                  'rgba(241, 196, 15, 0.2)',
                  'rgba(253, 237, 236, 0.2)',
                  'rgba(64, 247, 7, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)',
                  'rgba(211, 84, 0, 1)',
                  'rgba(191, 201, 202, 1)',
                  'rgba(249, 231, 159, 1)',
                  'rgba(210, 180, 222, 1)',
                  'rgba(231, 76, 60, 1)',
                  'rgba(17, 122, 101, 1)',
                  'rgba(93, 173, 226, 1)',
                  'rgba(241, 196, 15, 1)',
                  'rgba(253, 237, 236, 1)',
                  'rgba(64, 247, 7, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
          }
      }
    });

    //STADOS DE LOS DOCUMENTOS
    var ctx = document.getElementById('myChart2').getContext('2d');
    var myChart2 = new Chart(ctx, {
      type: 'horizontalBar',
      data: {
          labels: ['{% for value in lista_final %} {{value.1}}',  '{% endfor %}'],
          datasets: [{
              label: '# of Votes',  
              data: [{% for value in lista_final %} {{value.0}}, {% endfor %}],
              backgroundColor: [
                  'rgba(209, 104, 210, 0.2)',
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(209, 104, 210, 1)',
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
          }
      }
    });
  });
    //ESTATUS DOCUMENTO APROVADO VS TOTALES POR SUBESTACION (MUESTRA HASTA EL FINAL)
    var ctx = document.getElementById('myChart3').getContext('2d');
    var myChart3 = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ['{% for emisiones in lista_emisiones %} {{emisiones.1}}',  '{% endfor %}'],
          datasets: [
            {
              label: '# of Votes',
              data: [{% for emisiones in lista_emisiones %} {{emisiones.0}}, {% endfor %}],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)',
                  'rgba(211, 84, 0, 0.2)',
                  'rgba(191, 201, 202, 0.2)',
                  'rgba(249, 231, 159, 0.2)',
                  'rgba(210, 180, 222, 0.2)',
                  'rgba(231, 76, 60, 0.2)',
                  'rgba(17, 122, 101, 0.2)',
                  'rgba(93, 173, 226, 0.2)',
                  'rgba(241, 196, 15, 0.2)',
                  'rgba(253, 237, 236, 0.2)',
                  'rgba(64, 247, 7, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)',
                  'rgba(211, 84, 0, 1)',
                  'rgba(191, 201, 202, 1)',
                  'rgba(249, 231, 159, 1)',
                  'rgba(210, 180, 222, 1)',
                  'rgba(231, 76, 60, 1)',
                  'rgba(17, 122, 101, 1)',
                  'rgba(93, 173, 226, 1)',
                  'rgba(241, 196, 15, 1)',
                  'rgba(253, 237, 236, 1)',
                  'rgba(64, 247, 7, 1)'
              ],
              borderWidth: 1
          }, {
            label: '# of Pieces', 
              data: [ {% for emisiones in lista_total_documentos %} {{emisiones.0}}, {% endfor %} ],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)',
                  'rgba(211, 84, 0, 0.2)',
                  'rgba(191, 201, 202, 0.2)',
                  'rgba(249, 231, 159, 0.2)',
                  'rgba(210, 180, 222, 0.2)',
                  'rgba(231, 76, 60, 0.2)',
                  'rgba(17, 122, 101, 0.2)',
                  'rgba(93, 173, 226, 0.2)',
                  'rgba(241, 196, 15, 0.2)',
                  'rgba(253, 237, 236, 0.2)',
                  'rgba(64, 247, 7, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)',
                  'rgba(211, 84, 0, 1)',
                  'rgba(191, 201, 202, 1)',
                  'rgba(249, 231, 159, 1)',
                  'rgba(210, 180, 222, 1)',
                  'rgba(231, 76, 60, 1)',
                  'rgba(17, 122, 101, 1)',
                  'rgba(93, 173, 226, 1)',
                  'rgba(241, 196, 15, 1)',
                  'rgba(253, 237, 236, 1)',
                  'rgba(64, 247, 7, 1)'
              ],
              borderWidth: 1
          }
          ]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
          }
      }
  });

    //Curva S
    var ctx = document.getElementById('myChart4').getContext('2d');
    var myChart4 = new Chart(ctx, {
      type: 'line',
      data: {
          labels: ['{% for emisiones in lista_curva_s %} {{emisiones.1}}',  '{% endfor %}'],
          datasets: [
            {
              label: '# of Votes',
              data: [12, 19, 3, 5, 2, 3],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)',
                  'rgba(211, 84, 0, 0.2)',
                  'rgba(191, 201, 202, 0.2)',
                  'rgba(249, 231, 159, 0.2)',
                  'rgba(210, 180, 222, 0.2)',
                  'rgba(231, 76, 60, 0.2)',
                  'rgba(17, 122, 101, 0.2)',
                  'rgba(93, 173, 226, 0.2)',
                  'rgba(241, 196, 15, 0.2)',
                  'rgba(253, 237, 236, 0.2)',
                  'rgba(64, 247, 7, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)',
                  'rgba(211, 84, 0, 1)',
                  'rgba(191, 201, 202, 1)',
                  'rgba(249, 231, 159, 1)',
                  'rgba(210, 180, 222, 1)',
                  'rgba(231, 76, 60, 1)',
                  'rgba(17, 122, 101, 1)',
                  'rgba(93, 173, 226, 1)',
                  'rgba(241, 196, 15, 1)',
                  'rgba(253, 237, 236, 1)',
                  'rgba(64, 247, 7, 1)'
              ],
              borderWidth: 1,
              fill: false
          }, {
            label: '# of Pieces',
              data: [9, 11, 8, 14, 3, 1],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)',
                  'rgba(211, 84, 0, 0.2)',
                  'rgba(191, 201, 202, 0.2)',
                  'rgba(249, 231, 159, 0.2)',
                  'rgba(210, 180, 222, 0.2)',
                  'rgba(231, 76, 60, 0.2)',
                  'rgba(17, 122, 101, 0.2)',
                  'rgba(93, 173, 226, 0.2)',
                  'rgba(241, 196, 15, 0.2)',
                  'rgba(253, 237, 236, 0.2)',
                  'rgba(64, 247, 7, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)',
                  'rgba(211, 84, 0, 1)',
                  'rgba(191, 201, 202, 1)',
                  'rgba(249, 231, 159, 1)',
                  'rgba(210, 180, 222, 1)',
                  'rgba(231, 76, 60, 1)',
                  'rgba(17, 122, 101, 1)',
                  'rgba(93, 173, 226, 1)',
                  'rgba(241, 196, 15, 1)',
                  'rgba(253, 237, 236, 1)',
                  'rgba(64, 247, 7, 1)'
              ],
              borderWidth: 1,
              fill: false
          }, {
            label: '# of Cosas',
              data: [9, 11, 8, 14, 3, 1],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)',
                  'rgba(211, 84, 0, 0.2)',
                  'rgba(191, 201, 202, 0.2)',
                  'rgba(249, 231, 159, 0.2)',
                  'rgba(210, 180, 222, 0.2)',
                  'rgba(231, 76, 60, 0.2)',
                  'rgba(17, 122, 101, 0.2)',
                  'rgba(93, 173, 226, 0.2)',
                  'rgba(241, 196, 15, 0.2)',
                  'rgba(253, 237, 236, 0.2)',
                  'rgba(64, 247, 7, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)',
                  'rgba(211, 84, 0, 1)',
                  'rgba(191, 201, 202, 1)',
                  'rgba(249, 231, 159, 1)',
                  'rgba(210, 180, 222, 1)',
                  'rgba(231, 76, 60, 1)',
                  'rgba(17, 122, 101, 1)',
                  'rgba(93, 173, 226, 1)',
                  'rgba(241, 196, 15, 1)',
                  'rgba(253, 237, 236, 1)',
                  'rgba(64, 247, 7, 1)'
              ],
              borderWidth: 1,
              fill: false
          }
        ]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
          }
      }
  });
</script>

{% endblock content %}
      
