{% extends 'index-analitica.html' %}

{% block content %}
  <div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item" > {{proyecto}} </a>
      <span class="breadcrumb-item active">Analitica</span>
    </nav>
  </div>
    <div class="card bd-0 shadow-base">
      <!--Chart 1-->
     <div class="col-xl-6">
              <div class="bd pd-20">
                
            </div>
      <!--chart 2-->
    </div>
<div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div>

{% endblock content %}
      
    