{% extends 'index-analitica.html' %}
{% block content %}
<div class="br-pagebody mg-t-5 pd-x-30">
    <!--Curva S-->
    <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
      <h4 class="tx-gray-800 mg-b-5">Panel de Analítica</h4>
    </div>
    <div class="pd-10 bd rounded bg-white">
      <ul class="nav nav-pills flex-column flex-md-row justify-content-center" role="tablist">
        <li class="nav-item mg-x-5">
          <a class="nav-link" data-toggle="tab" role="tab" style="padding-top: 0px;padding-bottom: 0px;">     
            <button class="btn btn-primary" onclick="javascript:window.print()">
              <span class="icon wd-40"><i class="fa fa-print" style="color:#fff;"></i></span>
              <span class="pd-x-15" style="color:#fff;">Imprimir</span>
            </button>     
          </a>
        </li>
        <li class="nav-item mg-x-5">
          <select class="form-control" data-placeholder="Seleccionar tipo de Curva">
            <option selected disabled>Seleccionar tipo de curva</option>
            <option value="1">Porcentaje</option>
            <option value="2">Por HH</option>
          </select>
        </li>
        <form action="POST"> {% csrf_token %}
        <li class="nav-item mg-x-5"><button class="btn btn-teal" type="submit"> Guardar </button></li>
        </form>
        <li class="nav-item mg-x-5"><a class="nav-link" data-toggle="tab" href="#" role="tab">Fecha última Línea Base: {{curvaBaseHH.fecha_creacion|date:'d-m-y'}}</a></li>
      </ul>
    </div><!-- pd-10 -->
    <div class="row row-sm mg-t-20">
      <div class="col-md-12 graficos">
        <div class="widget-2">
          <div class="card shadow-base overflow-hidden chart">
            <div class="card-header" style="text-align:center;display:flow-root;">
              <h4 class="tx-gray-800 mg-b-5">Curva de Avance Físico Ingenieria</h4>
    
              
              <div class="card-body" height="1280px">
                  <canvas id="canvas" class="chartjs-render-monitor" style="width:100%;"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


<script>
    var chartData = {
        labels: ['{% for emisiones in lista_curva_s_fechas %} {{emisiones|date:"d-m-y"}}', '{% endfor %}'],
        datasets: [
        {
              type: 'line',
              label: 'Línea Base',
              backgroundColor: [{% for esperado in curvaBaseHH.datos_lista %} {% if forloop.counter|divisibleby:2 %} {% else %} 'rgba(0, 0, 0, 1)', {% endif %} {% endfor %}],
              borderColor: [{% for esperado in curvaBaseHH.datos_lista %} {% if forloop.counter|divisibleby:2 %} {% else %} 'rgba(0, 0, 0, 1)', {% endif %} {% endfor %}],
              borderWidth: 0.5,
              lineTension:0.09,
              fill: false,
              data: [{% for real_linea in curvaBaseHH.datos_lista %} {% if forloop.counter|divisibleby:2 %} {% else %} {{real_linea}},  {% endif %} {% endfor %}],
              },
        {
              type: 'line',
              label: 'Avance Esperado',
              backgroundColor: [{% for esperado in lista_curva_s_avance_esperado %} {% if forloop.counter != lista_curva_s_avance_esperado_largo %} 'rgba(255, 99, 132, 0.2)', {% endif %} {% if forloop.counter == lista_curva_s_avance_esperado_largo %} 'rgba(255, 99, 132, 0.2)' {% endif %} {% endfor %}],
              borderColor: [{% for esperado in lista_curva_s_avance_esperado %} {% if forloop.counter != lista_curva_s_avance_esperado_largo %} 'rgba(255, 99, 132, 1)', {% endif %} {% if forloop.counter == lista_curva_s_avance_esperado_largo %} 'rgba(255, 99, 132, 1)' {% endif %} {% endfor %}],
              borderWidth: 1,
              lineTension:0.18,
              fill: false,
              data: [{% for esperado in lista_curva_s_avance_esperado %} {{esperado.0}}, {% endfor %}]
              },
        {
              type: 'line',
              label: 'Avance Real',
              backgroundColor: [{% for esperado in lista_curva_s_avance_real %} {% if forloop.counter != lista_curva_s_avance_real_largo %} {% if esperado.1 == 0 %} 'rgba(54, 162, 235, 1)', {% endif %} {% endif %} {% if forloop.counter == lista_curva_s_avance_real_largo %} {% if esperado.1 == 0 %} 'rgba(54, 162, 235, 1)', {% endif %} {% endif %} {% endfor %}],
              borderColor: [{% for esperado in lista_curva_s_avance_real %} {% if forloop.counter != lista_curva_s_avance_real_largo %} {% if esperado.1 == 0 %} 'rgba(54, 162, 235, 1)', {% endif %} {% endif %} {% if forloop.counter == lista_curva_s_avance_real_largo %} {% if esperado.1 == 0 %} 'rgba(54, 162, 235, 1)', {% endif %} {% endif %} {% endfor %}],
              borderWidth: 1,
              lineTension:0.1,
              fill: false,
              data: [{% for real_linea in lista_curva_s_avance_real %} {% if real_linea.1 == 0 %} {{real_linea.0}}, {% endif %} {% endfor %}],
              }, 
        {
                  type: 'line',
              label: 'Forecast',
              backgroundColor: [{% for esperado in lista_curva_s_avance_real %} {% if forloop.counter != lista_curva_s_avance_real_largo %} {% if esperado.1 == 0 %} 'rgba(7, 254, 3, 0.7)', {% endif %} {% endif %} {% if forloop.counter == lista_curva_s_avance_real_largo %} {% if esperado.1 == 0 %} 'rgba(7, 254, 3, 0.7)', {% endif %} {% endif %} {% endfor %} {% for esperado in lista_curva_s_avance_real %} {% if forloop.counter != lista_curva_s_avance_real_largo %} {% if esperado.1 == 1 %} 'rgba(7, 254, 3, 0.7)', {% endif %} {% endif %} {% if forloop.counter == lista_curva_s_avance_real_largo %} {% if esperado.1 == 1 %} 'rgba(7, 254, 3, 0.7)', {% endif %} {% endif %} {% endfor %}],
              borderColor: [{% for esperado in lista_curva_s_avance_real %} {% if forloop.counter != lista_curva_s_avance_real_largo %} {% if esperado.1 == 0 %} 'rgba(7, 254, 3, 0.7)', {% endif %} {% endif %} {% if forloop.counter == lista_curva_s_avance_real_largo %} {% if esperado.1 == 0 %} 'rgba(7, 254, 3, 0.7)', {% endif %} {% endif %} {% endfor %} {% for esperado in lista_curva_s_avance_real %} {% if forloop.counter != lista_curva_s_avance_real_largo %} {% if esperado.1 == 1 %} 'rgba(7, 254, 3, 0.7)', {% endif %} {% endif %} {% if forloop.counter == lista_curva_s_avance_real_largo %} {% if esperado.1 == 1 %} 'rgba(7, 254, 3, 0.7)', {% endif %} {% endif %} {% endfor %}],
              borderWidth: 0.5,
              lineTension:0.09,
              fill: false,
              data: [{% for real_linea in lista_curva_s_avance_real %} {{real_linea.0}}, {% endfor %}],
              },
        {
              type: 'bar',
              label: 'Avance Real Parcial (Barras)',
              backgroundColor: [{% for esperado in lista_curva_s_avance_real %} {% if esperado.1 == 0 %} 'rgba(88, 150, 141 , 0.6)', {% endif %} {% endfor %}],
              borderColor: [{% for esperado in lista_curva_s_avance_real %} {% if esperado.1 == 0 %} 'rgba(88, 150, 141 , 1)', {% endif %} {% endfor %}],
              fill: true,
              borderWidth: 1,
              data: [{% for real_barra in lista_curva_s_avance_real %} {{real_barra.2}}, {% endfor %}],
              },
        {
              type: 'bar',
              label: 'Avance Esperado Parcial (Barras)',
              backgroundColor: [{% for esperado in lista_curva_s_avance_esperado %} {% if forloop.counter != lista_curva_s_avance_esperado_largo %} 'rgba(255, 15, 132, 0.7)', {% endif %} {% if forloop.counter == lista_curva_s_avance_esperado_largo %} 'rgba(255, 15, 132, 0.7)' {% endif %} {% endfor %}],
              borderColor: [{% for esperado in lista_curva_s_avance_esperado %} {% if forloop.counter != lista_curva_s_avance_esperado_largo %} 'rgba(255, 15, 132, 1)', {% endif %} {% if forloop.counter == lista_curva_s_avance_esperado_largo %} 'rgba(255, 15, 132, 1)' {% endif %} {% endfor %}],
              fill: true,
              borderWidth: 1,
              data: [{% for esperado_barra in lista_curva_s_avance_esperado %} {{esperado_barra.1}}, {% endfor %}],
        }]
          
      };

    window.onload = function() {
        var ctx = document.getElementById('canvas').getContext('2d');
        window.myMixedChart = new Chart(ctx, {
            type: 'line',
            data: chartData,
            options: {
  
      barPercentage: 1,
                responsive: true,
                plugins: {
                        tooltip: {
                        mode: 'index',
                        intersect: true
        },
        ticks: {
          beginAtZero: true,
          min: 0,
          stepSize: 1,
               callback: function(value){return value+ "%"}

        },
        
                },
      scales: {
      yAxes: [{
      ticks: {
      min: 0,
      max: 100,
      callback: function(value) {
      return value + "%"
      }
      },
      scaleLabel: {
      display: true,
      }
      }]
      }
            }
        });
    };
</script>
{% endblock content %}