{% extends 'index-analitica.html' %}

{% block content %}
  <div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item" > {{proyecto}} </a>
      <span class="breadcrumb-item active">Analítica</span>
    </nav>
  </div>
  <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <h4 class="tx-gray-800 mg-b-5">Panel de Analítica</h4>
  </div>
  <!--Curva S-->
  <div class="row row-sm mg-t-20">
    <div class="col-md-12">
          <div class="widget-2">
              <div class="card shadow-base overflow-hidden chart">
                  <div class="card-header">
                    <h4 class="tx-gray-800 mg-b-5">Curva de Avance Físico Ingenieria</h4>                       
                  </div>
                  <div class="card-body" height="1280px">
                  	<div style="width: 100%">
                      <canvas id="canvas"width="1507" height="653" class="chartjs-render-monitor" style="display: block; height: 603px; width: 1206px;"></canvas>
                    </div>
                </div>
                </div>
              </div>
        </div>
  </div>
  <!--Graficos Juntos-->  
  <div class="row row-sm mg-t-20">
    <!--Listado Enviados-->
    <div class="col-md-6">
              <div class="widget-2">
                  <div class="card shadow-base overflow-hidden chart">

                      <div class="card-header">
                    <h4 class="tx-gray-800 mg-b-5">Estados de Documentos</h4>                        
                        
                      </div>
                      <div class="card-body">
                        <div style="width: 100%">
                        <canvas id="myChart2"></canvas>
                        </div>
                    </div>
                    </div>
                  </div>
    </div>
    <!--Lista Pendiente Pie-->
    <div class="col-md-6">
                <div class="widget-2">
                    <div class="card shadow-base overflow-hidden chart">
                    
                        <div class="card-header">
                           <h4 class="tx-gray-800 mg-b-5 text-align-center"> Documentos a Emitir por Especialidad</h4>                        
                          
                        </div>
                        <div class="card-body">
                          <div style="width: 100%">
                          <canvas id="myChart5"></canvas>
                          </div>
                        </div>
                      </div>
                    </div>
    </div>              
  </div>
  <!--4to Grafico-->
  <div class="row row-sm mg-t-20">
    
    <div class="col-md-12">
      <div class="widget-2">
          <div class="card shadow-base overflow-hidden chart">
              <div class="card-header">
            <h4 class="tx-gray-800 mg-b-5">Documentos Totales por Especialidad <strong>VS</strong> Documentos Emitidos</h4>                        

                
              </div>
              <div class="card-body">
                <div style="width: 100%">
                <canvas id="myChart3"width="1507" height="653" class="chartjs-render-monitor" style="display: block; height: 603px; width: 1206px;" ></canvas>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>          
<script>
  $(document).ready(function(){
    //DOCUMENTOS POR EMITIR POR SUBESTACION
    var ctx = document.getElementById('myChart5').getContext('2d');
    var myChart5 = new Chart(ctx, {
      type: 'pie',
      fill: false,
      data: {
          labels: [ '{% for emisiones in lista_emisiones %} {% if forloop.counter != lista_emisiones_largo %} {{emisiones.1}}', '{% endif %} {% if forloop.counter == lista_emisiones_largo %} {{emisiones.1}} {% endif %} {% endfor %}' ],
          datasets: [{
              data: [ 
              {% for emisiones in lista_emisiones %} 
                 {% if forloop.counter != lista_emisiones %}
              
                  {{emisiones.0}},
              
                {% endif %} 
              {% if forloop.counter == lista_emisiones %}
              
                {{emisiones.0}}

              {% endif %}
              
              {% endfor %} ],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)',
                  'rgba(211, 84, 0, 0.2)',
                  'rgba(191, 201, 202, 0.2)',
                  'rgba(249, 231, 159, 0.2)',
                  'rgba(210, 180, 222, 0.2)',
                  'rgba(231, 76, 60, 0.2)',
                  'rgba(17, 122, 101, 0.2)',
                  'rgba(93, 173, 226, 0.2)',
                  'rgba(241, 196, 15, 0.2)',
                  'rgba(253, 237, 236, 0.2)',
                  'rgba(64, 247, 7, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)',
                  'rgba(211, 84, 0, 1)',
                  'rgba(191, 201, 202, 1)',
                  'rgba(249, 231, 159, 1)',
                  'rgba(210, 180, 222, 1)',
                  'rgba(231, 76, 60, 1)',
                  'rgba(17, 122, 101, 1)',
                  'rgba(93, 173, 226, 1)',
                  'rgba(241, 196, 15, 1)',
                  'rgba(253, 237, 236, 1)',
                  'rgba(64, 247, 7, 1)'
              ],
              borderWidth: 1
          }]
      },
      options:{
        scaleLabel: {
                    display: true,
                  },
      }

      
   
    });

    //ESTADOS DE LOS DOCUMENTOS
    var ctx = document.getElementById('myChart2').getContext('2d');

    var largo = 0;

    var myChart2 = new Chart(ctx, {
      type: 'horizontalBar',
      data: {
          labels: ['{% for value in lista_final %} {% if forloop.counter != lista_final_largo %} {{value.1}}', ' {% endif %} {% if forloop.counter == lista_final_largo %} {{value.1}} {% endif %} {% endfor %}'],
          datasets: [{
              label: 'Totales de documento por revisión', 
              data: [
                {% for value in lista_final %} 
                  {% if forloop.counter != lista_final_largo %} 

                    {{value.0}},

                  {% endif %} 

                  {% if forloop.counter == lista_final_largo %}
                  
                    {{value.0}}
                  
                  {% endif %}
                  
                {% endfor %}
              ],
              fill: false,
              backgroundColor: [
                  'rgba(209, 104, 210, 0.2)',
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(209, 104, 210, 1)',
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              xAxes: [{
                  ticks: {
                      min:0,
                      max: {{tamano_grafico_uno}},
                      stepSize: {{espacios_grafico_uno}}
                  },
                  scaleLabel: {
                    display: true,
                  },
                    gridLines: {
                    zeroLineColor: "black",
                    zeroLineWidth: 2
                  },
                  scaleLabel: {
                    display: true,
                  },
              }]
          }
      }
    });
  });
    //ESTATUS DOCUMENTOS TOTALES VS EMITIDOS POR SUBESTACION (MUESTRA HASTA EL FINAL)
    var ctx = document.getElementById('myChart3').getContext('2d');
    var myChart3 = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ['{% for emisiones in lista_total_documentos %} {% if forloop.counter != lista_total_documentos_largo %} {{emisiones.1}}', ' {% endif %} {% if forloop.counter == lista_total_documentos_largo %} {{emisiones.1}} {% endif %} {% endfor %}'],
          datasets: [
            {
              label: 'Documentos totales',
              data: [{% for emisiones in lista_total_documentos %} {{emisiones.0}}, {% endfor %}],
              label: 'Documentos Totales',
              data: [
                {% for emisiones in lista_total_documentos %}
                 {% if forloop.counter != lista_total_documentos_largo %} 

                  {{emisiones.0}},

                 {% endif %} 

                  {% if forloop.counter == lista_total_documentos_largo %}
              
                    {{emisiones.0}}
              
                  {% endif %}
              
                {% endfor %}], 
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)',
                  'rgba(211, 84, 0, 0.2)',
                  'rgba(191, 201, 202, 0.2)',
                  'rgba(249, 231, 159, 0.2)',
                  'rgba(210, 180, 222, 0.2)',
                  'rgba(231, 76, 60, 0.2)',
                  'rgba(17, 122, 101, 0.2)',
                  'rgba(93, 173, 226, 0.2)',
                  'rgba(241, 196, 15, 0.2)',
                  'rgba(253, 237, 236, 0.2)',
                  'rgba(64, 247, 7, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)',
                  'rgba(211, 84, 0, 1)',
                  'rgba(191, 201, 202, 1)',
                  'rgba(249, 231, 159, 1)',
                  'rgba(210, 180, 222, 1)',
                  'rgba(231, 76, 60, 1)',
                  'rgba(17, 122, 101, 1)',
                  'rgba(93, 173, 226, 1)',
                  'rgba(241, 196, 15, 1)',
                  'rgba(253, 237, 236, 1)',
                  'rgba(64, 247, 7, 1)'
              ],
              borderWidth: 1
          }, {
            label: 'Documentos Emitidos', 
              data: [ {% for emisiones in lista_total_documentos_emitidos %}
              {% if forloop.counter != lista_total_documentos_emitidos_largo %} 

              {{emisiones.0}},

              {% endif %} 

              {% if forloop.counter == lista_total_documentos_emitidos_largo %}
              
              {{emisiones.0}}
              
              {% endif %}
              
              {% endfor %}],
              backgroundColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)',
                  'rgba(211, 84, 0, 1)',
                  'rgba(191, 201, 202, 1)',
                  'rgba(249, 231, 159, 1)',
                  'rgba(210, 180, 222, 1)',
                  'rgba(231, 76, 60, 1)',
                  'rgba(17, 122, 101, 1)',
                  'rgba(93, 173, 226, 1)',
                  'rgba(241, 196, 15, 1)',
                  'rgba(253, 237, 236, 1)',
                  'rgba(64, 247, 7, 1)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)',
                  'rgba(211, 84, 0, 1)',
                  'rgba(191, 201, 202, 1)',
                  'rgba(249, 231, 159, 1)',
                  'rgba(210, 180, 222, 1)',
                  'rgba(231, 76, 60, 1)',
                  'rgba(17, 122, 101, 1)',
                  'rgba(93, 173, 226, 1)',
                  'rgba(241, 196, 15, 1)',
                  'rgba(253, 237, 236, 1)',
                  'rgba(64, 247, 7, 1)'
              ],
              borderWidth: 1
          }
          ]
      },
      options: {
         
          scales: {

              yAxes: [{
                  ticks: {
                      min:0,
                      max: {{tamano_grafico_tres}},
                      stepSize: {{espacios_grafico_tres}}
                  },
                  
                              
              }]
          }
      }
  });

   

</script>
<!--Curva S-->
<script>
//Curva S

		var chartData = {
			labels: ['{% for emisiones in lista_curva_s_fechas %} {% if forloop.counter != lista_curva_s_fechas_largo %} {{emisiones|date:"d-m-y"}}', '{% endif %} {% if forloop.counter == lista_curva_s_fechas_largo %} {{emisiones|date:"d-m-y"}} {% endif %} {% endfor %}'],
			datasets: [
      {
        type: 'line',
        label: 'Avance Esperado',
        backgroundColor: [{% for esperado in lista_curva_s_avance_esperado %} {% if forloop.counter != lista_curva_s_avance_esperado_largo %} 'rgba(255, 99, 132, 0.2)', {% endif %} {% if forloop.counter == lista_curva_s_avance_esperado_largo %} 'rgba(255, 99, 132, 0.2)' {% endif %} {% endfor %}],
        borderColor: [{% for esperado in lista_curva_s_avance_esperado %} {% if forloop.counter != lista_curva_s_avance_esperado_largo %} 'rgba(255, 99, 132, 1)', {% endif %} {% if forloop.counter == lista_curva_s_avance_esperado_largo %} 'rgba(255, 99, 132, 1)' {% endif %} {% endfor %}],
        borderWidth: 1,
        lineTension:0.18,
				fill: false,
				data: [{% for esperado in lista_curva_s_avance_esperado %} {{esperado.0}}, {% endfor %}]
			}, 
      {
				type: 'line',
            label: 'Avance Real a la fecha',
            backgroundColor: [{% for esperado in lista_curva_s_avance_real %} {% if forloop.counter != lista_curva_s_avance_real_largo %} {% if esperado.1 == 0 %} 'rgba(54, 162, 235, 1)', {% endif %} {% if esperado.1 == 1 %} 'rgba(7, 254, 3, 1)', {% endif %} {% endif %} {% if forloop.counter == lista_curva_s_avance_real_largo %} {% if esperado.1 == 0 %} 'rgba(54, 162, 235, 1)', {% endif %} {% if esperado.1 == 1 %} 'rgba(7, 254, 3, 1)', {% endif %} {% endif %} {% endfor %}],
            borderColor: [{% for esperado in lista_curva_s_avance_real %} {% if forloop.counter != lista_curva_s_avance_real_largo %} {% if esperado.1 == 0 %} 'rgba(54, 162, 235, 1)', {% endif %} {% if esperado.1 == 1 %} 'rgba(7, 254, 3, 1)', {% endif %} {% endif %} {% if forloop.counter == lista_curva_s_avance_real_largo %} {% if esperado.1 == 0 %} 'rgba(54, 162, 235, 1)', {% endif %} {% if esperado.1 == 1 %} 'rgba(7, 254, 3, 1)', {% endif %} {% endif %} {% endfor %}],
            borderWidth: 1,
            lineTension:0.18,
            fill: false,
            data: [{% for real_linea in lista_curva_s_avance_real %} {{real_linea.0}}, {% endfor %}],
       
			}, 
      {
				type: 'bar',
        label: 'Avance Real a la fecha (BARRAS)',
        backgroundColor: [{% for esperado in lista_curva_s_avance_real %} {% if esperado.1 == 0 %} 'rgba(88, 214, 141 , 0.4)', {% endif %} {% endfor %}],
        borderColor: [{% for esperado in lista_curva_s_avance_real %} {% if esperado.1 == 0 %} 'rgba(88, 214, 141 , 1)', {% endif %} {% endfor %}],
        fill: true,
        borderWidth: 1,
        data: [{% for real_barra in lista_curva_s_avance_real %} {{real_barra.2}}, {% endfor %}],
			}]
      
		};
    
		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myMixedChart = new Chart(ctx, {
				type: 'line',
				data: chartData,
				options: {
      
          barPercentage: 1,
					responsive: true,
					plugins: {
							tooltip: {
							mode: 'index',
							intersect: true
            },
            ticks: {
              beginAtZero: true,
              min: 0,
              stepSize: 1,
                   callback: function(value){return value+ "%"}

            },
            
					},
          scales: {
          yAxes: [{
          ticks: {
          min: 0,
          max: 100,
          callback: function(value) {
          return value + "%"
          }
          },
          scaleLabel: {
          display: true,
          }
          }]
          }
				}
			});
		};
	</script>
{% endblock content %}
      
