{% extends "account/login_base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <form class="form-group col-12 col-sm-12" method="post">{% csrf_token %}                    
            <div class="form-control col-12 col-sm-12">
              {{form|crispy}}
            </div>

            <input class="btn btn-primary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" type="submit" value="Guardar" >
                            
    </form>
 <script>
  $(function () {
    $("#id_date").datepicker({
      format:'dd/mm/yyyy',
    });
  });
</script>
      
    <script>
        $(function(){
      
          // showing modal with effect
          $('.modal-effect').on('click', function(){
            var effect = $(this).attr('data-effect');
            $('#modaldemo1').addClass(effect, function(){
              $('#modaldemo1').modal('show');
            });
            return false;
          });
      
          // hide modal with effect
          $('#modaldemo1').on('hidden.bs.modal', function (e) {
            $(this).removeClass (function (index, className) {
                return (className.match (/(^|\s)effect-\S+/g) || []).join(' ');
            });
          });
        });
    </script>
      

{% endblock content %}