
<!--{% extends "account/login_base.html" %}-->
{% load crispy_forms_tags %}

{% block content %}

      <div class="login-wrapper wd-300 wd-xs-350 pd-25 pd-xs-40 bg-white rounded shadow-base">
        <div class="signin-logo tx-center tx-28 tx-bold tx-inverse"><span class="tx-normal">[</span> Crear Proyectos <span class="tx-normal">]</span></div>
        <form  method="post">{% csrf_token %}  
        <div class="form-group">
         {{form|crispy}}
         </div><!-- form-group -->
       <input class="btn btn-primary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-10" type="submit" value="Guardar" >
       <input class="btn btn-warning tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-10" type="button" onClick="javascript:history.go(-1);" value="Volver">

      </form>

      </div><!-- login-wrapper -->
     
<script>
  $(function () {
    $("#id_date").datepicker({
      format:'yyyy-mm-dd',
    });
  });
</script>
      
{% endblock content %}