{% extends "index-base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class="br-mainpanel" style="position: relative;">
<div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item"> {{proyecto}}</a>
      <a class="breadcrumb-item" href="{% url 'PanelCarga' %}">Panel de Carga</a>      
      <span class="breadcrumb-item active">Crear Documento</span>
    </nav>
</div>

<!--Titulo-->
  <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <h4 class="tx-gray-800 mg-b-5">Formulario para crear documentos</h4>
    <p class="mg-b-0"></p>
  </div>
<div>
<div class="br-pagebody mg-t-5 pd-x-30">
<div class="br-section-wrapper">
    <form method="POST">{% csrf_token %}
        <label class="form-control col-12 col-sm-12">
        {{ form|crispy }}
        
        <input class="btn btn-primary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" type="submit" value="Guardar">
        <input class="btn btn-warning tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" type="button" onClick="javascript:history.go(-1);" value="Volver">
        </div>
        
      
    </form>
</div>
</div>
</div>
<script>
  $(function () {
    $("#id_date").datepicker({
      format:'dd/mm/yyyy',
    });
  });
</script>

{% endblock content %}