{% extends "index-pdc.html" %}



{% block content %}
<div class="br-mainpanel" style="position: relative;">
  <div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item"> {{proyecto}}</a>
      <a class="breadcrumb-item" href="{% url 'PanelCarga' %}">Panel de Carga</a>      
      <span class="breadcrumb-item active"> Eliminar Registros</span>
    </nav>
</div>
<div class="br-pagebody mg-t-5 pd-x-30">
    <div id="modaldemo5" >
              <div class="modal-dialog" role="document">
                <div class="modal-content tx-size-sm">
                  <div class="modal-body tx-center pd-y-20 pd-x-20">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <i class="icon icon ion-ios-close-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>
                    <h4 class="tx-danger  tx-semibold mg-b-20">ATENCIÓN: Esta apunto de eliminar TODOS los registros!</h4>                    
                     <form method="POST">{% csrf_token %}
                    <p class="mg-b-20 mg-x-20">
                        <p class="mg-b-0 tx-uppercase tx-bold tx-inverse tx-poppins mg-t-10">
                        Se eliminara todos los datos relacionados a estos documentos ¿Estás seguro de qué quieres eliminar el/los {{cantidad}} registros ?<br></p>
                        <input type="submit" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20" onclick="windows.close();" value="Confirmar">
                    </p>
                    </form>
                    
                    </div><!-- modal-body -->
                  </div><!-- modal-content -->
                </div><!-- modal-dialog -->
              </div><!-- modal -->
  </div>
</div>
{% endblock content %}
