{% extends 'index-pdc.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="br-mainpanel" style="position: relative;">

  <div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item"> {{proyecto}} </a>
      <a class="breadcrumb-item" href="{% url 'PanelCarga' %}">Panel de Carga</a>      
      <span class="breadcrumb-item active">Listado de Errores</span>
    </nav>
  </div>
<!--Titulo-->
  <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <h4 class="tx-gray-800 mg-b-5">Listado de Errores de importacion.</h4>
    <p class="mg-b-0"></p>
  </div>
  <div class="br-pagebody mg-t-5 pd-x-30">

 <div class="rounded table-responsive">

   <div class="pd-x-10 pd-sm-x-10 pd-t-10 pd-sm-t-10 mg-b-10">
    <input onClick="javascript:history.go(-1);" class="btn btn-warning  tx-11 tx-uppercase pd-y-12 pd-x-25 pd-t-10 pd-b-10 tx-mont tx-medium" type="button" value="volver">
   </div>
        <table class="table table-striped mg-b-0 table-bordered table-primary" id="tblData">
          <thead>
            <tr>
              <th style="text-align: center;border: 2px;border-color: grey; color: white;">Descripción</th>
              <th style="text-align: center;border: 2px;border-color: grey; color: white;">Código</th>
              <th style="text-align: center;border: 2px;border-color: grey; color: white;">Tipo</th>
              <th style="text-align: center;border: 2px;border-color: grey; color: white;" colspan="3">Fecha Programada de Emision</th>              
            </tr>
          </thead>
          <tbody>
            <!--Loop Listar Documento-->
            {% for error in errores %}
            <tr>
                <th style="text-align: center;border: 2px;border-color: grey; color: black;" > {{error.1}} </th>
                <th style="text-align: center;border: 2px;border-color: grey; color: black;" > {{error.2}} </th>
                <th style="text-align: center;border: 2px;border-color: grey; color: black;" > {{error.3}} </th>
                <th style="text-align: center;border: 2px;border-color: grey; color: black;" > {{error.4}} </th>
                <th style="text-align: center;border: 2px;border-color: grey; color: black;" > {{error.5}} </th>
                <th style="text-align: center;border: 2px;border-color: grey; color: black;" > {{error.6}} </th>
            </tr>           
            {% empty %}

            {% if exception %} 

              <div class="modal fade in" id="myModal" role="dialog" style="display: block; padding-right: 16px;">
                <div class="modal-dialog" role="document">
                  <div class="modal-content tx-size-sm">
                    <div class="modal-body tx-center pd-y-20 pd-x-20">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    <i class="icon icon ion-ios-close-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>
                    <h4 class="tx-danger  tx-semibold mg-b-20">ERROR!!</h4>      
                      <p class="mg-b-20 mg-x-20">{{exception}}</p>
                      <button onClick="javascript:history.go(-1);" type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20" data-dismiss="modal" aria-label="Close">
                        CONTINUAR</button>
                      </div><!-- modal-body -->
                    </div><!-- modal-content -->
                  </div><!-- modal-dialog -->
              </div>
            {% else %}
                <div class="modal fade in" id="myModal" role="dialog" style="display: block; padding-right: 16px;">
                <div class="modal-dialog" role="document">
                  <div class="modal-content tx-size-sm">
                    <div class="modal-body tx-center pd-y-20 pd-x-20">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <i class="icon ion-ios-checkmark-outline tx-100 tx-success lh-1 mg-t-20 d-inline-block"></i>
                      <h4 class="tx-success tx-semibold mg-b-20">FELICITACIONES!</h4>
                      <p class="mg-b-20 mg-x-20">NO HUBIERON ERRORES AL IMPORTAR LOS DATOS</p>
                      <button onClick="javascript:history.go(-1);" type="button" class="btn btn-success tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20" data-dismiss="modal" aria-label="Close">
                        CONTINUAR</button>
                      </div><!-- modal-body -->
                    </div><!-- modal-content -->
                  </div><!-- modal-dialog -->
              </div>
            {% endif %}
          
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
          <script type="text/javascript">
           $(function(){
            $("#myModal").modal();
           });
          </script>
            {% endfor %}
            <!--Fin Loop-->
          </tbody>
        </table>
         </div>
  </div>
</div>
{% endblock content %}

