
{% extends "account/login_base.html" %}
{% load crispy_forms_tags %}

{% block content %}
 <div class="login-wrapper wd-300 wd-xs-350 pd-25 pd-xs-40 bg-white rounded shadow-base">
       
  {% include "messege.html" %}

<form method="post">{% csrf_token %}

    {{ form|crispy }}
    <input class="btn btn-teal "type="submit" value="ELEGIR">
    <button class="btn btn-warning tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-l-10" onClick="javascript:history.go(-1);" type="submit"> volver</button>

</form>
</div>
{% endblock content %}