{% extends 'index-base.html' %}

{% block navegacion %}
  <div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item"> {{proyecto}} </a>
      <a class="breadcrumb-item" href="{% url 'PanelCarga' %}">Panel de Carga</a>      
      <span class="breadcrumb-item active">Listado de Errores</span>
    </nav>
  </div>
{% endblock navegacion %}

{% block content %}

<!--Titulo-->
  <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <h4 class="tx-gray-800 mg-b-5">Listado de Errores de importacion.</h4>
    <p class="mg-b-0"></p>
  </div>

 <div class="rounded table-responsive">
        <table class="table table-striped mg-b-0 table-bordered table-primary" id="tblData">
          <thead>
            <tr>
              <th style="text-align: center;border: 2px;border-color: grey; color: white;">Nombre</th>
              <th style="text-align: center;border: 2px;border-color: grey; color: white;">Especialidad</th>
              <th style="text-align: center;border: 2px;border-color: grey; color: white;">Descripcion <br>Documentos</th>
              <th style="text-align: center;border: 2px;border-color: grey; color: white;">N° Documento <br>Contractual</th>
              <th style="text-align: center;border: 2px;border-color: grey; color: white;" colspan="2">Fecha Programada de Emision</th>              
            </tr>
          </thead>
          <tbody>
            <!--Loop Listar Documento-->
            {% for error in errores %}
            <tr>
                <th style="text-align: center;border: 2px;border-color: grey; color: black;" > {{error.1}} </th>
                <th style="text-align: center;border: 2px;border-color: grey; color: black;" > {{error.2}} </th>
                <th style="text-align: center;border: 2px;border-color: grey; color: black;" > {{error.3}} </th>
                <th style="text-align: center;border: 2px;border-color: grey; color: black;" > {{error.4}} </th>
                <th style="text-align: center;border: 2px;border-color: grey; color: black;" > {{error.5}} </th>
                <th style="text-align: center;border: 2px;border-color: grey; color: black;" > {{error.6}} </th>
               
            </tr>           
            {% endfor %} 
            <!--Fin Loop-->
          </tbody>
        </table>
        <input onClick="javascript:history.go(-1);" class="btn btn-warning btn-block tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" type="button" value="volver">
      </div>
{% endblock content %}

