{% extends "index-pdc.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="br-mainpanel" style="position: relative;">

<div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item"> {{proyecto}}</a>
      <a class="breadcrumb-item" href="{% url 'PanelCarga' %}">Panel de Carga</a>      
      <span class="breadcrumb-item active">Editar Documento</span>
    </nav>
</div>
<!--Titulo-->
  <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <h4 class="tx-gray-800 mg-b-5"> Editar el documentos</h4>
    <p class="mg-b-0"></p>
  </div>
  {% include "messege.html" %}
  <div class="br-pagebody mg-t-5 pd-x-30">
<div class="br-section-wrapper">
    <form method="post">{% csrf_token %}
    {% for f in form  %}
    <h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 mg-t-80 mg-b-10">Codigo Documento</h6>
       <div class="col-md-8" style="margin:0px auto"> 

               {{ f|crispy }}
       
       </div>
        <br>
    {% endfor %}
        
        <input class="btn btn-primary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" type="submit" value="Guardar">
        <input class="btn btn-warning tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" type="button" onClick="javascript:history.go(-1);" value="Volver">

    </form>
</div>
</div>
</div>
{% endblock %}